{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="../start/childcare" method="get" class="form">
                <h1 class="govuk-heading-l">
                    Your limited company details
                </h1>
                <p>We may check the information you give us. </p>
               <!--  <p>We need this to help you save and return to your claim.</p> -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        </legend>
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-!-width-three-quarters bold-label" for="limitedCoName">
                                Limited company name
                            </label>
                            <input class="govuk-input govuk-!-width-three-quarters" id="limitedCoName" name="limitedCoName" type="text" aria-describedby="first-name-real">
                        </div>
                         <div class="govuk-form-group">
                            <label class="govuk-label govuk-!-width-three-quarters bold-label" for="limitedCoNumber">
                                Limited company number
                            </label>
                                                        <span id="email-hint" class="govuk-hint">
             You can get your limited company number from <a href="https://www.gov.uk/get-information-about-a-company" target="_blank">Companies House</a>
            </span>
                            <input class="govuk-input govuk-!-width-three-quarters" id="limitedCoNumber" name="limitedCoNumber" type="text" aria-describedby="first-name-real">
                        </div>

                         <div class="govuk-form-group">
                            <label class="govuk-label govuk-!-width-three-quarters bold-label" for="limitedCoPhone">
                               Contact phone number
                            </label>
                            <input class="govuk-input govuk-!-width-three-quarters" id="limitedCoPhone" name="limitedCoPhone" type="text" aria-describedby="last-name-real">
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-!-width-three-quarters bold-label" for="limitedCoEmail">
                                Contact email address
                            </label>
                            <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
                            <input class="govuk-input govuk-!-width-three-quarters" id="limitedCoEmail" name="limitedCoEmail" type="text" aria-describedby="limitedCoEmail">
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button">Continue</button>
                <!--   <a  class="govuk-button clear-button" href="confirmEmail" >Cancel and return</a>  -->
            </form>
        </div>
    </div>
    {% endblock %}