{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="selfemployedornotroute">
                <!-- <h1 class="govuk-heading-xl">What is your employment status?</h1> -->
                <!-- <p>You can claim for loss of earnings if </p> -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                         
                            <h1 class="govuk-fieldset__heading">
                                {% include "includes/cps/whatDay.html" %}What is your employment status?
                            </h1>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="employedornot" name="employedornot" type="radio" value="Employed">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Employed, including director of a limited company
                                </label>
                            </div>
 <!--                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="employedornot" name="employedornot" type="radio" value="Self employed">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                   Director of a limited company
                                </label>
                            </div> -->
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="employedornot" name="employedornot" type="radio" value="Self employed">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                   Self-employed
                                </label>
                            </div>
<!--                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="workornot" name="workornot" type="radio" value="Not working">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                   Not working
                                </label>
                            </div> -->
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}