{% extends "layout.html" %}
{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block header %}
<!-- Blank header with no service name for the start page -->
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Claim witness expenses</h1>
          <p class="linksAtTop">Contents</p>
        <p class="linksAtTop">&#8212 Start your claim</p>
      
       <!-- <p class="linksAtTop">&#8212 <a href="guidance/whoClaim">Who's claiming</a></p> -->
        <p class="linksAtTop">&#8212 <a href="guidance/pay">Food and drink</a></p>
        <p class="linksAtTop">&#8212 <a href="guidance/study">Travel </a></p>
        <p class="linksAtTop">&#8212 <a href="guidance/courses">Overnight stays</a></p>
        <p class="linksAtTop">&#8212 <a href="guidance/provider">Loss of earnings</a></p>
        <p class="linksAtTop">&#8212 <a href="guidance/apply">Childcare </a></p>
        <p class="linksAtTop">&#8212 <a href="guidance/adult"> Adult care </a></p>
        <p class="linksAtTop">&#8212 <a href="guidance/other"> Other expenses </a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m">Start your claim
        </h2>
        <p>Use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>claim prosecution witness expenses in English and Welsh criminal courts</li>
        </ul>
        <a href="./start/whatyoullneed" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">You can claim expenses if you are a:</p>
                      <ul class="govuk-list govuk-list--bullet">
                      <li>witness</li>
                      <li>parent or guardian of a witness under 18  </li>

                    <li>person eligible to claim, for example you are helping a witness attend court</li>
                        <li>carer of an adult witness
  </li>
                    </ul>

                    

                           <div class="govuk-inset-text">
            <p>If you're helping someone else, answer the questions as if you are them.</p>
        </div>


<!--         <p class="govuk-body">
            You must have:</p>
        <ul class="govuk-list govuk-list--bullet">

            <li>an email address which you can access</li>
            <li>receipts or a satisfactory reason for not providing evidence of your <br />payment for:</li>
            <ul class="govuk-list govuk-list--bullet">
                <li>train</li>
                <li>coach</li>
                <li>taxi</li>
                <li>parking</li>
                <li>plane</li>
                <li>ferry</li>
            </ul>
            <li>proof if you are claiming for:</li>
            <ul class="govuk-list govuk-list--bullet">
                <li>overnight stays</li>
                <li>lost income if self-employed</li>
                <li>childcare</li>
                <li>adult care</li>
      
            </ul>
        </ul> -->

           <p class="govuk-body">
            You must be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>upload receipts as a PDF or an image</li>
            <li>provide your bank account details if you want your expenses to be paid into a UK bank or building society, or non UK bank
            </li>
            <li>provide a UK address if you want to be paid by cheque
            </li>
        </ul>
        <p>We will deal with your claim as quickly as possible and, as long as you have filled the form in correctly, we aim to pay within 10 working days.</p>
        <!-- <p>The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.</p> -->
        <div class="govuk-inset-text">
            <p>There’s a different process for <a rel="external" href="https://www.mygov.scot/claim-court-expenses/">claiming expenses in Scotland</a> and <a rel="external" href="https://www.ppsni.gov.uk/witness-expenses">claiming expenses in Northern Ireland</a>.</p>
        </div>
            {% include "includes/cps/v11/help.html" %}
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
</div>
{% endblock %}