{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Days away from work to go to court
        </h1>
        <!-- <p>   If you were away from home or work for less than 5 hours in one day you can claim £2.25.</p> -->
        <!-- <p>   You can claim £2.25 for each day you are away from home or work for less than 5 hours.</p> -->
        <form action="lostIncome/loseMore" method="get" class="form">
            <div class="govuk-form-group">
                <label class="govuk-label  bold-label" for="code">
                    How many days were you away for up to 4 hours (half day)?
                </label>
                <span id="email-hint" class="govuk-hint">
                    This includes travelling to and from court
                </span>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="self4hours" name="self4hours" type="text" spellcheck="false">
                </div>
            </div>
                        <div class="govuk-form-group">
                <label class="govuk-label  bold-label" for="code">
                    How many days were you away for more than 4 hours (full day)?
                </label>
                <span id="email-hint" class="govuk-hint">
                    This includes travelling to and from court
                </span>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="selffullday" name="selffullday" type="text" spellcheck="false">
                </div>
            </div>
            <button class="govuk-button">Continue</button>
        </form>
    </div>
    </main>
</div>
{% endblock %}