{% set areas = [
    { value: "01", name: "Bedfordshire" },
    { value: "02", name: "Cambridgeshire" },
    { value: "03", name: "Cheshire" },
    { value: "04", name: "Cleveland" },
    { value: "05", name: "Cumbria" },
    { value: "06", name: "Derbyshire" },
    { value: "07", name: "Devon and Cornwall" },
    { value: "08", name: "Dorset" },
    { value: "09", name: "Durham" },
    { value: "10", name: "Dyfed Powys" },
    { value: "11", name: "Essex" },
    { value: "12", name: "Gloucestershire" },
    { value: "13", name: "Greater Manchester" },
    { value: "14", name: "Gwent" },
    { value: "15", name: "Hampshire & IOW" },
    { value: "16", name: "Hertfordshire" },
    { value: "17", name: "HMCPSI" },
    { value: "18", name: "Humberside" },
    { value: "19", name: "Kent" },
    { value: "20", name: "Lancashire" },
    { value: "21", name: "Leatherhead" },
    { value: "22", name: "Leicestershire" },
    { value: "23", name: "Lincolnshire" },
    { value: "24", name: "London" },
    { value: "25", name: "London North" },
    { value: "26", name: "London South" },
    { value: "27", name: "Merseyside" },
    { value: "28", name: "Norfolk" },
    { value: "29", name: "North Wales" },
    { value: "30", name: "North Yorkshire" },
    { value: "31", name: "Northamptonshire" },
    { value: "32", name: "Northumbria" },
    { value: "33", name: "Nottinghamshire" },
    { value: "34", name: "Records Management Team (RMT)" },
    { value: "35", name: "RMU Area" },
    { value: "36", name: "South Wales" },
    { value: "37", name: "South Yorkshire" },
    { value: "38", name: "Stafford" },
    { value: "39", name: "Suffolk" },
    { value: "40", name: "Surrey" },
    { value: "41", name: "Sussex" },
    { value: "42", name: "Thames Valley" },
    { value: "43", name: "Warwickshire" },
    { value: "44", name: "West Mercia" },
    { value: "45", name: "West Midlands" },
    { value: "46", name: "West Yorkshire" },
    { value: "47", name: "Wilstshire" }
] %}