{% set apprenticeships = [{
	value: "01",
	name: "Aldershot Magistrates' Court ",
	level: 2,
	standard: true
},
{
	value: "999",
	name: "Basingstoke Magistrates' Court",
	level: 2,
	standard: true
},
{
	value: "888",
	name: "Bexley Magistrates' Court",
	level: 2,
	standard: true
},
{
	value: "08",
	name: "Bromley Magistrates' Court",
	level: 2,
	standard: true
},
{
	value: "03",
	name: "City of London Magistrates' Court",
	level: 2,
	standard: true
},
{
	value: "02",
	name: "Croydon Magistrates' Court",
	level: 2,
	standard: true
},
{
	value: "34",
	name: "Isle of Wight Magistrates' Court",
	level: 2,
	standard: true
},
{
	value: "34",
	name: "Lavender Hill Magistrates' Court",
	level: 2,
	standard: true
},
{
	value: "111",
	name: "Poole Magistrates' Court",
	level: 7,
	standard: true
},
{
	value: "272",
	name: "Portsmouth Magistrates' Court",
	level: 7,
	standard: true
},
{
	value: "325",
	name: "Salisbury Magistrates' Court",
	level: 7,
	standard: true
},
{
	value: "34325",
	name: "Swindon Magistrates' Court",
	level: 7,
	standard: true
},
{
	value: "176",
	name: "Westminster Magistrates' Court",
	level: 3,
	standard: true
},
{
	value: "000",
	name: "Southampton (West Hampshire) Magistrates' Court",
	level: 3,
	standard: true
},
{
	value: "76876",
	name: "Weymouth Magistrates' Court",
	level: 3,
	standard: true
},

{
	value: "447-2-1",
	name: "Wimbledon Magistrates' Court",
	level: 3
}]
%}