{% set apprenticeships = [{
	value: "01",
	name: "City of London Magistrates' Court ",
	level: 2,
	standard: true
},
{
	value: "03",
	name: "Bromley Magistrates' Court",
	level: 2,
	standard: true
},
{
	value: "02",
	name: "Croydon Magistrates' Court",
	level: 2,
	standard: true
},
{
	value: "34",
	name: "Lavender Hill Magistrates' Court",
	level: 2,
	standard: true
},
{
	value: "272",
	name: "Portsmouth Magistrates' Court",
	level: 7,
	standard: true
},
{
	value: "176",
	name: "Westminster Magistrates' Court",
	level: 3,
	standard: true
},
{
	value: "199",
	name: "Wimbledon Magistrates' Court",
	level: 3,
	standard: true
},
{
	value: "447-2-1",
	name: "Woolwich Magistrates' Court",
	level: 3
}]
%}