{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="childcareRoute">
                <h1 class="govuk-heading-xl">Childcare </h1>
                        <p>If you paid someone to look after your children while you were at court and have an invoice from an OFSTED registered childcare provider you can claim for the full cost of childcare. If you do not have one, you can claim up to £67 per day. </p>
                                        <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    What is OFSTED registered childcare?
                  </span>
                </summary>
                <div class="govuk-details__text">
                  Explain what OFSTED is....
                </div>
              </details>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         
                            <label class="govuk-label  bold-label" for="firstName">
                                Do you want to claim for childcare while you were in court? 
                            </label>
                        </legend>
                   <!--      <p>For instance train, tube or bus tickets, air, ferry or mileage in a car, motorbike or bicycle. </p> -->
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="childcare" name="childcare" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="childcare" name="childcare" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}