{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Claim witness expenses
        </h1>
      <!--   <p class="govuk-body-l">Do the thing with witness expenses</p> -->
        <p>
            Use this service to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>claim expenses for being a witness in English and Welsh criminal courts</li>
        </ul>
       
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">
            You must:
            <ul class="govuk-list govuk-list--bullet">
                <li>have your receipts if you want to claim for train, bus and taxi transport, parking, overnight stays, childcare (if claiming more than £67 per day), pet sitting, covid tests and visas.</li>
                <li>have your receipts in a format that can be uploaded - for instance a pdf, photograph or an email</li>
                <li>if you want to be paid into a bank/building society, have your sort code and account number</li>
            </ul>
             <p>You can save your application and come back to it at any time.</p>
            <div style="margin-top:35px"></div>
            <form action="start/details">
                <button class="govuk-button govuk-button--start">Start now</button>
            </form>
        </p>
    </div>
</div>
{% endblock %}