{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="overnightStayRoute">
                <h1 class="govuk-heading-xl">Overnight stay </h1>
                <p>You can claim expenses for an overnight stay. Everyone who stayed overnight can claim for a fixed allowance to cover food and drink.</p> <p>If you paid for your overnight stay you can claim between £65 and £95 to cover the hotel cost depending on the location. </p>
             <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Amounts you can claim
                  </span>
                </summary>
                <div class="govuk-details__text">
                 <p> Attendance overnight in London, Birmingham, Manchester, Leeds, Liverpool and Newcastle upon Tyne - £95.00 </p>
                <p> Attendance elsewhere - £65.00 </p>
                <p>The CPS will normally arrange the hotel accommodation for witnesses and pay for it. Where an
evening meal is also included you will be entitled to the Personal Incidental Allowance only. Where no
evening meal is included you will also be entitled to the Night Subsistence Allowance. These are fixed
amount towards the cost of meals, refreshments, accommodation and other expenses where you had to
stay away from home. The overnight allowance covers an absence of 24 hours and day subsistence is
then only paid if you were away for more than 24 hours.</p>
<p>Night Subsistence Allowance - £21.00 </p>
<p>Personal Incidental Allowance - £5.00 </p>
<p> If you stayed with family or friends, in place of the above, you can claim: </p>
<p>Night Subsistence Allowance - £25 </p>
                </div>
              </details>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         
                            <label class="govuk-label  bold-label" for="firstName">
Do you want to claim for an overnight stay?                             </label>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="overnightStay" name="overnightStay" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="overnightStay" name="overnightStay" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}