{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="petSittingRoute">
                <h1 class="govuk-heading-xl">Pet sitting</h1>
                         <p>You will need to provide receipts to claim for pet sitting expenses up to a maximum of £67 per day. </p>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         
                            <label class="govuk-label  bold-label" for="firstName">
                                Do you want to claim for a pet sitter while you were in court?
                            </label>
                        </legend>
               
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="petsitting" name="petsitting" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="petsitting" name="petsitting" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}