{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            What is your home postcode?
        </h1>
<p> We may check the distance and travel time from your home to the court to make sure you are eligible to claim for your stay.</p>
        <form action="whereHotelRoute" method="get" class="form">
            <div class="govuk-form-group">
<!--                 <label class="govuk-label govuk-!-width-three-quarters bold-label" for="code">
                    Enter code
                </label>
 -->             
 <!--    <span id="email-hint" class="govuk-hint">
             For example 1, 2 or 10
            </span> -->
               <div class="govuk-input__wrapper">
    <input class="govuk-input govuk-input--width-10" id="homePostcode" name="homePostcode" type="text" spellcheck="false">
   
  </div>
            </div>
            <button class="govuk-button">Continue</button>
        </form>
      
    </div>
    </main>
</div>
{% endblock %}