{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="whichCourt" method="get" class="form">
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group">
                       <h1 class="govuk-label-wrapper">
                                                  <label class="govuk-label govuk-label--l" for="postcode">
                                                    What is the witness's date of birth?
                                                  </label>
                                                </h1>
                    <span id="email-hint" class="govuk-hint">
                        For example 31 3 1980
                    </span>
                    <div class="govuk-date-input" id="Court-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="court-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="court-day" name="court-day" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="court-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="court-month" name="court-month" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="court-year" name="court-year" type="text" inputmode="numeric">
                            </div>
                        </div>
                    </div>
            </fieldset>
    </div>
</div>
<button class="govuk-button">Continue</button>
<!--   <a  class="govuk-button clear-button" href="confirmEmail" >Cancel and return</a>  -->
</form>
{% include "includes/cps/v11/help.html" %}
</div>
</div>
{% endblock %}