{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        
                <h1 class="govuk-heading-l">You cannot claim expenses for this meeting</h1>
                <!-- <p>You cannot use this service to claim your witness expenses.</p> -->
                <p>You can only claim expenses for a face-toface CPS Pre-Trial meeting.</p>
                <p>If you need help, call 01924 205 200 or email <a href="mailto:witness.query@cps.gov.uk"> witness.query@cps.gov.uk</a></p>

         
        </div>
    </div>
    </main>
</div>
{% endblock %}