{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="foodanddrink">
                <h1 class="govuk-heading-xl">Who are you claiming expenses for?</h1>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
      <!--                   <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         
                            <label class="govuk-label  bold-label" for="firstName">
                                Are you a doctor, dentist, vet, lawyer, accountant or a nurse practioner standing in for a doctor?
                            </label>
                        </legend> -->
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="witnessType" name="witnessType" type="radio" value="Me">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Me
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="witnessType" name="witnessType" type="radio" value="Someone else">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    Someone else
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}