{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
                      <div style="display:flex">
                     <div style="display:flex">
              {% include "includes/cps/whatDay.html" %} <span class="govuk-caption-l">- Car</span>
          </div> 
          </div>
          Your car journey(s)
        </h1>
                   <p>You can claim  {% if data.higherMile == "Yes" %} 45p {% else %} 25p {% endif %} per mile.</p>

<p>You don't need receipts for mileage claims.</p>
  
        <form action="parking" method="get" class="form">
            <div class="govuk-form-group">
              
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
               How many miles are you claiming for?
</legend>
     <!--            <label class="govuk-label  bold-label" for="code">
                   Total miles
                </label> -->
     <!--            <span id="email-hint" class="govuk-hint">
                    This includes travelling to and from court
                </span> -->
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="milesClaimed" name="milesClaimed" type="text" spellcheck="false">
                    <div class="govuk-input__suffix" aria-hidden="true">miles</div>
                </div>
                <p style="margin-top:15px"> You can use <a href="https://www.google.com/maps" target="_blank">Google Maps</a> to calculate your mileage.</p>
            </div>


            <button class="govuk-button">Continue</button>
        </form>

    </div>
    </main>
</div>
{% endblock %}