{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="childRouterA">
                <!-- <h1 class="govuk-heading-xl">Are you</h1> -->

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint"> 
                                    <div class="govuk-radios" data-module="govuk-radios">
                                      
                                                    <h1 class="govuk-label-wrapper">
                                                  <label class="govuk-label govuk-label--l" for="postcode">
                                                  Does your claim include expenses for a child witness? 
                                                  </label>
                                                </h1>
                                                <p> </p>

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="claimChild" name="claimChild" type="radio" value="yes" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                               Yes
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="claimChild" name="claimChild" type="radio" value="no" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                                No
                                            </label>
                                        </div>
 
                                </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}