{% extends "layout.html" %}

{% block beforeContent %}

{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        
                <h1 class="govuk-heading-xl">Use the blue form to claim your witness expenses</h1>
                <p>You cannot use this service to claim your witness expenses.</p>
                <p>Use the blue form given to you by the court you attended to complete your claim.</p>
                <p>Any problems, call 01924 205 200 </p>

         
        </div>
    </div>
    </main>
</div>
{% endblock %}