{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="overnightstay/paidAlready3">
                <h1 class="govuk-heading-l">Staying overnight</h1>
                <p> If you paid for your accommodation you can claim up to £95 a night.</p>
                <p> We will also pay you a fixed amount of £26 a night towards your food and drink.</p>
                <div class="govuk-inset-text">
                    You must provide a receipt if you paid for your overnight stay.
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
<!--                         <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <label class="govuk-label  bold-label" for="firstName">
                                Did you pay for your accommodation?
                            </label>
                        </legend> -->
                                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
             For the day you are claiming, did you pay for your accommodation?
</legend>


                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="overnightPaid" name="overnightPaid" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="overnightPaid" name="overnightPaid" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}