{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Time off work
        </h1>
                   <p>We will pay you a fixed amount towards the income you lost each day because you went to court, depending on how long you were away from work:</p>
                      <ul class="govuk-list govuk-list--bullet">
                      <li>£33.50 for less than 4 hours  </li>
                      <li>£67 for more than 4 hours </li>
                 <!--      <li>£9.75 for more than 10 hours   </li> -->
                    </ul>
                                                          <div class="govuk-inset-text">
You will need to provide your employer's details, your limited company details or a payslip.
</div>
                   <!--  <p>You do not need receipts for food and drink claims. </p> -->
        <form action="unpaidDay/confirmUnpaid" method="get" class="form">
         <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
               For the day you are claiming, how many hours were you away from work?
</legend>
                                     <!--           <label class="govuk-label  bold-label" for="code">
                                                How many hours were you away from home or work?
                                            </label> -->
                                            <span id="email-hint" class="govuk-hint">
                                                This includes travelling to and from court
                                            </span>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="unpaidDayTime" name="unpaidDayTime" type="radio" value="There is no public transport" data-aria-controls="conditional-contact">
                                            <label class="govuk-label govuk-radios__label" for="contact">
                                             less than 4 hours
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="unpaidDayTime" name="unpaidDayTime" type="radio" value="Saving time and money" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                            more than 4 hours                                          </label>
                                        </div>
<!--                                         <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="foodTime" name="foodTime" type="radio" value="Disabled or infirm" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                               more than 10 hours
                                            </label>
                                        </div> -->
                                </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
    </div>
    </main>
</div>
{% endblock %}