{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="travelRoute3">
                <h1 class="govuk-heading-xl">Claiming for your travel</h1>
                      <p>You can claim travel costs to and from court.</P>
<!--                         <p>If you used a car, motorbike or bicycle you can claim a fixed amount per mile.</P>
 -->                        <p>You need to show receipts for:</P>
                      <ul class="govuk-list govuk-list--bullet">
                      <li>train</li>
                      <li>coach</li>
                      <li>parking</li>
                      <li>taxi</li>
                    </ul>

                  <p>You won't need to show receipts for:</P>
                      <ul class="govuk-list govuk-list--bullet">
                      <li>London transport (including tube, bus, Docklands Light Railway (DLR), Elizabeth line, overground)</li>
                      <li>bus/metro/tram outside London</li>
                      <li>other driving costs such as congestion charge or tolls</li>
                    </ul>
 

                <p>You can claim a fixed amount per mile for:</P>
                      <ul class="govuk-list govuk-list--bullet">
                      <li>car</li>
                      <li>motorbike</li>
                      <li>bicycle</li>
                    </ul>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         
                            <label class="govuk-label  bold-label" for="firstName">
                                    Do you want to claim for travel to and from the court?</label>
                        </legend>
                  
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="travelclaim" name="travelclaim" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="travelclaim" name="travelclaim" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}