{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="higherMileRoute">
                <h1 class="govuk-heading-l">
                 <span class="govuk-caption-l">Car</span>
               Claiming mileage for your car</h1>
                      <p>If you drove to court, you can normally claim 25p per mile.</p><p> You can claim the higher rate of 45p per mile if:</P>

                      <ul class="govuk-list govuk-list--bullet">
                      <li> there was no public transport available</li>
                      <li> using your car was cheaper or faster than public transport</li>
                      <li> you or your passenger has a disability </li>
                       <li>you had no choice but to use your own car</li>
                
                    </ul>
 

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
<!--                                         <label class="govuk-label  bold-label" for="code">
                   Are you claiming the higher rate?
                </label> -->
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
               Are you claiming the higher rate?
</legend>
     
                  
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="higherMile" name="higherMile" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="higherMile" name="higherMile" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}