{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
                <h1 class="govuk-heading-xl">Are you able to claim expenses online?</h1>
                <p>You can claim expenses online if you:</p>
                                  <ul class="govuk-list govuk-list--bullet">
                                                  <li>are over 18</li>
                      <li>are claiming only for yourself</li>
                      <li>have not had travel costs paid for in advance by the Crown Prosecution Service (CPS), the police or the court</li>
                       <li>did not travel to court by air or sea</li>
                    </ul>
                    <form method="get" action="screenerRoute">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                       
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="screener" name="screener" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="screener" name="screener" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}