{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Confirm your email address
        </h1>
        <p> We've emailed a confirmation code to {{ data['email'] }}. Check your inbox and enter the code we sent you.</p>
        <p></p>
        <form action="../../foodanddrink/foodRadio" method="get" class="form">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-width-three-quarters bold-label" for="code">
                    Enter code
                </label>
                <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
                <input class="govuk-input govuk-input--width-10" id="code" name="code" type="text" aria-describedby="code">
            </div>
            <button class="govuk-button">Continue</button>
        </form>
        <p style="margin-top:0">If you didn't receive the code sent to {{ data['email'] }} please check your junk folder or <a href="emailSent">resend the email</a> </p>
        {% include "includes/cps/v11/help.html" %}
    </div>
    </main>
</div>
{% endblock %}