{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Food and drink
                <span class="govuk-caption-xl">Option 3</span>
        </h1>
                   <p>We will pay you a fixed amount towards the cost of food and drink, depending on how long you are away from home or work:</p>
                      <ul class="govuk-list govuk-list--bullet">
                      <li>£2.25 for less than 5 hours  </li>
                      <li>£4.50 for between 5 and 10 hours </li>
                      <li>£9.75 for more than 10 hours   </li>
                    </ul>
                    <p>You do not need receipts for food and drink claims. </p>
        <form action="../../witex-v6/start/travel" method="get" class="form">
         <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <div class="govuk-radios" data-module="govuk-radios">
                                               <label class="govuk-label  bold-label" for="code">
                                                How many hours were you away from home or work?
                                            </label>
                                            <span id="email-hint" class="govuk-hint">
                                                This includes travelling to and from court
                                            </span>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="foodTime" name="foodTime" type="radio" value="less than 5 hours" data-aria-controls="conditional-contact">
                                            <label class="govuk-label govuk-radios__label" for="contact">
                                             less than 5 hours
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="foodTime" name="foodTime" type="radio" value="between 5 and 10 hours  " data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                            between 5 and 10 hours                                           </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="foodTime" name="foodTime" type="radio" value="more than 10 hours" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                               more than 10 hours
                                            </label>
                                        </div>
     
                                </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
    </div>
    </main>
</div>
{% endblock %}