{% extends "layoutCPS-NEW-CASEFILE.html" %}
{% block header %}
{% include "../includes/banner-V6.html" %}

{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

<style>
.search-bar-wrapper, .hods-status-message, .cps-bar-wrapper {padding:0}

.home-actions {
    margin-top: 40px;
}

.home-action {
    margin-bottom: 25px;
}

.home-action .govuk-heading-m {
    margin-bottom: 10px;
}

.home-section {
    margin-top: 50px;
}
</style>

<script>
    $(document).ready(function() {
    $('#global-navigation').show();
    $('.dashboard').addClass('current');

});
</script>

<div id="image-wrapper" class="">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" id="">
            <h1 class="govuk-heading-l">Complete your casework tasks</h1>
            <p class="govuk-body-l">Use the Casework app to manage your tasks, view your assigned cases and find a case when you need it.</p>

            <div class="govuk-grid-row home-actions">
                <div class="govuk-grid-column-one-third home-action">
                    <h2 class="govuk-heading-m"><a href="./C-task-list-v2">View your tasks</a></h2>
                    <p>See the work assigned to you and what needs attention next.</p>
                </div>
                <div class="govuk-grid-column-one-third home-action">
                    <h2 class="govuk-heading-m"><a href="./D-my-cases">View your cases</a></h2>
                    <p>See the cases assigned to you and pick up where you left off.</p>
                </div>
                <div class="govuk-grid-column-one-third home-action">
                    <h2 class="govuk-heading-m"><a href="./B-search-results">Find a case</a></h2>
                    <p>Search for a case by URN to open it and continue your work.</p>
                </div>
            </div>

            <div class="home-section">
                <h2 class="govuk-heading-m">What this service does</h2>
                <p>This prototype is the Casework app homepage for CPS users. It brings together the main things users need to do at the start of their work:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>check and start tasks</li>
                    <li>open assigned cases</li>
                    <li>search for a case by URN</li>
                </ul>
            </div>

            <div class="home-section">
                <h2 class="govuk-heading-m">Latest updates</h2>
                <div class="ReleaseNotes">
                    <h3 class="govuk-heading-s">Review and redact feature <span class="govuk-caption-m" style="font-size:16px; color:#000">17 June 2025</span></h3>
                    <p>Users can review documents, redact sensitive information and check the final version before sending it on.</p>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <div class="ReleaseNotes">
                    <h3 class="govuk-heading-s">Task list improvements <span class="govuk-caption-m" style="font-size:16px; color:#000">16 June 2025</span></h3>
                    <p>The task list has been updated to make priority work easier to spot and quicker to start.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
