{% extends "layoutCPS-NEW-CASEFILE.html" %}
{% block header %}
{% include "../includes/banner-V6.html" %}
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<script>
$(document).ready(function() {
    $('#global-navigation').show();
    $('.dashboard').addClass('current');

});
</script>
<h1 class="govuk-heading-l" style="margin-top:25px">Prototypes and figma boards</h1>
<div class="govuk-grid-row" style="margin-top:25px">
    <div class="govuk-grid-column-one-third" id="">
        <!-- <span class="govuk-caption-l">CPS - New world</span> -->
        <div style="margin-bottom:25px">
            <h2 class="govuk-heading-s" style="margin-bottom:10px">Case materials</h2>
            <p style="margin-bottom:5px"><a href="https://miro.com/app/board/uXjVNnEHAHY=/">Design concepts</a></p>
            <p style="margin-bottom:5px"><a href="https://as-web-rumpole-ux-dev.azurewebsites.net/">Prototypes</a></p>
        </div>
        <!-- <p>Password:   F1shc@kes</p> -->
        <div style="margin-bottom:25px">
            <h2 class="govuk-heading-s" style="margin-bottom:10px">Unused material/housekeeping</h2>
            <p style="margin-bottom:5px"><a href="https://www.figma.com/proto/Oemk95xWfmYbNzgi6grtdO/CM?page-id=1663%3A10897&node-id=1663-10898&node-type=canvas&viewport=1557%2C246%2C0.2&t=GmeYMHlOHEcagFmi-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=1663%3A10898">Q2 CM - v3 Updated Figma</a></p>
            <p style="margin-bottom:5px"><a href="https://www.figma.com/proto/Oemk95xWfmYbNzgi6grtdO/CM?page-id=1759%3A11393&node-id=1759-29032&node-type=frame&viewport=1680%2C525%2C0.27&t=9cYLmtxk9uH1S2vj-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=1759%3A29032">Q3 CM - New prototype - Figma</a></p>
            <p style="margin-bottom:5px"><a href="https://cpsgovuk.sharepoint.com/sites/CaseManagementFutures-EmailAutomation/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FCaseManagementFutures%2DEmailAutomation%2FShared%20Documents%2FCommunication%20Backlog%2FUX%20Design%5FHousekeeping%2FHousekeeping%20handover%2FHigh%2Dfidelity%20exports&p=true&ga=1">Image screenshots</a></p>
        </div style="margin-bottom:25px">
    </div>
    <div class="govuk-grid-column-one-third" id="">
        <!-- <span class="govuk-caption-l">CPS - New world</span> -->
        <div style="margin-bottom:25px">
            <h2 class="govuk-heading-s" style="margin-bottom:10px">Victims app</h2>
            <p style="margin-bottom:5px"><a href="https://victim-contact-application-d8649fc06cf5.herokuapp.com/">Alpha prototype</a></p>
            <p>Password: F1shc@kes</p>
        </div>
        <div style="margin-bottom:25px">
            <h2 class="govuk-heading-s" style="margin-bottom:10px">Witness expenses</h2>
            <p style="margin-bottom:5px"><a href="https://witness-expenses.herokuapp.com/">Public beta prototype</a></p>
            <p>Password: eagle</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third" id="">
        <!-- <span class="govuk-caption-l">CPS - New world</span> -->
        <div style="margin-bottom:25px">
            <h2 class="govuk-heading-s" style="margin-bottom:10px">Casework app design history</h2>
            <!-- <p style="margin-bottom:5px"><a href="https://victim-contact-application-d8649fc06cf5.herokuapp.com/">Alpha prototype</a></p> -->
            <!-- <p>Password:   F1shc@kes</p> -->
        </div>
        <div style="margin-bottom:25px">
            <h2 class="govuk-heading-s" style="margin-bottom:10px">Witness expenses design history</h2>
            <!-- <p style="margin-bottom:5px"><a href="https://witness-expenses.herokuapp.com/">Public beta prototype</a></p> -->
            <!-- <p>Password:   eagle</p> -->
        </div>
    </div>
</div>
{% endblock %}