{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-V6.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div id="image-wrapper" class="D-my-cases">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">My cases</h1>
            <div class="wrapper">
                <a href="https://www.figma.com/proto/zNeiezQ0KQCAlE5HQM7RuG/Work-Management-App-%E2%80%93-Beta-(5th-June)?node-id=109-89395&%3Bviewport=744%2C1584%2C0.15&%3Bt=xkxDs5AOxz96MhVO-0&%3Bscaling=min-zoom&%3Bcontent-scaling=fixed&%3Bstarting-point-node-id=109%3A87142">
                    <img src="../../../public/images/cps-concept/D-my-cases.jpg" alt="My Cases" class="cps-concept-image">
                
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}