{% extends "layoutCPS-NEW-CASEFILE.html" %}
{% block header %}
{% include "../includes/banner-V6.html" %}
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<script>
$(document).ready(function() {
    $('#global-navigation').show();
    $('.dashboard').addClass('current');

});
</script>
<style>

    #GDSFont,
#GDSFont * {
    font-family: "GDS Transport", arial, sans-serif;
}



#newFont,
#newFont * {
    font-family: "NewTransport2", sans-serif;
}


</style>
<div class="govuk-grid-row" style="margin-top:25px">
    <div class="govuk-grid-column-one-third" id="oldFont">
        <h1 class="govuk-heading-l"> Old Font</h1>
        <span class="govuk-caption-xl">govuk-caption-xl</span>
        <h1 class="govuk-heading-xl"> The quick brown fox jumped over the lazy dog.</h1>
        <span class="govuk-caption-l">govuk-caption-l</span>
        <h2 class="govuk-heading-l">The quick brown fox jumped over the lazy dog. </h2>
        <span class="govuk-caption-m">govuk-caption-m</span>
        <h3 class="govuk-heading-m"> The quick brown fox jumped over the lazy dog.</h3>
        <h4 class="govuk-heading-s">govuk-heading-s<br /> The quick brown fox jumped over the lazy dog.</h4>
        <span class="govuk-caption-m">govuk-body-l</span>
        <p class="govuk-body-l">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-m">govuk-body-s</span>
        <p class="govuk-body-s">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-80</span>
        <p class="govuk-body govuk-!-font-size-80">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-48</span>
        <p class="govuk-body govuk-!-font-size-48">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-36</span>
        <p class="govuk-body govuk-!-font-size-36">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-27</span>
        <p class="govuk-body govuk-!-font-size-27">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-24</span>
        <p class="govuk-body govuk-!-font-size-24">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-19</span>
        <p class="govuk-body govuk-!-font-size-19">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-16</span>
        <p class="govuk-body govuk-!-font-size-16">The quick brown fox jumped over the lazy dog.</p>
    </div>
    <div class="govuk-grid-column-one-third" id="newFont">
        <h1 class="govuk-heading-l"> New Font</h1>
        <span class="govuk-caption-xl">govuk-caption-xl</span>
        <h1 class="govuk-heading-xl"> The quick brown fox jumped over the lazy dog.</h1>
        <span class="govuk-caption-l">govuk-caption-l</span>
        <h2 class="govuk-heading-l">The quick brown fox jumped over the lazy dog. </h2>
        <span class="govuk-caption-m">govuk-caption-m</span>
        <h3 class="govuk-heading-m"> The quick brown fox jumped over the lazy dog.</h3>
        <h4 class="govuk-heading-s">govuk-heading-s<br /> The quick brown fox jumped over the lazy dog.</h4>
        <span class="govuk-caption-m">govuk-body-l</span>
        <p class="govuk-body-l">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-m">govuk-body-s</span>
        <p class="govuk-body-s">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-80</span>
        <p class="govuk-body govuk-!-font-size-80">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-48</span>
        <p class="govuk-body govuk-!-font-size-48">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-36</span>
        <p class="govuk-body govuk-!-font-size-36">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-27</span>
        <p class="govuk-body govuk-!-font-size-27">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-24</span>
        <p class="govuk-body govuk-!-font-size-24">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-19</span>
        <p class="govuk-body govuk-!-font-size-19">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-16</span>
        <p class="govuk-body govuk-!-font-size-16">The quick brown fox jumped over the lazy dog.</p>
    </div>


    <div class="govuk-grid-column-one-third" id="GDSFont">
        <h1 class="govuk-heading-l"> GDS Font</h1>
        <span class="govuk-caption-xl">govuk-caption-xl</span>
        <h1 class="govuk-heading-xl"> The quick brown fox jumped over the lazy dog.</h1>
        <span class="govuk-caption-l">govuk-caption-l</span>
        <h2 class="govuk-heading-l">The quick brown fox jumped over the lazy dog. </h2>
        <span class="govuk-caption-m">govuk-caption-m</span>
        <h3 class="govuk-heading-m"> The quick brown fox jumped over the lazy dog.</h3>
        <h4 class="govuk-heading-s">govuk-heading-s<br /> The quick brown fox jumped over the lazy dog.</h4>
        <span class="govuk-caption-m">govuk-body-l</span>
        <p class="govuk-body-l">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-m">govuk-body-s</span>
        <p class="govuk-body-s">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-80</span>
        <p class="govuk-body govuk-!-font-size-80">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-48</span>
        <p class="govuk-body govuk-!-font-size-48">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-36</span>
        <p class="govuk-body govuk-!-font-size-36">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-27</span>
        <p class="govuk-body govuk-!-font-size-27">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-24</span>
        <p class="govuk-body govuk-!-font-size-24">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-19</span>
        <p class="govuk-body govuk-!-font-size-19">The quick brown fox jumped over the lazy dog.</p>
        <span class="govuk-caption-l">govuk-!-font-size-16</span>
        <p class="govuk-body govuk-!-font-size-16">The quick brown fox jumped over the lazy dog.</p>
    </div>
</div>
{% endblock %}