{% extends "layoutCPS-NEW-CASEFILE.html" %}
{% block header %}
{% include "../includes/banner-Home.html" %}
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<style>
.rj-alert-wrapper {
    // border: 1px solid #bfc1c3;
    border-left: 4px solid #005ea5;
    width: 100%;
    min-height: 120px;
    margin-top: 15px;
    //  margin-left: 15px;
    // background-color: $grey-3;
}

.rj-alert-copy {
    display: inline-block;
    height: 80px;
    vertical-align: top;
}

.looks-like-a-link-underline {
    color: #005ea5;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 641px) {
    /*  ///   MOBILE*/

    .rj-space-top-mobile {
        margin-top: 35px;
    }
}
</style>
<script>

        $(document).ready(function () {
        $('#global-navigation').show();
        $('.my-home').attr('aria-current', 'page');

    });
/*
// putting this here so i don't forget it.

  //store details entered into the form in local storage
var creategovuk-button = document.getElementById('createAccountgovuk-button');
EventUtil.addHandler(creategovuk-button, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
*/
</script>
<!----------/////////////////////////// MAIN PAGE CONTENT HERE /////////////////////////////////////////////////////////////////////////////////-->
<!-- <header class="dfe-header" role="banner" style="background-color:#1d70b8; margin:0 -150px 0 -150px">
    <div class="dfe-width-container dfe-header__container" style="padding:50px 0 50px 0; margin:0 150px 0 150px">
        <div class="dfe-header__content" id="content-header">
            <h1 class="govuk-heading-xl" style=" color:#fff; font-size:4rem" id="company-Name">Case management
            </h1>
            <form method="get" action="search/searchresults" style="display: flex; align-items: center; ">
                <div class="govuk-form-group" style="display: flex; flex-direction: column;">
                    <label class="govuk-label govuk-label--s" for="partialCost" style="color: #fff; margin-bottom:5px ">
                        Find a case by Unique Reference Number (URN)
                    </label>
                    <input class="govuk-input" id="searchURN" name="searchURN" type="text" aria-describedby="FirstName-hint" value="" style="max-width: 600px;height:50px; border:0 " />
                </div>
                <div class="gem-c-search__item gem-c-search__submit-wrapper" style="width:1%">
                    <button class="gem-c-search__submit" type="submit" enterkeyhint="search" style="    background-color: #d2e2f1;
    color: #1d70b8; width:50px;height:50px; background-image: none; margin-left:-2px">
                        Search
                        <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" style="transform: scale(0.4); pointer-events: none; position: absolute; height: 100%; width: 100%; top: 0; left: 0;">
                            <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                            <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
</header> -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div>
            <!--    <h2 class="govuk-heading-l rj-headings-border" style="margin-top:35px; margin-bottom:20pxpx" id="company-Name">Make a charging decision
            </h2> -->
            <h2 class="govuk-heading-l " style="margin-top:50px; margin-bottom:50px " id="company-Name">Make a charging decision
            </h2>
            <!-- <h2 class="govuk-heading-m"  id="company-Name">Charge a case</h2> -->
            <!--   <p class="rj-headings-border" style="color:#505a5f; padding-bottom:30px ">The things I can do to charge a case </p>
        <div> -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third" style="padding-bottom:4px">
                    <h3 class="govuk-heading-m " style="margin-top:0;"><a href="./finance">Your tasks</a></h3>
                    <p class="rj-home-spacer rj-bottom-border-mobile ">See a full list of your uncompleted tasks.</p>
                </div>
                <div class="govuk-grid-column-one-third rj-space-top-mobile ">
                    <h3 class="govuk-heading-m " style="margin-top:0;  "><a href="./apprentices">Your cases</a></h3>
                    <p class="rj-home-spacer  ">See a full list of cases assigned to you. </p>
                </div>
<!--                  <div class="govuk-grid-column-one-third rj-space-top-mobile ">
                    <h3 class="govuk-heading-m " style="margin-top:0;  ">Helpful links</h3>
                    <p><a href="">Helpful link</a></p>
                </div> -->
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:20px"><a href="https://das-raa-v2.herokuapp.com/prototypes/public-beta/dashboard">Find a case</a></h3>
                    <p class="rj-home-spacer  ">Find the case, then do the thing with the case </p>
                </div>
                <div class="govuk-grid-column-one-third ">
                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:20px"></h3>

                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:20px"><a href="https://das-raa-v2.herokuapp.com/prototypes/public-beta/dashboard"></a></h3>
                    <p class="rj-home-spacer  "> </p>
                </div>
                <div class="govuk-grid-column-one-third ">
                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:20px">
                        <!-- <a href="./team">Your team</a></h3>
                    <p>Control what your team can do and invite new team members.</p> -->
                </div>
            </div>
            <!-- <div class="rj-headings-border"></div> -->
            <!--             <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half ">
                    <h3 class="govuk-heading-m" style="margin-top:0; padding-top:30px"><a href="./paye">CMS Classic</a></h3>
                    <p class="rj-home-spacer">Do the thing with the things, then do the thing</p>
                </div>
                <div class="govuk-grid-column-one-half  ">
                    <h3 class="govuk-heading-m  " style="margin-top:0;padding-top:30px "><a href="./orgs">CMS Modern</a></h3>
                    <p class="rj-home-spacer rj-bottom-border-mobile">Do the thing with the things, then do the thing</p>
                </div>
            </div> -->
        </div>
    </div>
<!--    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m toDoHome" style="margin-top:150px">Helpful links</h2>
        <div class="">
            <div class="rj-alert-copy">
                <h2 class="govuk-heading-s" style="margin: 22px 10px 5px 20px">CMS Classic</h2>
            </div>
        </div>
        <div class="">
            <div class="rj-alert-copy">
                <h2 class="govuk-heading-s" style="margin: 22px 10px 5px 20px">CMS Modern</h2>
            </div>
        </div>
    </div> --> 
</div>
<!-- </div> -->
</section>
</div>
{% endblock %}