{% extends "layout.html" %}
{% block header %}
{% include "../includes/banner-V6.html" %}
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<style>
    nav {padding:0 !important}
    .govuk-header__logo {width:50%}
        .govuk-main-wrapper--auto-spacing:first-child {padding-top:0}


</style>
<script>
    $(document).ready(function() {
    $('#global-navigation').show();
      $('.my-cases').addClass('current');
         $('.sub-review').addClass('current');

});

// sets the time in the last saved bit
     $(document).ready(function() {
function updateTime() {
            const now = new Date();
            now.setSeconds(now.getSeconds() - 10); // Subtract 10 seconds
            const timeString = now.toLocaleTimeString();
            document.getElementById('time-display').textContent = timeString;
        }

        updateTime(); // Initial call to display time immediately
        setInterval(updateTime, 11000); // Update every 11 seconds
        });

</script>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third" style="" id="">
        <div style="">
            <div>
                {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
                {{ govukBackLink({
                text: "Back",
                href: "javascript:history.back()"
                }) }}
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="filter text-filter" style="width:55%; padding-left:0; margin-left:auto">
            <div class="govuk-form-group" style="margin-bottom:15px;">
                <!--                 <label class="govuk-label   govuk-label--s legend" for="partialCost">
                    Search
                </label> -->
                <div class="gem-c-search__item-wrapper gem-c-search--on-white" style="display:flex">
                    <input class="govuk-input" id="search" name="searchQuery" type="text" style="" placeholder="  Search legal guidance">
                    <div class="gem-c-search__item gem-c-search__submit-wrapper">
                        <button type="submit" class="gem-c-search__submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row" style="display: flex; align-items: flex-end;">
    <div class="govuk-grid-column-one-third" style="border-bottom:2px black solid; padding:0; margin:0 0 0  15px; ">
        <h1 class="govuk-heading-m" style="margin-bottom: 5px;">Eoin McLove</h1>
        <p style="">45AA209820/1</p>
    </div>
    <div class="govuk-grid-column-two-thirds" style="display: flex; align-items: flex-end; border-bottom:2px black solid; padding:0; margin:0 15px 0 0 ">
        <div style="display: flex; align-items: center; margin-left: auto; ">
            <p><a href="">Case action plans</a></p>
            <p style="margin-left: 20px;"><a href="">Case materials</a></p>
            <p style="margin-left: 20px;">Autosave is on.</p>
            <p style="padding-left:5px"> Last saved</p>
            <p style="padding-left:5px" id="time-display"></p>
        </div>
    </div>
</div>
<div class="govuk-grid-row" style="margin-top:25px">
    <div class="govuk-grid-column-one-third" style="">
        <div style="background-color:#1d70b8; height:100%;width:100%; padding:25px 15px 15px 15px ">
            <h3 class="govuk-heading-m" style="color:#fff; margin-bottom:10px">Priority pre-charge decision review</h3>
            <h4 class="govuk-heading-s" style="color:#fff; margin-bottom:10px">Proposed charges</h4>
            <p style="color:#fff; margin-bottom:10px; font-size:16px">Section 39 Common assault 01/06/2010<br />Contrary to the Criminal Justice Act 1988<br />Offence code:CJ88001 </p>
            <h5 class="govuk-heading-s" style="color:#fff; margin-bottom:10px">Case owner</h5>
            <p style="color:#fff">Phelps, Julie</p>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds" style="">
        <div style="margin-left:30px">
            <div class="govuk-form-group">
                <form action="L-case-review-html-2" method="get" class="form" style="">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Select code test or early advice
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="codeTest" name="codeTestEarly" type="radio" value="Full code test">
                                <label class="govuk-label govuk-radios__label" for="codeTest">
                                    Full code test
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="codeTest-2" name="codeTestEarly" type="radio" value="Threshold test">
                                <label class="govuk-label govuk-radios__label" for="codeTest-2">
                                    Threshold test
                                </label>
                            </div>
                            <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="codeTest-6" name="codeTestEarly" type="radio" value="Early advice">
                                <label class="govuk-label govuk-radios__label" for="codeTest-6">
                                    Early advice
                                </label>
                            </div>
                        </div>
                    </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <a class="govuk-link" href="#">Save and exit</a>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}