{% extends "layoutCPS-NEW-CASEFILE.html" %}
{% block header %}
{% include "../includes/banner-V6.html" %}
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<script>
$(document).ready(function() {
    $('#global-navigation').show();
    $('.dashboard').addClass('current');

});
</script>
<h1 class="govuk-heading-l" style="margin-top:25px">Tags</h1>
<p>
    Colours used for groups of action:</p>
<p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Inactive/hold -Grey </li>
        <li>To do - Blue</li>
        <li>in progress - Purple </li>
        <li>Completed - Green</li>
        <li>Alert - Yellow  </li>
        <li>Failed - Red </li>
          <li>Other - Light blue  </li>
        <li>Pink </li>
        <li>Orange</li>
        <li>Turquoise</li>
    </ul>
</p>
<p>If you use the same tag in more than one place, make sure you keep the colour consistent. This is to meet WCAG 2.2 success criterion 1.4.1 Use of colour.</p>
<div class="govuk-grid-row" style="margin-top:25px">
    <div class="govuk-grid-column-two-thirds" id="">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col"> Origin</th>
                    <th class="govuk-table__header" scope="col"> Class name </th>
                    <th class="govuk-table__header" scope="col"> Tag </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <h2 class="govuk-heading-m"> Inactive </h2>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Work management
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--grey </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey ">
                            Expired
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Casework app
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--grey</code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey" style="">
                            Discarded
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Housekeeping
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--grey </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">
                            Unused
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        DCF
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--grey </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">
                            Abandoned
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Housekeeping
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--grey </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">
                            None
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Work Management
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--grey </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">
                            EXP
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <h2 class="govuk-heading-m"> To do </h2>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        DCF & Housekeeping & Casework App
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--blue </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                            New
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <h2 class="govuk-heading-m">In progress </h2>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Casework app
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--purple </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--purple">
                            Active Document
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        DCF & Housekeeping
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--purple </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--purple">
                            Draft
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Case progression
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--purple </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--purple">
                            Awaiting decision
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        DCF
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--purple </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--purple">
                            In progress
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        DCF
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--purple </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--purple">
                            In progress: <br />ETA 25/12/2204
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        DCF
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--purple </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--purple">
                            Re-opened
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <h2 class="govuk-heading-m">Completed </h2>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Case progression
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--green </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">
                            Accepted
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Review
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--green </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">
                            Done
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        DCF
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--green </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">
                            Sent
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Housekeeping & Casework App
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--green </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">
                            Reclassified
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        DCF
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--green </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">
                            Withdrawn
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        DCF & Casework App
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--green </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">
                            Completed
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Housekeeping
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--green </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">
                            Renamed
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <h2 class="govuk-heading-m">Alert </h2>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Case progression
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--yellow </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--yellow" style="width:100%">
                            Due by 2 Sept 2024
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Work management & Case review
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--yellow </code>
                    </td>
                    <td class="govuk-table__cell" style="">
                        <strong class="govuk-tag govuk-tag--yellow" style="">
                            Bail
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Casework app
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--yellow</code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--yellow" style="">
                            Due Today
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Casework app
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--yellow </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--yellow">
                            Updated
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <h2 class="govuk-heading-m">Failed </h2>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Work managment
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--red</code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--red" style="">
                            2
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Casework app
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--red</code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--red" style="">
                            Failed
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        DCF
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--red </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--red">
                            Not sent
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Work managment and Casework app
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--red and Custom padding</code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--red" style="padding: 0 0px 0px 0; text-align: center;width:100px">
                            3
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <h2 class="govuk-heading-m">Other </h2>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Housekeeping
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--light-blue </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--light-blue">
                            Used
                        </strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Work management
                    </td>
                    <td class="govuk-table__cell">
                        <code> govuk-tag--light-blue </code>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--light-blue">
                            Existing charges
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}