{% extends "layoutCPS.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<style>
.accordion-controls {
    margin-top: 20px;
}

.govuk-main-wrapper {
    position: relative !important;
}
</style>
<script src="/public/javascripts/accordion.js"></script>
<script>
if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>
<div class="govuk-grid-column-two-thirds"><span class="govuk-caption-m">GDS Transport</span>
    <h1 class="govuk-heading-xl" style="margin-bottom:20px">Crown Prosecution Service</h1>

    <span class="govuk-caption-m" style="font-family:TransportNew; ">New Transport</span>
    <h1 class="govuk-heading-xl" style="font-family:TransportNew; margin-bottom:20px; font-weight:700 ">Crown Prosecution Service</h1>


     <span class="govuk-caption-m" style="font-family:Noto-Sans; ">Noto sans</span>
    <h1 class="govuk-heading-xl" style="font-family:Noto-Sans; font-weight:700 ">Crown Prosecution Service</h1>
    


    <div class="govuk-header__logo" style="width:100% !important">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
            <span class="govuk-header__logotype">
                <span class="govuk-caption-m">GDS Transport</span>
                <span class="govuk-header__logotype-text" style="color:#000">
                    Crown Prosecution Service
                </span>
            </span>
        </a>
    </div>


    <div class="govuk-header__logo" style="width:100% !important">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
            <span class="govuk-header__logotype">
                  <span class="govuk-caption-m" style="font-family:TransportNew; ">New Transport</span>
                <span class="govuk-header__logotype-text" style="color:#000; font-family:TransportNew;font-weight:700">
                    Crown Prosecution Service
                </span>
            </span>
        </a>
    </div>


        <div class="govuk-header__logo" style="width:100% !important">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
            <span class="govuk-header__logotype">
                  <span class="govuk-caption-m" style="font-family:Noto-sans; ">Noto Sans</span>
                <span class="govuk-header__logotype-text" style="color:#000; font-family:Noto-Sans;font-weight:700">
                    Crown Prosecution Service
                </span>
            </span>
        </a>
    </div>
   
    <h1 class="govuk-heading-m wrapLongFilenamesCPS" style="padding-top:240px; "> <span class="govuk-caption-m">GDS Transport</span> McLove, Eoin
        <span class="govuk-caption-m">45AA209820/1</span>



        <h1 class="govuk-heading-m wrapLongFilenamesCPS" style="font-family:TransportNew;">  <span class="govuk-caption-m" style="font-family:TransportNew; ">New Transport</span> McLove, Eoin
            <span class="govuk-caption-m" style="font-family:TransportNew;">45AA209820/1</span>

                    <h1 class="govuk-heading-m wrapLongFilenamesCPS" style="font-family:Noto-Sans;">  <span class="govuk-caption-m" style="font-family:Noto-Sans; ">Noto Sans</span> McLove, Eoin
            <span class="govuk-caption-m" style="font-family:Noto-Sans;">45AA209820/1</span>


            <span class="govuk-caption-m"  style="margin-top:50px">GDS Transport</span>
            <div class="blueBoxCPS">
                <h2 class="govuk-heading-s" style="color:#fff; padding-top:1rem; ">Proposed Charges</h2>
                <ul class="govuk-list govuk-list--bullet govuk-body-s" style="color:#fff; margin-bottom:0">
                    <li>
                        <span style="font-weight:700">Section 39 Common assault 01/06/2020.</span> Contrary to the Criminal Justice Act 1988
                    </li>
                </ul>
            </div>


             <span class="govuk-caption-m"  style="font-family:TransportNew; margin-top:20px">New Transport</span>
            <div class="blueBoxCPS">
                <h2 class="govuk-heading-s" style="color:#fff; padding-top:1rem;font-family:TransportNew; ">Proposed Charges</h2>
                <ul class="govuk-list govuk-list--bullet govuk-body-s" style="color:#fff; margin-bottom:0;font-family:TransportNew;">
                    <li style="font-family:TransportNew;">
                        <span style="font-weight:700">Section 39 Common assault 01/06/2020.</span> Contrary to the Criminal Justice Act 1988
                    </li>
                </ul>
            </div>


             <span class="govuk-caption-m"  style="font-family:Noto-Sans; margin-top:20px">Noto Sans</span>
            <div class="blueBoxCPS">
                <h2 class="govuk-heading-s" style="color:#fff; padding-top:1rem;font-family:Noto-Sans; ">Proposed Charges</h2>
                <ul class="govuk-list govuk-list--bullet govuk-body-s" style="color:#fff; margin-bottom:0;font-family:Noto-Sans;">
                    <li style="font-family:Noto-Sans;">
                        <span style="font-weight:700">Section 39 Common assault 01/06/2020.</span> Contrary to the Criminal Justice Act 1988
                    </li>
                </ul>
            </div>





            <div class="govuk-tabs" data-module="govuk-tabs">
                 <span class="govuk-caption-m"  style="margin-top:50px">GDS Transport</span>
                <ul class="govuk-tabs__list">
                </ul>
                <h2 class="govuk-heading-m" style="margin:0px 0 0 0; text-align:center;">View your documents </h2>
                <p style="margin:10px 0 0 0; text-align:center;">Search or choose a file to start reviewing documents</p>
            </div>


            <div class="govuk-tabs" data-module="govuk-tabs">
                 <span class="govuk-caption-m"  style="font-family:TransportNew; margin-top:50px">New Transport</span>
                <ul class="govuk-tabs__list">
                </ul>
                <h2 class="govuk-heading-m" style="margin:0px 0 0 0; text-align:center;font-family:TransportNew;">View your documents </h2>
                <p style="margin:10px 0 0 0; text-align:center;font-family:TransportNew;">Search or choose a file to start reviewing documents</p>
            </div>

            <div class="govuk-tabs" data-module="govuk-tabs">
                 <span class="govuk-caption-m"  style="font-family:Noto-Sans; margin-top:50px">Noto Sans</span>
                <ul class="govuk-tabs__list">
                </ul>
                <h2 class="govuk-heading-m" style="margin:0px 0 0 0; text-align:center;font-family:Noto-Sans;">View your documents </h2>
                <p style="margin:10px 0 0 0; text-align:center;font-family:Noto-Sans;">Search or choose a file to start reviewing documents</p>
            </div>

            <div class="accordion">
                      <span class="govuk-caption-m"  style="margin-top:20px; margin-bottom:20px">GDS Transport</span>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-s" style="">Case overview</h2>
                        </div>
                        <div class="accordion-section-body">
                            <div class="cpsDocs chargingDocs">
                                <table class="govuk-table ">
                                    <thead>
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header " style=""></th>
                                            <th scope="col" class="govuk-table__header govuk-body-s" style="font-weight:400">Date added</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell govuk-body-s wrapLongFilenamesCPS openMe" scope="row"><a href="" data-doc="MCLOVEMG3.pdf" data-count="3">MCLOVE MG3</a></td>
                                            <td class="govuk-table__cell govuk-body-s dateWidthCPS" scope="row">02 June 2020</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell govuk-body-s wrapLongFilenamesCPS openMe" scope="row"><a href="" data-doc="MG05MCLOVE.pdf">MG05 MCLOVE</a></td>
                                            <td class="govuk-table__cell govuk-body-s dateWidthCPS" scope="row">02 June 2020</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell govuk-body-s wrapLongFilenamesCPS openMe" scope="row"><a href="" data-doc="MG06_10june.pdf">MG06 10 june</a></td>
                                            <td class="govuk-table__cell govuk-body-s dateWidthCPS" scope="row" style="">10 June 2020</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell govuk-body-s wrapLongFilenamesCPS openMe" scope="row"><a href="" data-doc="MG06_3June.pdf">MG06 3 June</a></td>
                                            <td class="govuk-table__cell govuk-body-s dateWidthCPS" scope="row" style="">03 June 2020</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="accordion">
                    <span class="govuk-caption-m"  style="font-family:TransportNew; margin-top:20px; margin-bottom:20px">New Transport</span>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-s" style="font-family:TransportNew !important;">Case overview</h2>
                        </div>
                        <div class="accordion-section-body" style="font-family:TransportNew;">
                            <div class="cpsDocs chargingDocs">
                                <table class="govuk-table ">
                                    <thead>
                                        <tr class="govuk-table__row" style="font-family:TransportNew;">
                                            <th scope="col" class="govuk-table__header " style=""></th>
                                            <th style="font-family:TransportNew !important;" scope="col" class="govuk-table__header govuk-body-s" style="font-weight:400;font-family:TransportNew;">Date added</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="govuk-table__row" >
                                            <td style="font-family:TransportNew !important;" class="govuk-table__cell govuk-body-s wrapLongFilenamesCPS openMe" scope="row"><a href="" data-doc="MCLOVEMG3.pdf" data-count="3" style="font-family:TransportNew;">MCLOVE MG3</a></td>
                                            <td style="font-family:TransportNew !important;" class="govuk-table__cell govuk-body-s dateWidthCPS" scope="row" style="font-family:TransportNew;">02 June 2020</td>
                                        </tr>
                                        <tr class="govuk-table__row" style="font-family:TransportNew;">
                                            <td  class="govuk-table__cell govuk-body-s wrapLongFilenamesCPS openMe" style="font-family:TransportNew !important;" scope="row" ><a href="" data-doc="MG05MCLOVE.pdf" style="font-family:TransportNew !important;">MG05 MCLOVE</a></td>
                                            <td style="font-family:TransportNew !important;" class="govuk-table__cell govuk-body-s dateWidthCPS" scope="row" style="font-family:TransportNew;">02 June 2020</td>
                                        </tr>
                                        <tr class="govuk-table__row" style="font-family:TransportNew;">
                                            <td  style="font-family:TransportNew !important;" class="govuk-table__cell govuk-body-s wrapLongFilenamesCPS openMe" scope="row"><a href="" data-doc="MG06_10june.pdf" style="font-family:TransportNew;">MG06 10 june</a></td>
                                            <td class="govuk-table__cell govuk-body-s dateWidthCPS" scope="row" style="font-family:TransportNew !important;" >10 June 2020</td>
                                        </tr>
                                        <tr class="govuk-table__row" style="font-family:TransportNew;">
                                            <td style="font-family:TransportNew !important;" class="govuk-table__cell govuk-body-s wrapLongFilenamesCPS openMe" scope="row"><a href="" data-doc="MG06_3June.pdf" style="font-family:TransportNew !important;" >MG06 3 June</a></td>
                                            <td class="govuk-table__cell govuk-body-s dateWidthCPS" scope="row" style="font-family:TransportNew;">03 June 2020</td>
                                        </tr>
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
</div>
{% endblock %}