{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">Check your answers</h1>
        <h2 class="govuk-heading-m">Personal details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['first-name-real'] }}  {{ data['last-name-real'] }} 
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
     
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Email address
                </dt>
                <dd class="govuk-summary-list__value">
                
                    <p class="govuk-body"> {{ data['email'] }} </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Postcode
                </dt>
                <dd class="govuk-summary-list__value">
                
                    <p class="govuk-body"> {{ data['postcode'] }} </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                </dd>
            </div>

        </dl>
        <h2 class="govuk-heading-m">Food and drink</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How many hours were you away from home
                </dt>
                <dd class="govuk-summary-list__value">
                        {{ data['away5hours'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>           
        </dl>

         <h2 class="govuk-heading-m">Travel</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Claiming for travel?
                </dt>
                <dd class="govuk-summary-list__value">
                     {{ data['travelclaim'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How did you travel to court?
                </dt>
                <dd class="govuk-summary-list__value">
                        {{ data['transportChoice'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total cost of public transport
                </dt>
                <dd class="govuk-summary-list__value">
                     £{{ data['trainCost'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> home address</span>
                    </a>
                </dd>
            </div>

        </dl>

<!--     <h2 class="govuk-heading-m">Overnight stay</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Claiming for overnight stay?
                </dt>
                <dd class="govuk-summary-list__value">
                     {{ data['overnightStay'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>
            </div>
        </dl> -->

<!--             <h2 class="govuk-heading-m">Unpaid days off work</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Claiming for unpaid days off work?
                </dt>
                <dd class="govuk-summary-list__value">
                     {{ data['lossPay'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>
            </div>
        </dl> -->

 <!--       <h2 class="govuk-heading-m">Employing someone to do your job</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Claiming for employing someone else to do your job?
                </dt>
                <dd class="govuk-summary-list__value">
                     {{ data['employmentType'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>
            </div>
        </dl> -->

<!--     <h2 class="govuk-heading-m">Childcare</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Claiming for childcare?
                </dt>
                <dd class="govuk-summary-list__value">
                     {{ data['childcare'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>
            </div>
        </dl> -->

<!--     <h2 class="govuk-heading-m">Pet sitting</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Claiming for petsitting?
                </dt>
                <dd class="govuk-summary-list__value">
                     {{ data['petsitting'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How many days did you have a pet sitter?
                </dt>
                <dd class="govuk-summary-list__value">
                        {{ data['petTime'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
             <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What is the total cost of pet sitting?
                </dt>
                <dd class="govuk-summary-list__value">
                        £{{ data['petCost'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
        </dl> -->

<!--     <h2 class="govuk-heading-m">Other expenses</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Claiming for other expenses?
                </dt>
                <dd class="govuk-summary-list__value">
                     {{ data['otherexpenses'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>
            </div>
        </dl> -->

    <h2 class="govuk-heading-m">Receipts</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Receipts
                </dt>
                <dd class="govuk-summary-list__value">
                    File1.pdf <br />receipt.jpg
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>
            </div>
        </dl>

            <h2 class="govuk-heading-m">Payment</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   How do you want to be paid?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['paymetype'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>
            </div>
             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                  Name on the account
                </dt>
                <dd class="govuk-summary-list__value">
                        {{ data['name-on-the-account'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                 Sort code
                </dt>
                <dd class="govuk-summary-list__value">
                        {{ data['sort-code'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Account number
                </dt>
                <dd class="govuk-summary-list__value">
                        {{ data['account-number'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Building society roll number
                </dt>
                <dd class="govuk-summary-list__value">
                        {{ data['roll-number'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
        </dl>

                 <h2 class="govuk-heading-m">Claim summary</h2>
              
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
               
                </dt>
             
                <dt class="govuk-summary-list__key">
                Entered
                </dt>
                  <dt class="govuk-summary-list__key" style="text-align:right">
                 Claimed
                </dt>
           
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="min-width:500px">
                   Food and drink
                </dt>
             
                <dd class="govuk-summary-list__value">
                  £2.25
                </dd>
                  <dd class="govuk-summary-list__actions">
                 £2.25
                </dd>
           
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Travel
                </dt>
             
                <dd class="govuk-summary-list__value">
                  £30.50
                </dd>
                  <dd class="govuk-summary-list__actions">
                 £30.50
                </dd>
           
            </div>
                        <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Overnight stay
                </dt>
             
                <dd class="govuk-summary-list__value">
                  £176.24
                </dd>
                  <dd class="govuk-summary-list__actions">
                 £95
                </dd>
           
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Total 
                </dt>
             
                <dd class="govuk-summary-list__value" style="font-weight:700">
                    £208.99
                </dd>
                  <dd class="govuk-summary-list__actions" style="font-weight:700">
                 £127.75
                </dd>
           
            </div>
        </dl>

        <h2 class="govuk-heading-m">Send your application</h2>
       <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    I confirm that the details in this form are true and that I am entitled to claim expenses for attending court.<br /><br />
    I understand that if I deliberately make a false statement I can be prosecuted.
  </strong>
</div>
        <form action="./Finish" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button class="govuk-button" data-module="govuk-button">
                Accept and send
            </button>
        </form>
    </div>
</div>
</main>
{% endblock %}