{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %}
{% include "includes/version1/homeNav.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<style>
.govuk-header__logotype {
    width: 500px
}

.makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}

.filter-form {
    border: 1px solid lightgrey;
    padding: 10px;

}

.options-container {
    border: 0 !important;
}

.js-enabled .govuk-option-select.js-collapsible button {
    background-color: #fff !important;
}

#finder-frontend .filter {
    background-color: #fff !important;
}

#finder-frontend .govuk-option-select,
#finder-frontend .filter {
    margin-bottom: 0 !important;
}

#finder-frontend .govuk-form-group {}
</style>
<span class="govuk-caption-xl">HD90210</span>
<h1 class="govuk-heading-xl" style="">Robert Edwards</h1>
<div class="govuk-grid-row" style="">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-tabs" data-module="govuk-tabs">

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Key details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Receipts
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        More details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Payment
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">ID</td>
                        <td class="govuk-table__cell">HD90210</td>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Name</td>
                        <td class="govuk-table__cell">Robert Edwards</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Email address</td>
                        <td class="govuk-table__cell">rob@cps.gov.uk</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Contact number</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Postcode</td>
                        <td class="govuk-table__cell">N4 3BJ</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">URN</td>
                        <td class="govuk-table__cell">EE90210555/2</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Court</td>
                        <td class="govuk-table__cell">Westminister Magistrates Court</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                </tbody>
            </table>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </thead>
                <caption class="govuk-table__caption govuk-table__caption--m">Claim amounts</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Food</td>
                        <td class="govuk-table__cell "></td>
                        <td class="govuk-table__cell ">£2.25</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">London transport</td>
                        <td class="govuk-table__cell "></td>
                        <td class="govuk-table__cell">£9.78</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <!--                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Bus/tram/metro outside London</td>
                        <td class="govuk-table__cell">£0</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>

                    </tr> -->
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Train</td>
                        <td class="govuk-table__cell ">Some receipts <br />"Machine ate my ticket"</td>
                        <td class="govuk-table__cell">£96.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Car</td>
                        <td class="govuk-table__cell "></td>
                        <td class="govuk-table__cell">£90.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Car parking</td>
                        <td class="govuk-table__cell ">All receipts</td>
                        <td class="govuk-table__cell">£10.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <!--                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Other car expenses</td>
                        <td class="govuk-table__cell">£0.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Motorbike/scooter</td>
                        <td class="govuk-table__cell">£0.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Motorbike/scooter parking</td>
                        <td class="govuk-table__cell">£0.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Other Motorbike/scooter expenses</td>
                        <td class="govuk-table__cell">£0.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr> -->
                    <!--                      <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Bicycle</td>
                        <td class="govuk-table__cell">£0.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Taxi</td>
                        <td class="govuk-table__cell">£0.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr> -->
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Overnight accomodation</td>
                        <td class="govuk-table__cell ">Must have receipts</td>
                        <td class="govuk-table__cell">£95.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" style="font-weight:700">Total</td>
                        <td class="govuk-table__cell" style="font-weight:700"></td>
                        <td class="govuk-table__cell" style="font-weight:700">£303.03</td>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </tbody>
            </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">

                <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </thead>
                <!-- <caption class="govuk-table__caption govuk-table__caption--m">Claim amounts</caption> -->
                <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Train</td>
                        <td class="govuk-table__cell ">Some receipts <br />"Machine ate my ticket"</td>
                        <td class="govuk-table__cell">£96.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Car parking</td>
                        <td class="govuk-table__cell ">All receipts</td>
                        <td class="govuk-table__cell">£10.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Overnight accomodation</td>
                        <td class="govuk-table__cell ">Must have receipts</td>
                        <td class="govuk-table__cell">£95.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>

                </tbody>
            </table>

     <p>jhkjhkjhjkhkhkjhjhjkhkh.jpg</p>
     <img src="/public/images/IMG_3983.jpg" style="width:100%"> 

         <p>khkjhkj h kjh jkhkj hkj .jpg</p>
     <img src="/public/images/IMG_8919.jpg" style="width:100%">   

     <p>yuyiuyi. nmbnmbnb nbmn bmn b.jpg</p>
     <img src="/public/images/IMG_8921.jpg" style="width:100%">                

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    
    <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </thead>
                <caption class="govuk-table__caption govuk-table__caption--m">Travel</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Do you want to claim for travel to and from the court?</td>
                        <td class="govuk-table__cell ">Yes</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">How did you travel to court?</td>
                        <td class="govuk-table__cell ">London transport <br />Train <br />Car</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">What did you spend in total on London Transport travel?</td>
                        <td class="govuk-table__cell ">£9.78</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">What did you spend in total on bus, tram or metro travel?</td>
                        <td class="govuk-table__cell">£0.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Enter the total cost of your train journey(s)</td>
                        <td class="govuk-table__cell">£96.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Do you have all your train receipts?</td>
                        <td class="govuk-table__cell">No, I don't have any of my receipts</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Reason for not having receipts</td>
                        <td class="govuk-table__cell">Machine ate my tickets</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Are you claiming the higher rate of mileage for your car? </td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Why are you claiming the higher mileage rate?</td>
                        <td class="govuk-table__cell">There was no public transport</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell ">Were you travelling with additional witnesses?</td>
                        <td class="govuk-table__cell">No</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell ">How many miles are you claiming for?</td>
                        <td class="govuk-table__cell">200 miles</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell ">Did you pay for parking?</td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell ">How much did you spend in total on parking?</td>
                        <td class="govuk-table__cell">£10.00</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell ">Do you have all your parking receipts?</td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell ">Did you have to pay any other driving costs?</td>
                        <td class="govuk-table__cell">No</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                </tbody>
            </table>

                        <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </thead>
                <caption class="govuk-table__caption govuk-table__caption--m">Overnight stay</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Do you want to claim expenses for an overnight stay?</td>
                        <td class="govuk-table__cell ">Yes</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Did you pay for your overnight stay?</td>
                        <td class="govuk-table__cell ">Yes</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Why did you have to stay overnight?</td>
                        <td class="govuk-table__cell ">it took me 90 minutes or more to travel to court</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">How much was your accommodation?</td>
                        <td class="govuk-table__cell">£134.50</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                </tbody>
            </table>

             <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </thead>
                <caption class="govuk-table__caption govuk-table__caption--m">Work</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Are you in paid work?</td>
                        <td class="govuk-table__cell ">Yes</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">What is your employment status?</td>
                        <td class="govuk-table__cell ">Employed, including director of a limited company</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Did you take an unpaid day off work?</td>
                        <td class="govuk-table__cell ">No</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                </tbody>
            </table>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </thead>
                <caption class="govuk-table__caption govuk-table__caption--m">Childcare</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Did you pay someone to look after your children?</td>
                        <td class="govuk-table__cell ">No</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                </tbody>
            </table>


            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </thead>
                <caption class="govuk-table__caption govuk-table__caption--m">Carer</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Did you pay for a carer?</td>
                        <td class="govuk-table__cell ">No</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                </tbody>
            </table>

        <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </thead>
                <caption class="govuk-table__caption govuk-table__caption--m">Other expenses</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Do you want to claim for other expenses?</td>
                        <td class="govuk-table__cell ">No</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                </tbody>
            </table>


  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                        <td class="govuk-table__cell"><a href="#"></a></td>
                    </tr>
                </thead>
                <caption class="govuk-table__caption govuk-table__caption--m">Payment</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">How do you want to be paid?</td>
                        <td class="govuk-table__cell ">A UK bank or building society</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Name on the account</td>
                        <td class="govuk-table__cell ">Robert Edwards</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Sort code</td>
                        <td class="govuk-table__cell ">90-80-70</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Account number</td>
                        <td class="govuk-table__cell ">02819726</td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Building society roll number (if you have one)</td>
                        <td class="govuk-table__cell "></td>
                        <td class="govuk-table__cell"><a href="#">Edit</a></td>
                    </tr>
                </tbody>
            </table>
  </div>
</div>
        <div class="">
            <!--         <div class="govuk-form-group" style="margin-bottom:15px">
            <label class="govuk-label   govuk-label--s" for="partialCost" style="">
                Search
            </label>
            <input class="govuk-input" id="partialCost" name="partialCost" type="text" aria-describedby="FirstName-hint" value="" />
        </div> -->
            




            



        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <p>maybe status and assigned go here</p>
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s" for="more-detail">
                    Add a note
                </label>
            </h1>
            <textarea class="govuk-textarea" style="margin-bottom:10px" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
             <button type="submit" class="govuk-button govuk-button--secondary">Add note </button>
        </div>

    </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}