{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="overnightstay/paidAlready">
                <h1 class="govuk-heading-xl">Did we already pay for you to stay overnight?</h1>
                     <!--  <p>You can claim between £2.25 and £9.75 per day for food and drink on the days you were in court.</P><p>You don't need receipts </p> -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                     <!--    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         
                            <label class="govuk-label  bold-label" for="firstName">
                                    Do you want to claim for food and drink?</label>
                        </legend> -->
                  
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="overnightPaid" name="overnightPaid" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="overnightPaid" name="overnightPaid" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}