{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->

<!-- end of conditional statement -->

<script src="/public/javascripts/mojall.js"></script>
<script src="/public/javascripts/multi-file-upload.js"></script>


{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary.items.length %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errorSummary.items
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">Upload your proof</h1>
             {% if data.haveSomeRecipts %}
                      <p>Upload your available evidence:</p>
                      {% else %}
                        <p>Upload all your evidence of: </p>
                    {% endif %}
                      <ul class="govuk-list govuk-list--bullet">
                 {% if data.trainCost %}  
                  {% if not data.reasonNoReceipts  %}
            
                      <li> £{{ data['trainCost'] }} of train tickets </li>
                      {% else %}
               
                    {% endif %}
                    {% endif %}

                      {% if data.parkCost %}
                      {% if not data.reasonNoReceiptsPark %}
                        <li>£{{ data['parkCost'] }} of parking</li>
                      {% else %}
                    
                    {% endif %}
                    {% endif %}

                     {% if data.taxiMilesClaimed %}
                       {% if not data.reasonNoReceiptsTaxi %}
                        <li>£{{ data['taxiMilesClaimed'] }} of taxi(s)</li>
                      {% else %}
                    {% endif %}
                    {% endif %}
<!-- overnight stay -->
                     {% if data.overnightCost %}
                        <li>£{{ data['overnightCost'] }} of accommodation</li>
                      {% else %}
                    {% endif %}

<!-- unpaid day off -->
                     {% if data.uploadProof == "Upload proof" %}
                        <li>your payslip</li>
                      {% else %}
                    {% endif %}

<!-- self employed-->
                     {% if data.employmentType == "Yes" %}
                        <li>your proof of self-employment</li>
                        <details class="govuk-details" data-module="govuk-details" style="margin-bottom:10px">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            What proof can we accept?
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>We will accept one of the following as proof that you are self-employed:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>a business card or letterhead with full name and business name</li>
            <li>a copy of your tax return to HMRC</li>
            <li>a letter from your accountant confirming you're self-employed </li>
            <li>a copy of your sub-contractors certificate issued by HMRC</li>
            <li>a copy of your Hackney Carriage Licence </li>
            <li>a letter from the company for which you are currently subcontracting to confirm that you are self-employed </li>
        </ul>
    </div>
</details>
                      {% else %}
                    {% endif %}

<!-- Ofsted registered childcare-->
                     {% if data.ofstedChildcareCost %}
                        <li>£{{ data['ofstedChildcareCost'] }} of Ofsted registered childcare</li>
                      {% else %}
                    {% endif %}

<!-- Non ofsted registered childcare-->
                     {% if data.nonRegisteredChildcare %}
                        <li>£{{ data['nonRegisteredChildcare'] }} of childcare</li>
                      {% else %}
                    {% endif %}

<!-- Non ofsted registered adult care-->
                     {% if data.careCost %}
                        <li>£{{ data['careCost'] }} of a carer</li>
                      {% else %}
                    {% endif %}

<!-- Other expense 1-->
                     {% if data.other[0][expense] %}
                        <li>£{{ data['other[0][cost]'] }} of a {{ data['other[0][expense]'] }}</li>
                      {% else %}
                    {% endif %}


<!-- end of conditional statement -->
                    </ul>

                                        

    <form action="../payyou" method="post" enctype="multipart/form-data">
      {% set uploadHtml %}
        {{ govukFileUpload({
          id: "documents",
          name: "documents",
          classes: 'moj-multi-file-upload__input',
          label: {
            text: "Upload file(s) for example - photos or PDFs",
            classes: 'govuk-label--m'
          },
          attributes: { multiple: '' },
          errorMessage: errorMessage
        }) }}

        {{govukButton({
          text: 'Upload file',
          classes: 'govuk-button--secondary moj-multi-file-upload__button'
        })}}
      {% endset %}

      {{ mojMultiFileUpload({
        uploadedFiles: {
          heading: { text: 'Files added' },
          items: uploadedFiles
        },
        uploadHtml: uploadHtml
      }) }}

      {{govukButton({
        text: 'Continue'
      })}}
    </form>
  </div>
</div>

      
    </div>
    </main>
</div>

<script>

    if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
  new MOJFrontend.MultiFileUpload({
    container: $(".moj-multi-file-upload"),
    uploadUrl: "/ajax-upload",
    deleteUrl: "/ajax-delete",
  });
}

</script>
{% endblock %}