{% extends "layoutWitexAdmin.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% include "includes/cps/nav/mainNav.html" %}
{% include "includes/cps/nav/homeNav.html" %}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "./index2"
}) }}
{% endblock %}
{% block content %}
<script src="/public/javascripts/mojall.js"></script>
<script src="/public/javascripts/multi-file-upload.js"></script>
{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload -%}
<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<!-- <script src="/public/javascripts/accordion.js"></script> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script>
    if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script> -->
<script type="text/javascript">
//     function revealNote() { 
// $(revealTheNote).removeClass("rj-dont-display");
//     $(revealTheNote).switchClass( "rj-dont-display", "nothing", 1000, "linear" );
// }


$(document).ready(function() {
    $("#openMe").click(function() {
        $(".revealTheNote").slideDown(0);
        $(".revealTheUpload").slideUp(0)
        $("#openMeUpload").addClass("inactiveLink");
        $("#openMe").removeClass("inactiveLink");

    });
});

$(document).ready(function() {
    $("#openMeUpload").click(function() {
        $(".revealTheUpload").slideDown(0);
        $(".revealTheNote").slideUp(0)
        $("#openMe").addClass("inactiveLink");
        $("#openMeUpload").removeClass("inactiveLink");

    });
});

$(document).ready(function() {
    $("#shutMe").click(function() {
        $(".revealTheUpload").slideUp(0);
        $("#openMeUpload").removeClass("inactiveLink");
        $("#openMe").removeClass("inactiveLink");

    });
});

$(document).ready(function() {
    $("#shutMeNote").click(function() {
        $(".revealTheNote").slideUp(0);
        $("#openMeUpload").removeClass("inactiveLink");
        $("#openMe").removeClass("inactiveLink");

    });
});

$(document).ready(function() {
    $("#submitNote").click(function() {

        var myDate = new Date();

        let daysList = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        let monthsList = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Aug', 'Oct', 'Nov', 'Dec'];


        let date = myDate.getDate();
        let month = monthsList[myDate.getMonth()];
        let year = myDate.getFullYear();
        let day = daysList[myDate.getDay()];

        let today = ` ${day}, ${date} ${month} ${year}`;

        let amOrPm;
        let twelveHours = function() {
            if (myDate.getHours() > 12) {
                amOrPm = 'PM';
                let twentyFourHourTime = myDate.getHours();
                let conversion = twentyFourHourTime - 12;
                return `${conversion}`

            } else {
                amOrPm = 'AM';
                return `${myDate.getHours()}`
            }
        };
        let hours = twelveHours();
        let minutes = myDate.getMinutes();

        let currentTime = `${hours}:${minutes} ${amOrPm}`;


        var textarea = document.getElementById("more-detail")

        var text = textarea.value;
        document.getElementById('userNotes').innerHTML = '<p style="font-size:16px"><span style="font-weight:700">David Barton (you)</span><span style="color:#505a5f  ">&nbsp;&nbsp;&nbsp;' + today + " at " + currentTime + ' </span></p><p id="noteHere"></p><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">';
        var p = document.getElementById("noteHere");

        p.textContent = text;

        $(".revealTheNote").slideUp(0);
        $("#openMeUpload").removeClass("inactiveLink");
        $("#openMe").removeClass("inactiveLink");

    });
});



// $(document).ready(function(){
// var box = $('.revealTheNote');

// $('p#openMe').on('click', function () { 
//   box.toggleClass('hidden');
// });
// });
</script>
<style>
        .govuk-back-link{margin-top:10px !important}
    .js-enabled .govuk-accordion__section--expanded .govuk-accordion__section-button {
padding-bottom:0;
}


    .makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}

.filter-form {
    border: 1px solid lightgrey;
    padding: 10px;

}

.options-container {
    border: 0 !important;
}

.js-enabled .govuk-option-select.js-collapsible button {
    background-color: #fff !important;
}

#finder-frontend .filter {
    background-color: #fff !important;
}

#finder-frontend .govuk-option-select,
#finder-frontend .filter {
    margin-bottom: 0 !important;
}

#finder-frontend .govuk-form-group {}

.moj-multi-file__uploaded-files .govuk-heading-m,
.moj-multi-file__uploaded-files .govuk-summary-list  {
    margin:0;
}

.overviewAdmin .govuk-summary-list__key {
    font-weight:400;
}

.govuk-width-container {
    max-width: 1020px;
}

.govuk-tabs__list-item {
    font-size:19px;
}

.cpsAdminMenuWrapper {
max-width:1020px;
margin:0 auto;
}


</style>
{% if (data.changeConfirmBanner) %}
<div class="govuk-notification-banner govuk-notification-banner--success bannerWidth" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner " >
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title"><a href="resetChangeConfirm" style="color:#fff; text-decoration:none">
                Success </a>
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading" style="max-width:1000px">
            {% if data.changeConfirmBanner == 'approve' %}
            The change(s) have been saved
            {% else %}
            {% endif %}
        </h3>
    </div>
</div>
{% else %}
{% endif %}
<span class="govuk-caption-l">HD90210</span>
<div style="display:flex; align-items:center">
    <h1 class="govuk-heading-l" style="">Robert Edwards
    </h1>
    <div style="margin-bottom:30px">
        <strong class="govuk-tag app-tag--record-incomplete" style="margin-left:10px">
            Pending
        </strong>
    </div>
</div>
<div class="govuk-grid-row" style="margin-right:-65px; margin-top:-5px">
    <div class="govuk-grid-column-two-thirds">
        <nav class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="claim3n">Overview</a>
                </li>
                 <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link"  href="cmsCheck">Eligibility</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="claim3n1">Proof</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="claim3n2">Checks</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="claim3n3">Claim details</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="claim3n4">Notes/Amends</a>
                </li>
            </ul>
        </nav>
        <!-- <h2 class="govuk-heading-m">Details entered by claimant </h2> -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Food</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How many hours were you away from home or work?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            less than 5 hours
                        </dd>
                        <!--                 <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                </dl>
            </div>
        </div>
        <!--   <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                    Travel
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2"> -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Travel</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="edit2/travelOrNot">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Do you want to claim for travel to and from the court?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                        </dd>
                        <!--    <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How did you travel to court?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Train <br />Car 
                        </dd>
                        <!--  <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                </dl>
            </div>
        </div>
        <!--      </div>
            </div> -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Car</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="edit2/car3">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Are you claiming the higher rate of mileage for your car?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                        </dd>
                        <!--   <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="edit2/car2">
                                Change<span class="govuk-visually-hidden"> </span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Why are you claiming the higher mileage rate?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Other
                        </dd>
                        <!-- <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="edit2/car2">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reason for other
                        </dt>
                        <dd class="govuk-summary-list__value">
                            It was raining
                        </dd>
                        <!--  <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="edit2/car2">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Were you travelling with additional witnesses?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                        <!--  <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="edit2/car2">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How many miles are you claiming for?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            177
                        </dd>
                        <!--  <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="edit2/car2">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Did you pay for parking?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                        <!--  <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="edit2/car2">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Did you have to pay any other driving costs?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                        </dd>
                        <!--  <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="edit2/car2">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Other driving costs expense 1
                        </dt>
                        <dd class="govuk-summary-list__value">
                            ULEZ
                        </dd>
                        <!--  <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="edit2/car2">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Other driving costs cost 1
                        </dt>
                        <dd class="govuk-summary-list__value">
                            £12.50
                        </dd>
                        <!--   <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Other driving costs expense 2
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Congestion charge
                        </dd>
                        <!-- <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="edit2/car2">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Other driving costs cost 2
                        </dt>
                        <dd class="govuk-summary-list__value">
                            £22.50
                        </dd>
                        <!--   <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="edit2/car2">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                </dl>
            </div>
        </div>
        <!--          </div> 
                    </div> -->
        <!--      <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Overnight stay
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3"> -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Overnight stay</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Do you want to claim expenses for an overnight stay?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                        <!--                         <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                </dl>
            </div>
        </div>
        <!--        </div>
        </div> -->
        <!-- <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-4">Work
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4"> -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Work</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Did you lose any income because you went to court?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                        <!--       <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                </dl>
            </div>
        </div>
        <!--       </div>
    </div> -->
        <!--  <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-5">Childcare
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5"> -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Childcare</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Did you pay someone to look after your children?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                        <!--   <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                </dl>
            </div>
        </div>
        <!-- </div>
</div> -->
        <!--   <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-6">Carer
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6"> -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Carer</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Did you pay for a carer?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                        <!--      <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                </dl>
                <!--       </div>
                                    </div> -->
            </div>
        </div>
        <!--  <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-7">Other expenses
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7"> -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Other expenses</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Do you want to claim for other expenses?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                        <!--       <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                </dl>
                <!--   </div>
                                    </div> -->
            </div>
        </div>
        <!--   <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-8">Payment details
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8"> -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Payment details</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How do you want to be paid?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            A UK bank or building society
                        </dd>
                        <!--     <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name on the account
                        </dt>
                        <dd class="govuk-summary-list__value">
                            R Edwards
                        </dd>
                        <!--     <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Sort code
                        </dt>
                        <dd class="govuk-summary-list__value">
                            00-00-00
                        </dd>
                        <!--     <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Account number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            09867654
                        </dd>
                        <!--    <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Building society roll number
                        </dt>
                        <dd class="govuk-summary-list__value">
                        </dd>
                        <!--     <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                            </a>
                        </dd> -->
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group" style="margin-bottom:10px; margin-left:20px ">
            <form action="caseActions" method="get" class="form" style="">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Actions
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="caseActions-2" name="caseActions" type="radio" value="Send back to user">
                            <label class="govuk-label govuk-radios__label" for="caseActions-2">
                                Mark as witness query
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="caseActions-3" name="caseActions" type="radio" value="Block">
                            <label class="govuk-label govuk-radios__label" for="caseActions-3">
                                Mark as area query
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="caseActions-4" name="caseActions" type="radio" value="Send for approval">
                            <label class="govuk-label govuk-radios__label" for="caseActions-4">
                                Escalate claim
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="caseActions-4" name="caseActions" type="radio" value="Reject">
                            <label class="govuk-label govuk-radios__label" for="caseActions-4">
                                Reject claim
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="caseActions" name="caseActions" type="radio" value="Approve">
                            <label class="govuk-label govuk-radios__label" for="caseActions">
                                Submit claim for payment
                            </label>
                        </div>
                    </div>
                </fieldset>
                <button class="govuk-button" style="margin-top:10px">Update</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
    new MOJFrontend.MultiFileUpload({
        container: $(".moj-multi-file-upload"),
        uploadUrl: "/ajax-upload",
        deleteUrl: "/ajax-delete",
    });
}
</script>
{% endblock %}