{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %}
{% include "includes/version1/homeNav.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<style>
    .govuk-header__logotype {
    width: 500px
}

.makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}


</style>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="car">
 <!--                <h1 class="govuk-heading-xl">Travel costs </h1>
                      <p>You can claim if you travelled to and from court by train, tube, coach, bus, air, ferry, car, motorbike or bicycle. </P><p>You will need receipts to claim for train, coach, air or ferry trips. </p> -->
                <div class="govuk-form-group">
                    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
                            {{ govukCheckboxes({
                              idPrefix: "transportChoice",
                              name: "transportChoice",
                              fieldset: {
                                legend: {
                                  text: "How did you travel to court?",
                                  isPageHeading: true,
                                  classes: "govuk-fieldset__legend--l"
                                }
                              },
                              hint: {
                                text: "Select all that apply."
                              },
                              items: [
                                {
                                  value: "London transport",
                                  text: "London transport",
                                  checked: "True",
                                  hint: { text: "Includes: tube, bus, Docklands Light Railway (DLR), Elizabeth Line and overground train"}

                                },
                                {
                                  value: "Bus/Tram/Metro outside London",
                                  checked: "True",
                                  text: "Bus/tram/metro outside London"
                                },
                                {
                                  value: "Train",
                                  checked: "True",
                                  text: "Train"
                                },
                                {
                                  value: "Coach",
                                  text: "Coach"
                                },
                                {
                                  value: "Car",
                                  checked: "True",
                                  text: "Car"
                                },
                                {
                                  value: "Motorbike/scooter",
                                  text: "Motorbike/scooter"
                                },
                                {
                                  value: "Bicycle",
                                  text: "Bicycle"
                                },
                                {
                                  value: "Taxi",
                                  text: "Taxi"
                                }
                                
                                 
                              ]
                            }) }}
                </div>
                              <div class="govuk-button-group">
                <button type="submit" class="govuk-button">Continue </button>
                 <a class="govuk-link" href="#">Cancel</a>
             </div>
                
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}