{% extends "layout.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% endblock %}
{% block content %}
<style>
.govuk-footer__copyright-logo {
    display: none;
}

@media (min-width: 48.0625em) {
    .govuk-header__logo {
        width: 50% !important;
    }
}

@media (max-width: 641px) {
    .govuk-header__logotype-text {
        font-size: 22px;
    }
}
/**
 * Enable smooth scrolling on the whole document
 */
html {
    scroll-behavior: smooth;
}
</style>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
           <p style="margin-bottom:5px"><a href="#request">PCD request </a></p>
<!--             <p style="margin-bottom:5px"><a href="">Comments </a></p> -->
             <p style="margin-bottom:5px"><a href="#response">PCD response </a></p>
<!--              <p><a href="" style="margin-bottom:5px">Case review</a></p>
             <p><a href="" >Action plan</a></p> -->
        <h1 class="govuk-heading-l" style="" id="request" >PCD request</h1>
             <p style="margin-bottom:5px"><a href="#outline">Case outline</a></p>
                 <p style=""><a href="#comments">Comments</a></p>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                 <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Decision required by</td>
                    <td class="govuk-table__cell">20 Nov 2023</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Decision requested</td>
                    <td class="govuk-table__cell">10 Nov 2023</td>
                </tr>

            </tbody>
        </table>

        <h3 class="govuk-heading-m" style="">McLove, Eoin</h1>


        <table class="govuk-table">
            <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
               <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Description</td>
                    <td class="govuk-table__cell">Possession with the intent to supply </td>
                </tr>
               <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="width:250px">Proposed charge</td>
                    <td class="govuk-table__cell" style="min-width:220px">ABC123</td>
                </tr>
 
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Code</td>
                    <td class="govuk-table__cell">ABC123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="min-width:200px">Qualifier</td>
                    <td class="govuk-table__cell">ABC123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">From</td>
                    <td class="govuk-table__cell">01 Nov 2023</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">To</td>
                    <td class="govuk-table__cell">02 Nov 2023</td>
                </tr>
            </tbody>
        </table>

                <table class="govuk-table">
            <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                                 <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Description</td>
                    <td class="govuk-table__cell">Common assault </td>
                </tr>
               <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="width:250px">Proposed charge</td>
                    <td class="govuk-table__cell">123BC</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Code</td>
                    <td class="govuk-table__cell">BBB123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="min-width:200px">Qualifier</td>
                    <td class="govuk-table__cell">BBB123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">From</td>
                    <td class="govuk-table__cell">01 Nov 2023</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">To</td>
                    <td class="govuk-table__cell">02 Nov 2023</td>
                </tr>
            </tbody>
        </table>
           
         <h3 class="govuk-heading-m" style="">Crilly, Ted</h1>


        <table class="govuk-table">
            <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Description</td>
                    <td class="govuk-table__cell">Possession with the intent to supply </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Proposed charge</td>
                    <td class="govuk-table__cell">ABC123</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Code</td>
                    <td class="govuk-table__cell">XYZ123</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="min-width:200px">Qualifier</td>
                    <td class="govuk-table__cell">XYZ123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">From</td>
                    <td class="govuk-table__cell">01 Nov 2023</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">To</td>
                    <td class="govuk-table__cell">02 Nov 2023</td>
                </tr>
            </tbody>
        </table>
   

       
        <h3 class="govuk-heading-m" style="" id="outline">Case outline</h3>
       
     <p>Summary of Key Evidence </p>
<p>PCDR - Op Re John Jones PWITS </p>
<p>The offence in this case is possession with the intent to supply Class A Drugs and proceeds of criminal property</p>
<p>The offence location is TESTY ROAD, LANDY and 93 SOMETHING AVENUE, SOMEWHERE</p>
<p>The defendant in this case is John JONES</p>
<p>The circumstances are as follows;</p>

<p>On Saturday 12th February at approximately 1705 hours police were on plain clothes patrol in a plain vehicle on Tesco Car Park. At that time a black BMW 3 series estate, was sighted parked at the rear of DOMINO PIZZA in the car park. There was on a male on board the vehicle who was later identified as John JONES. JONES remained in the vehicle for a couple of minutes before a male (who does not appear before the court) approached the front passenger side door and got into the vehicle. JONES was then seen to drive to the end of the car park where the unknown male alighted. Constable sighted an exchange between JONES and the male whereby cash was passed to JONES. Suspecting a drugs transaction to take place the vehicle was stopped exiting the car park onto TESTY ROAD and the occupant JONES detained. </p>

<p>Upon being detained JONES dropped £60 cash (£60 IN BANK OF ENGLAND NOTES MS/02) onto the floor and was seen to have four wraps of cocaine held in his hand (4 X WRAPS OF WHITE POWDER MS/01). This was seized by Constables. </p>

<p>JONES was detained and searched under section 23 of the Misuse of Drugs Act by Constables. Full Police GO WISLEY was explained to him. Prior to being searched Constable asked JONES did he have anything else on his person to which he replied "IVE GOT MORE DOWN MY KECKS". Upon being searched he was found in possession of CELLOPHANE BAG CONTAINING 18 LARGE BAGS OF WHITE POWDER (MS/03). This was handed to constabls. </p>

<p>At 17:10 hours JONES was informed my Constables that he was under arrest for suspicion of possession with the intent to supply Class A Drugs he was cautioned but made no reply. </p>

<p>At 1735 hours Constables attended 93 SOMETHING AVENUE, which was the home address of JONES. Access was gained using a key he had in his possession. An 18 (5) search of the premises was executed in order to preserve evidence. A full and systematic search was carried out. During that search the following items were located and seized as follows;</p>

<p>MS/05 - 1X BLACK SAMSUNG MOBILE PHONE (PIN REFUSED)</p>
<p>ASB/01 SAMSUNG MOBILE PHONE</p>
<p>ASB/02 BLACK LOCK BOX AND KEY</p>
<p>ASB/02A QUANTITY OF UNCOUNTED CASH IN B OF E NOTES AND COINS</p>
<p>ASB/03 GLOVES FROM CASH SEIZURE KIT</p>
<p>ASB/03A MASK FROM CASH SEIZURE KIT</p>
<p>ASB/04 CASH TIN WITH WORD 'POUNDS' ON</p>
<p>ASB/05 CASH TIN WITH WORD 'POUNDS' ON</p>
<p>ASB/06 CASH TIN WITH WORDS 'SILVER COPPER' ON</p>
<p>ASB/08 - PLASTIC BAGS CUT </p>
<p>ASB/09 - WRAP OF WHITE POWDER </p>
<p>ASB/10 - TOILET ROLL WITH DATES AND AMOUNTS WRITTEN ON IT </p>
<p>ASB/11 - 2x HIGH VALUE RECEIPTS </p>
<p>ASB/12 - ROLL OF FOOD BAGS </p>

<p>Forensic evidence has been obtained in relation to identification, quantification and value of the seized drug exhibits.</p>

<p>Forensics Scientist has provided an SFR/1 MG22B which is attached to the file dated 28/04/2022 confirming the exhibits examined to be Class A Drugs, namely Cocaine.</p>

<p>MS/03 (L01329080) 18 knotted plastic packages Also present: 1 open and empty plastic package 13.0 grams off-white powder i.e. 18 @ c. 0.7 grams Cocaine(*) {35%}Class A </p>

<p>MS/01*(BS01505695 3 knotted plastic packages held within an open plastic bag package 2.74 grams (total) off-white powder i.e. 3 @ c. 0.9 grams Cocaine(*) {33%}Class A</p>

<p>ASB/09 (J04699735) 1 knotted plastic package 0.93 grams off-white powder Cocaine(*) {35%} Class A</p>

<p>MG11 dated **/**/**** is attached to court folder from Force Drug Expert Witness and comments as following: </p>

<p>The defendant has chosen to answer “NO COMMENT” in interview in relation to drug supply. In relation to fingerprints and DNA the packaging has not been sent for analysis following liaison with the forensic department it would be highly likely the DNA/Fingerprints would be that of the defendant in this case as they defendant had the exhibits down their trousers and in their hand where it is accepted that DNA/FINGERPRINTS would be highly transferable. The exhibits recovered and the likelihood of it adding any value to this case is heavily outweighed by the cost in monetary and time terms and it is for that rationale that these items have not been sent for Fingerprint/DNA testing. </p>

<p>Mobile devices have NOT been authorised for examination as attributed to defendant and officers have exhibited and photographed locked screen with drug related messages.</p>

<p>During this Investigation no new evidence has come to light therefore there is no requirement to re-interview the defendant in this matter. </p>

<p>All key evidential statements are attached to the file, any un-attached statements are non-key and do not interfere with any charging decision.</p>

<p>Scene photographs are attached to the file for charging lawyers attention.</p>

<p>BWV of this incident – Link forwarded via MG0 um is on file.</p>

<p>It is requested by the investigating officer that the reviewing CPS lawyer gives consideration of the following offence.</p>

<p>JOHN JONES - Possession with intent to supply a class A drug namely COCAINE.</p>







 <h3 class="govuk-heading-m" style="" id="comments">Supervisors comments</h3>
 <p>I have reviewed this matter and have applied the FCT as per the DGC 6th Ed. </p>

<p>All key evidence is available and all reasonable lines of enquiry are complete. Any additional enquiries will not alter the charging decision/case presentation.</p>

<p>I am treating this matter as NGAP based on the interview.</p>

<p>DP seen to be involved in an exchange with another male who got into his car and then got out quickly. DP found to have numerous wraps of what has been confirmed to be cocaine on his person. A further amount of cocaine and a large amount of cash was also recovered following a search of his address.</p>

<p>The amount being over £3000, this has been dealt with as a civil recovery, but the evidence suggests the money has been obtained through the sale of drugs</p>

<p>Expert witness has valued the cocaine and also commented upon a message which was on the screen of the suspects phone. No further phone analysis was possible.</p>

<p>DP failed to provide an account in iv.</p>

<p>There is sufficient evidence to consider the proposed offences, which would be in the PI to proceed with, please review.</p>

<p>Sgt</p>


 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h1 class="govuk-heading-l" id="response" style="">PCD response</h1>
                     
             <p style="margin-bottom:5px"><a href="#review">Review</a></p>
                 <p style=""><a href="#action">Action plan</a></p>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Investigative stage</td>
                    <td class="govuk-table__cell">Post interview</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Decision requested    </td>
                    <td class="govuk-table__cell">10 Nov 2023</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Decision made </td>
                    <td class="govuk-table__cell">19 Nov 2023 <br />13:23</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Action plan</td>
                    <td class="govuk-table__cell">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Follow up date </td>
                    <td class="govuk-table__cell">24 Nov 2023</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="min-width:200px">Decision made by</td>
                    <td class="govuk-table__cell">Hull area</td>
                </tr>
            </tbody>
        </table>
        <h3 class="govuk-heading-m" style="">McLove, Eoin</h1>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                 <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Description</td>
                    <td class="govuk-table__cell" style="">Possess with intent to supply a controlled drug of Class A - Cocaine </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Principle offence category</td>
                    <td class="govuk-table__cell">Doing the thing</td>
                </tr>
               <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Proposed charge</td>
                    <td class="govuk-table__cell" style="min-width:220px">MD71230 </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Decision</td>
                    <td class="govuk-table__cell" style="min-width:220px">Accept</td>
                </tr>
                              <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Code</td>
                    <td class="govuk-table__cell">ABC123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="min-width:200px">Qualifier</td>
                    <td class="govuk-table__cell">ABC123</td>
                </tr>
                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">From</td>
                    <td class="govuk-table__cell">01 Nov 2023</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">To</td>
                    <td class="govuk-table__cell">02 Nov 2023</td>
                </tr>
            </tbody>
        </table>
      <table class="govuk-table">
            <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Description</td>
                    <td class="govuk-table__cell" style="">Acquire / use / possess criminal property  </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Principle offence category</td>
                    <td class="govuk-table__cell">Theft and handling</td>
                </tr>
               <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Proposed charge</td>
                    <td class="govuk-table__cell" style="min-width:220px">PC02021  </td>
                </tr>

                               <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="width:175px">Decision</td>
                    <td class="govuk-table__cell" style="min-width:220px">Reject - Evidential </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Code</td>
                    <td class="govuk-table__cell">ABC123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="min-width:200px">Qualifier</td>
                    <td class="govuk-table__cell">ABC123</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">From</td>
                    <td class="govuk-table__cell">01 Nov 2023</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">To</td>
                    <td class="govuk-table__cell">02 Nov 2023</td>
                </tr>
            </tbody>
        </table>

        <h3 class="govuk-heading-m" style="">Crilly, Ted</h1>


        <table class="govuk-table">
            <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Description</td>
                    <td class="govuk-table__cell">Possession with the intent to supply </td>
                </tr>
                                                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Principle offence category</td>
                    <td class="govuk-table__cell">Doing the thing</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Proposed charge</td>
                    <td class="govuk-table__cell">ABC123</td>
                </tr>

                                               <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="width:175px">Decision</td>
                    <td class="govuk-table__cell" style="min-width:220px">Reject - Evidential </td>
                </tr>


                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Code</td>
                    <td class="govuk-table__cell">XYZ123</td>
                </tr>


                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="min-width:200px">Qualifier</td>
                    <td class="govuk-table__cell">XYZ123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">From</td>
                    <td class="govuk-table__cell">01 Nov 2023</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">To</td>
                    <td class="govuk-table__cell">02 Nov 2023</td>
                </tr>
            </tbody>
        </table>
   

         
<!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->
 <h3 class="govuk-heading-m" style="" id="review">Review</h1>

     <table class="govuk-table">
            <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Review type</td>
                    <td class="govuk-table__cell" style="min-width:220px">Data </td>
                </tr>
                    <td class="govuk-table__cell" style="width:175px">Consultation type</td>
                    <td class="govuk-table__cell" style="min-width:220px">Full code test  </td>
                </tr>
               <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Review date</td>
                    <td class="govuk-table__cell" style="min-width:220px">30 July 2022</td>
                </tr>
               <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Review made by</td>
                    <td class="govuk-table__cell" style="min-width:220px">Data</td>
                </tr>
            </tbody>
        </table>

        <p>This is an allegation of PWITS and possess criminal property. I have considered the CPS Legal Guidance on Drugs Offences.
FCT applied <br /><br />

<strong>Suspect:</strong> <br/>John JONES <br /><br />

<strong>Proposed charges:</strong>  <br />
Possess with intent to supply a controlled drug of Class A - Cocaine (12/02/2022) - authorised
Acquire / use / possess criminal property (12/02/2022) -NFA <br /><br />

<strong>Anticipated plea</strong> <br />
GAP NSST <br /><br />

<strong>Facts</strong>  <br />
12.2.22 – officers were on plain clothes patrol in a plain vehicle in Tesco Car Park. They sighted S sitting in his vehicle. They saw another male (not before court) approach and get into the car. S drove to the end of the car park and the unknown male alighted. Officers witnessed an exchange between S and the male whereby cash was passed to S. Suspecting a drugs transaction to take place the vehicle was stopped. Upon being detained £60 cash blew onto the floor/was thrown out by S (MS/02 – officers give different accounts of how it ended up on the floor) onto the floor and was seen to have four wraps of cocaine held in his hand (MS/01). 
S was asked if he had anything else on his person to which he replied "IVE GOT MORE DOWN MY KECKS". Upon being searched he was found in possession of 18 bags of cocaine (MS/03) and a phone (MS/04).  <br /><br />
MS/04 was continuously ringing/receiving messages. PC photographed these messages off the screen – exhibits as BG03, BG04 and BG05. <br /><br />
A section 18 (5) search of Ss premises was executed. During the search the following items were seized - <br /><br />
MS/05 - 1x black Samsung mobile phone (PIN refused) (unused – not downloaded) <br /><br />
ASB/01 - Samsung mobile phone (unused – not downloaded) <br /><br />
ASB/02 - black lock box and key <br /><br />
ASB/02A - quantity of uncounted cash in B of E notes and coins (c. £3000 - seized from within lock box – cash count MG11 required – action plan) <br /><br />
ASB/04 cash tin with word 'pounds' on <br /><br />
ASB/05 cash tin with word 'pounds' on <br /><br />
ASB/06 cash tin with words 'silver copper' on <br /><br />
ASB/08 - plastic bags cut  <br /><br />
ASB/09 - wrap of cocaine <br /><br />
ASB/10 - toilet roll with dates and amounts written on it (unused – Drug Support Unit confirmed this is not a tick list) <br /><br />
ASB/11 - 2x high value receipts (unused?) <br /><br />
ASB/12 - roll of food bags  <br /><br />
ASB13-15 - photos <br /><br />
 
<strong>Evidential Assessment</strong> <br />
 I have considered the following – <br /><br />
MG11 PC S<br /><br />
Saw S with other male in vehicle. Suspected a drugs transaction. Witnessed the front seat passenger exit and walk away, placing an unknown item into his rear jeans pocket. <br /><br />
Arrested S.<br /><br />
Seized MS1 (4 wraps), MS2 (£60), MS3 (18 wraps), MS4 (phone). S18 search – seized another phone (MS5). Took photos – MS6<br /><br />
MG11 PC G – <br /><br />
With PC S. Saw S with other male in vehicle. Searched Ss house – no exhibits<br /><br />
MG11 PC G – <br /><br />
Attended scene – saw S hand what was suspected to be drugs to male, and male handing S a quantity of cash. Heard S admitting to having drugs down ‘kecks.’<br /><br />
Search of premises. Exhibits PCE10 as BG1. BWV as BG2 (BG1-2 unused)<br /><br />
Throughout the search phone MS/04 was continuously ringing/receiving messages - S refused to supply the PIN. Officer photographed these messages off the lock screen – exhibits as BG03, BG04 and BG05. (BG3 – 4 need redacting for phone numbers/surnames – action plan)<br /><br />
Field tested one wrap of MS1 – re-exhibits as BG6 (action plan for drug expert to address in MG11)<br /><br />
MG11 PC B<br /><br />
Attended scene with PC G. S18 search. Exhibits ASB1 –15 (NB there is no ASB7 – this is addressed in MG11) <br /><br />

MG11 - Drug Expert <br /><br />
MS/03 - cocaine 18 x c. 0.7 gram deals. <br /><br />
MS/01 – cocaine - 3 x c. 0.9 gram deals. <br /><br />
ASB/09 – 1 deal<br /><br />
Total – 22 x 1g deals - £880 - £2,200<br /><br />
Text Messages – contains messages frequently seen and frequently used within Merseyside as references to illicit drugs and the illicit drugs market. <br /><br />
Conclusion – the cocaine in this investigation were intended for onward sale/ supply for commercial gain. Support for my opinion is provided by the quantity and configuration of the indicated street deals, text messages that are drug supply related and over £3,000 cash seized. I also note the roll of plastic bags and cut bags.<br /><br />
*Has not commented on exhibit BG05 – I am unsure why – action plan<br /><br />
*ASB10 - Drug Support Unit confirmed this is not a tick list so it is not addressed in drug expert MG11<br /><br />
*numbers/surnames need redacting from MG11 – action plan raised<br /><br />

SFR1 – <br /><br />
MS/03 - 18 knotted plastic packages, containing a total of 13.0 grams of an off-white powder. 35% cocaine. <br /><br />
MS/01 - 3 knotted plastic packages, containing a total of 2.74 grams of an off-white powder. 33% cocaine. <br /><br />
ASB/09 - 1 knotted plastic package containing 0.93 grams of an off-white powder. 35% cocaine. <br /><br />

Forensics - the packaging has not been sent for analysis as the drugs were found down Ss trousers <br /><br />

Phones – ASB1, MS4 and MS5 - not authorised for download; however, MS4 is evidential as drugs messages were photographed<br /><br />

BWV – <br /><br />
BG02 - Shows grounds for search being relayed to S under 23 MDA. Does not show the arrest <br /><br />
*unused CND<br /><br />

IV – Solicitor present<br /><br />
NC<br /><br />
*adverse inferences <br /><br />
*S49 warning given – action plan for outcome <br /><br />
*Form A served <br /><br />

<strong>LEGAL ASSESSMENT</strong> <br />
PWITS <br /><br />
RPOC based on exhibits seized (drugs and paraphernalia), text messages and drug expert statement. Plus the fact that the officers witness a drugs transaction.<br /><br />
There is a moderate amount of cocaine seized - it arguably exceeds personal use. The packaging and configuration of drugs is indicative that the drugs were intended for onward supply. <br /><br />
S also has large amount of cash. There are messages on the phone seized from S which evidence that he is involved in supply. 
S admits that he has drugs down his trousers. He has cocaine in his hand and makes admissions on the PCE 10 that ASB9 is his – thus possession is not in dispute. <br /><br />
In IV, he did not admit supply but also failed to deny that he was involved in the supply of drugs. <br /><br />
I authorise charge for PWITS cocaine.<br /><br />

Possess Criminal Property <br /><br />
The quantity of cash is fairly consistent with the top value of the drugs seized, which indicates that S is dealing at the level suggested by the drugs expert. <br /><br />
This supports the prosecution case that the drugs are being supplied for financial gain. <br /><br />
Despite this, I am not considering a separate charge of possess criminal property – the presence of the cash suggests that S had a significant role, and should thus be treated as an aggravating feature of the drugs offences, rather than as a separate charge.<br /><br />
The cash has already been subjected to POCA. The amount being over £3000, this has been dealt with as a civil recovery, but the evidence suggests the money has been obtained through the sale of drugs<br /><br />

Other – <br /><br />
Whilst not a proposed charge, I did consider an offence of supply cocaine based on the transaction witnesses by PCs G and S. Ultimately, I do not consider there is RPOC. The officers didn’t see precisely what passed to the other male and he was never apprehended and so no items were recovered. Whilst it probably was drugs, and indeed S was found with cash and wraps of cocaine, it may muddy the waters to charge this offence.<br /><br /> In addition, it wouldn’t add anything to sentence. In the circumstances, I am content to treat this as a feature that strengthens the PWITS case. <br /><br />

There are no issues with the admissibility of the evidence. Nothing appears to undermine the prosecution evidence/assist the defence. <br /><br />

The evidence is all from police officers so is reliable & credible. <br /><br />

I am treating this as a GP – <br /><br />
A guilty plea may be anticipated where the suspect:<br /><br />
• Has been interviewed and<br /><br />
- has made a clear and unambiguous admission to the offence (supply) and has offered no explanation that is capable of being used as a defence; or<br /><br />
- has not made a clear and unambiguous admission of guilt but has offered no explanation that is capable of being used as a defence and either (i) the commission of the offence and the identification of the offender can be wholly established by police witnesses, or (ii) there is clear visually recorded evidence of the offence being committed and of the suspect being the offender.<br /><br />

BC – no – no previous drugs convictions<br /><br />
HS – no<br /><br />
RLOI – no<br /><br />
 
<strong>Public Interest Assessment</strong> <br />
 It is in the PI to pursue prosecution in this case. Factors in favour of prosecution outweigh those against. A prosecution is proportionate and in the public interest because of the:<br /><br />
• Seriousness of case and likely penalty<br /><br />
• Harm to complainant – there is no direct victim but drug production, supply & use has an impact on the wider community.<br /><br /> 
• Community impact of drug production/supply & use – it undermines community safety and a negative perception of the criminal justice system would be created if not robustly prosecuted<br /><br />
• Culpability - Possibly lower but still engaged in the supply of class B drugs<br /><br />
• Suspect is an adult and I am not aware of any vulnerabilities<br /><br />
• I am not aware of any issues of source protection<br /><br />
 
<strong>Allocation</strong> <br />
 NSST <br /><br />

Significant Role <br /><br />
Cat 3 – Street Dealing <br /><br />
SP for Class A is 4 years, 6 months / range –3 years, 6 months – 7 years<br /><br />
 
<strong>ECHR</strong> <br />
 No issues <br /><br />

<strong>Disclosure Actions and Issues</strong> <br />
 No early common law disclosure required <br /><br />
All reasonable lines of enquiry appear to have been completed <br /><br />

GAP case – MG6C / RP material is therefore not required to authorise charges in this case. <br /><br />
MG6C / RP material is on file however, therefore I have considered the same – <br /><br />
Presumption rebutted for all items. <br /><br />
MG6C- DO is, dated 13.2.22, on CMS on 21.6.22. Items 1-18<br /><br />

Issues –<br /><br />
Item 15 – BWV needs more detailed description of what it shows<br /><br />
Missing - Unused exhibits -<br /><br />
ASB/03 gloves from cash seizure kit<br /><br />
ASB/03A mask from cash seizure kit<br /><br />
BG5 - Toilet Roll with writing on. Drug Support Unit confirmed this is not a tick list<br /><br />
BG5? Once expert confirms why not evidential <br /><br />
ASB/11 - 2x high value receipts (unused?)<br /><br />

Otherwise appears complete.<br /><br />

I am not proposing to action plan this at the present time, but should S enter a NGP, then I will do so. <br /><br />
CPIA – disclosure test applied. Cannot identify anything that assists / undermines<br /><br />
MG6D – no sensitive items <br /><br />
MG6E – nothing disclosable identified. <br /><br />
 
<strong>Trial Strategy</strong> <br />
 GAP case<br /><br />
Costs <br /><br />
F & D<br /><br />

<strong>POCA - yes</strong><br />
POCA investigation #refers 22000108839 <br /><br />
ECT - 5450 CHORLEY 01517773242<br /><br />

No defence engagement at this stage<br /><br />
1H <br /><br />
If NG plea entered please note issues per BCM on HRS<br /><br />
The evidence of intent to supply is contained within the reports and are commented on by the expert. It is likely most of the evidence can be agreed section 9/ reduced to section 10 admissions<br /><br />
 
<strong>Witness / Victim Information and Actions</strong> <br />
 All witnesses are police officers so are entitled to standard service <br /><br />
No interpreters/intermediaries or special measures<br /><br />
No MG10 – action plan <br /><br />
 
<strong>Instructions to Op Delivery / Advocate </strong><br />
 OD- GAP <br /><br />
IDPC – MG4, MG5, MG11 S, G, G, B, ASB13-15, defence pre cons<br /><br />
Assurance – I have considered file for GDPR. Redactions required to numbers within screenshots in MG11 C and numbers within exhibits BG3-5. These are not to be served until redactions made. <br /><br />
Advocate- Please see review above, NSST<br /><br />
The following monitoring codes were set or had comments entered at review: <br /><br />
GAP: Yes <br /><br />
Pre-Charge Decision: Yes <br /><br />

 
<strong>Prosecutor Declaration Details:</strong> <br />
Not Applicable <br /><br />

<strong>NFQ/DG6 details:</strong> <br />
Assessment applicable: Yes <br /><br />
Submission DG6/NFS compliant: No <br /><br />
Date material received:  <br /><br />
Principal Offence Category: None of the draft charges on this consultation have been assigned a Principal Offence Category<br /><br />
 
<strong>Stage assessment completed: PCD</strong> <br />
  1. Evidential: <br /><br />
Statement(s) <br /><br />
Exhibit <br /><br />
Comments: missing exhibits, no cash count statement  <br /><br />
  2. Disclosure: <br /><br />
  3. Witness: <br /><br />
  4. Breach: <br /><br />
Police response to NFQ/DG6 Assessment:<br /><br />
 Not disputed by the Police <br /><br />

 </p>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

 <h3 class="govuk-heading-m" id="action" style="">Action plan</h1>

             <table class="govuk-table">
            <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Type</td>
                    <td class="govuk-table__cell" style="min-width:220px">Action plan </td>
                </tr>
                    <td class="govuk-table__cell" style="width:175px">Entry date</td>
                    <td class="govuk-table__cell" style="min-width:220px">14 July 2022 </td>
                </tr>
               <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Action date</td>
                    <td class="govuk-table__cell" style="min-width:220px">30 July 2022</td>
                </tr>
               <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Action point</td>
                    <td class="govuk-table__cell" style="min-width:220px">Requested</td>
                </tr>
            </tbody>
        </table>
        <p>1. Please provide SFR1. I have charged on basis that CM01 confirms that SFR1 exists and what the drugs are identified as.<br /><br />
2. Missing exhibits – MS6 (unsure what this is a photo of – if just MS5 then it is unused. If MS1-4 then evidential. If not, are there photos of MS1-4)? Are there photos of the food bags ASB8 and 12?<br /><br />
3. Was all cash forfeited at the POCA hearing? Was this contested?<br /><br />
4. Cash count MG11 required – please provide.<br /><br />
5. I am just curious why the expert didnt consider BG5 as it is not explained? (I just want to make sure I address this properly in my review) <br /><br />
6. BG3-4 (and 5, subject to query 5 above) - need redacting for phone numbers/surnames. Also the screenshots in MG11 DS C need redacting. <br /><br />
7. MS1 was 4 wraps but PC G tested 1 wrap and re-exhibits as BG6 (which is presumably why expert describes MS1 as being 3 wraps). I appreciate it won’t make any difference in the grand scheme of things but should BS6 be include in experts MG11? <br /><br />
8. ASB/11 - 2x high value receipts – what are these for? I presume these are unused? <br /><br />
9. S49 warning given – has there been any further action on this? <br /><br />
10. Please provide MG10.<br /><br />
many thanks 
</p>

        <!-- <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Crilly, Ted</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Date of birth</td>
                    <td class="govuk-table__cell">12 September 1980</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Age</td>
                    <td class="govuk-table__cell">41</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Charges</td>
                    <td class="govuk-table__cell">Section 39 Common assault 01/06/2020. Contrary to the Criminal Justice Act 1988</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="min-width:200px">Custody time limit</td>
                    <td class="govuk-table__cell">45 days</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Custody end</td>
                    <td class="govuk-table__cell">May 30 2022</td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">McGuire, Dougal</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Date of birth</td>
                    <td class="govuk-table__cell">12 May 1992</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Age</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Charges</td>
                    <td class="govuk-table__cell">Section 39 Common assault 01/06/2020. Contrary to the Criminal Justice Act 1988</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="min-width:200px">Custody time limit</td>
                    <td class="govuk-table__cell">45 days</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Custody end</td>
                    <td class="govuk-table__cell">May 30 2022</td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Hackett, Jack</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Date of birth</td>
                    <td class="govuk-table__cell">02 Jan 2001</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Age</td>
                    <td class="govuk-table__cell">21</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Charges</td>
                    <td class="govuk-table__cell">Section 39 Common assault 01/06/2020. Contrary to the Criminal Justice Act 1988</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="min-width:200px">Custody time limit</td>
                    <td class="govuk-table__cell">45 days</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Custody end</td>
                    <td class="govuk-table__cell">May 30 2022</td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>
{% endblock %}