{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<script src="/public/javascripts/mojall.js"></script>
<script src="/public/javascripts/add-another.js"></script>
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Train</span>
            Your train journey(s)
        </h1>

        <p>You can only claim for standard class tickets. </p>

<div class="govuk-inset-text">
You can only claim for a journey if you provide a receipt or give us a satisfactory reason for not providing evidence of your payment. 
</div>
 <div data-module="moj-add-another">
        <form method="post" >
             <fieldset class="govuk-fieldset moj-add-another__item">
            <div class="govuk-form-group">
                <label class="govuk-label bold-label" for="trainCost[0][cost]">
                    Enter the total cost of your train journey(s)
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="trainCost[0][cost]" name="trainCost[0][cost]" type="text" spellcheck="false" data-name="train[0][cost]" data-id="train[0][cost]">
                </div>
            </div>
 </fieldset>
            <div class="moj-button-action">
                    <button class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                        Add another train journey
                    </button>
                </div>
            </form>
            <form action="car" method="get" class="form">
                <div class="moj-button-action">
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
            </form>
    </div>
    </main>
</div>
<script type="text/javascript">
      MOJFrontend.initAll();
    </script>
{% endblock %}