{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="confirmEmail" method="get" class="form">
            <!-- use the below to set up the notify emailing thing -->
            <!-- <form class="form" method="post"> -->
            <h1 class="govuk-heading-l">
                Contact details
            </h1>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-three-quarters bold-label" for="first-name-real">
                            First name
                        </label>
                        <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
                        <input class="govuk-input govuk-!-width-three-quarters" id="first-name-real" name="first-name-real" type="text" aria-describedby="first-name-real">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-three-quarters bold-label" for="last-name-real">
                            Last name
                        </label>
                        <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
                        <input class="govuk-input govuk-!-width-three-quarters" id="last-name-real" name="last-name-real" type="text" aria-describedby="last-name-real">
                    </div>
<!--                     <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                            <legend class="govuk-fieldset__legend bold-label">
                                Date of birth
                            </legend>
                            <div id="passport-issued-hint" class="govuk-hint">
                                For example, 27 3 2007
                            </div>
                            <div class="govuk-date-input" id="passport-issued">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div> -->
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-three-quarters bold-label" for="email">
                            Email address
                        </label>
                        <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
                        <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="text" aria-describedby="email">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-three-quarters bold-label" for="contactPhone">
                            Contact phone number (optional)
                        </label>
                        <span id="email-hint" class="govuk-hint">
                            We’ll only use this to contact you if we have a question about your claim
                        </span>
                        <input class="govuk-input govuk-!-width-three-quarters" id="contactPhone" name="contactPhone" type="text" aria-describedby="contactPhone">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-three-quarters bold-label" for="email">
                            Home postcode
                        </label>
                        <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
                        <input class="govuk-input govuk-!-width-one-third" id="postcode" name="postcode" type="text" aria-describedby="postcode">
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button">Continue</button>
            <!--   <a  class="govuk-button clear-button" href="confirmEmail" >Cancel and return</a>  -->
        </form>
        {% include "includes/cps/v11/help.html" %}
    </div>
</div>
{% endblock %}