{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% endblock %}
{% block content %}

<script src="/public/javascripts/accordion.js"></script>

<script>
// uncomment this to turn on the accordions

if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>




<!-- include "includes/webchat/chatjsuser.html" 
 -->

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
           <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" >Claiming for expenses as a witness</h1>

      <p class="linksAtTop">Contents</p>
      <p class="linksAtTop">&#8212 How to claim witness expenses</p>
      <p class="linksAtTop">&#8212 <a href="guidance/study">Travel </a></p>
       <p class="linksAtTop">&#8212 <a href="guidance/courses">Overnight stays</a></p>
       <p class="linksAtTop">&#8212 <a href="guidance/pay">Food and drink</a></p>
       <p class="linksAtTop">&#8212 <a href="guidance/provider">Loss of earnings</a></p>
       <p class="linksAtTop">&#8212 <a href="guidance/apply">Care and childcare </a></p>
       <p class="linksAtTop">&#8212 <a href="guidance/pet">Paying someone to look after your pet(s)</a></p>
         <p class="linksAtTop">&#8212 <a href="guidance/other"> Other expenses </a></p>
            <p class="linksAtTop">&#8212 <a href="guidance/claim"> Make a claim</a></p>

         
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m" >How to claim witness expenses</h2>
 <p>This service lets you <a href="start">claim for expenses</a> after attending court in England and Wales as a witness.</p>
 
<!-- <p><a href="start">Need a link to the service here</a></p> -->
<p>These are normally paid within ten working days.</p>
<p style="font-weight:700">Depending on what expenses you are claiming for, you will need to provide receipts to prove what you’ve spent.</p>
<p style="font-weight:700">Check each section of the guidance to find out what you need. </p>

<div class="govuk-inset-text">
<p>There’s a different process for <a rel="external" href="https://www.mygov.scot/claim-court-expenses/">claiming expenses in Scotland</a> and <a rel="external" href="https://www.ppsni.gov.uk/witness-expenses">claiming expenses in Northern Ireland</a>.</p>
</div>



   <h2 class="govuk-heading-m" >Questions about expenses</h2>
 <p>Contact the court you attended if you have questions about expenses.</p>


<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="guidance/study" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/employing-an-apprentice/get-funding" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label" style="margin-left:27px">Travel</span>
        </a>
      </li>
  </ul>
</nav>
</div>
            <div class="column-one-third">
          
            <!--    <h3 class="govuk-heading-s"  >Related content</h3> -->

        
          </div>
</div>
<!--  include "includes/webchat/chatbox.html" 
 --></main>
{% endblock %}
