{% extends "layoutWitexAdmin.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% include "includes/cps/nav/mainNav.html" %}
{% include "includes/cps/nav/homeNav.html" %}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<script src="/public/javascripts/mojall.js"></script>
<script src="/public/javascripts/add-another.js"></script>
<style>
    .makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}

.hidden {
      display: none;
    opacity: 0;
    transition: opacity 1s;
}

.notHidden {
        display: block;
    opacity: 1;
    transition: opacity 0s;
}

.notHiddenTable {
        display: table-row;
    opacity: 1;
    transition: opacity 1s;

}
.cpsAdminMenuWrapper {
max-width:1020px;
margin:0 auto;
}
.govuk-width-container {
    max-width: 1020px;
}



</style>
<script>
    $("#robEdwardsNew").css("display", "none");
    $("#robEdwardsSubmit").removeAttr("style");
 </script>
<script>
    $( document ).ready(function() {
var radios = document.querySelectorAll('input[type=radio][name="addWitAA"]');
const hiddenElement = document.getElementById('numberOfAddWit');


function changeHandler(event) {
   if ( this.value === 'yes' ) {
      $("#numberOfAddWit").css("display", "table-row");
        setTimeout(function () {
                hiddenElement.style.opacity = '1';
            }, 10);
  
   } else if ( this.value === 'no' ) {
                    hiddenElement.style.opacity = '0';
            setTimeout(function () {
                hiddenElement.style.display = 'none';
            }, 500);
       // $("#numberOfAddWit").css("display", "none");
   }  
}

Array.prototype.forEach.call(radios, function(radio) {
   radio.addEventListener('change', changeHandler);
});

 });
</script>
<script>
    $( document ).ready(function() {
  var radioOtherDriving = document.querySelectorAll('input[type=radio][name="OtherDrive"]');
const otherDrivingHidden = document.getElementById('otherDrivingDetail');

function changeHandlerOther(event) {
   if ( this.value === 'yes' ) {
    console.log("yes");
      $("#otherDrivingDetail").css("display", "block");
        setTimeout(function () {
                otherDrivingHidden.style.opacity = '1';
            }, 10);
  
   } else if ( this.value === 'no' ) {
    console.log("no");
                    otherDrivingHidden.style.opacity = '0';
            setTimeout(function () {
                otherDrivingHidden.style.display = 'none';
            }, 500);
       // $("#numberOfAddWit").css("display", "none");
   }  
}

Array.prototype.forEach.call(radioOtherDriving, function(radio) {
   radio.addEventListener('change', changeHandlerOther);
});

var radioHigherRate = document.querySelectorAll('input[type=radio][name="higherMile"]');
var radioHigherRateReason = document.querySelectorAll('input[type=radio][name="higherMile"]');
const higherRateHidden = document.getElementById('higherRateGroup');
const higherRateReasonHidden = document.getElementById('higherRateWhy');

function changeHandlerCarRateReason(event) {
   if ( this.value === 'Yes' ) { 
       $("#higherRateWhy").css("display", "block");
        setTimeout(function () {
           higherRateReasonHidden.style.opacity = '1';
            }, 0);
  
   } else if ( this.value === 'No' ) {     
          higherRateReasonHidden.style.opacity = '0';
            setTimeout(function () {         
                higherRateReasonHidden.style.display = 'none';
            }, 0);
   }  
}

Array.prototype.forEach.call(radioHigherRateReason, function(radio) {
   radio.addEventListener('change', changeHandlerCarRateReason);
});


var drivingCostsOrNot = document.querySelectorAll('input[type=radio][name="drivingCostsOrNot"]');
const otherDrivingCostsAll = document.getElementById('otherDrivingCostsAll');


function changeHandlerOtherDrivingReason(event) {
   if ( this.value === 'Yes' ) { 
    console.log('yes');
       $("#otherDrivingCostsAll").css("display", "block");
        setTimeout(function () {
           otherDrivingCostsAll.style.opacity = '1';
            }, 0);
  
   } else if ( this.value === 'No' ) {  
    console.log('no');   
          otherDrivingCostsAll.style.opacity = '0';
            setTimeout(function () {         
                otherDrivingCostsAll.style.display = 'none';
            }, 0);
   }  
}

Array.prototype.forEach.call(drivingCostsOrNot, function(radio) {
   radio.addEventListener('change', changeHandlerOtherDrivingReason);
});


// function changeHandlerHigherRate(event) {
//    if ( this.value === 'yes' ) {
//       $("#higherRateGroup").css("display", "table-row");
//        $("#higherRateReason").css("display", "table-row");
//         setTimeout(function () {
//                 higherRateHidden.style.opacity = '1';
//                 higherRateReasonHidden.style.opacity = '1';
//             }, 10);
  
//    } else if ( this.value === 'no' ) {
//                     higherRateHidden.style.opacity = '0';
//                     higherRateReasonHidden.style.opacity = '0';
//             setTimeout(function () {
//                 higherRateHidden.style.display = 'none';
//                 higherRateReasonHidden.style.display = 'none';
//             }, 500);
//    }  
// }

// Array.prototype.forEach.call(radioHigherRate, function(radio) {
//    radio.addEventListener('change', changeHandlerHigherRate);
// });

 });




</script>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <!-- <span class="govuk-caption-l">HD90210</span> -->
            <h1 class="govuk-heading-l" style="">Car</h1>
            <form method="get" action="car">
                <div class="govuk-form-group">
                    </legend>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Are you claiming the higher rate?
                                </h1>
                            </legend>
                            <div class="govuk-radios ">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="higherMile" name="higherMile" type="radio" value="Yes" checked>
                                    <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="higherMile" name="higherMile" type="radio" value="No">
                                    <label class="govuk-label govuk-radios__label" for="TRN-no">
                                        No
                                    </label>
                                </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group notHidden" id="higherRateWhy">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Why are you claiming the higher mileage rate?
                                </h1>
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="whyHigher" name="whyHigher" type="radio" value="There was no public transport" data-aria-controls="conditional-contact">
                                    <label class="govuk-label govuk-radios__label" for="contact">
                                        There was no public transport
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="whyHigher" name="whyHigher" type="radio" value="Cheaper or faster to drive than take public transport" data-aria-controls="conditional-contact-2">
                                    <label class="govuk-label govuk-radios__label" for="contact-2">
                                        Cheaper or faster to drive than take public transport
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="whyHigher" name="whyHigher" type="radio" value="Disability" data-aria-controls="conditional-contact-2">
                                    <label class="govuk-label govuk-radios__label" for="contact-2">
                                        Disability
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="contact-3" name="whyHigher" type="radio" value="text" data-aria-controls="conditional-contact-3" checked>
                                    <label class="govuk-label govuk-radios__label" for="contact-3">
                                        No choice but to use own car
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label bold-label" for="contact-by-text">
                                            Reason you had no choice
                                        </label>
                                        <input class="govuk-input  govuk-!-width-one-half " id="reasonHigherMileage" name="reasonHigherMileage" type="text" autocomplete="tel" value="it was raining">
                                    </div>
                                </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Were you travelling with additional witnesses?
                                </h1>
                            </legend>
                            <div class="govuk-radios">
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="otherWitnesses" name="otherWitnesses" type="radio" value="email" data-aria-controls="conditional-otherWitnesses">
                                        <label class="govuk-label govuk-radios__label" for="otherWitnesses">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-otherWitnesses">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="otherWitnesses">
                                                How many additional witnesses are you claiming for?
                                            </label>
                                            <input class="govuk-input govuk-input--width-3" id="conditional-otherWitnesse" name="conditional-otherWitnesse" type="email" spellcheck="false" autocomplete="email">
                                        </div>
                                    </div>
                                    <!--                                 <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="otherWitnesses" name="otherWitnesses" type="radio" value="Yes">
                                    <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                        Yes
                                    </label>
                                </div> -->
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="otherWitnesses" name="otherWitnesses" type="radio" value="No" checked>
                                        <label class="govuk-label govuk-radios__label" for="TRN-no">
                                            No
                                        </label>
                                    </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    How many miles in total are you claiming for?
                                </h1>
                            </legend>
                            <div class="govuk-input__wrapper">
                                <input class="govuk-input govuk-input--width-5" id="milesClaimed" name="milesClaimed" type="text" spellcheck="false" value="177">
                                <div class="govuk-input__suffix" aria-hidden="true">miles</div>
                            </div>
                            <p style="margin-top:15px"> You can use <a href="https://www.google.com/maps" target="_blank">Google Maps</a> to calculate your mileage.</p>
                    </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group ">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h1 class="govuk-fieldset__heading">
                                Did you pay for parking?
                            </h1>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="parkOrNot" name="parkOrNot" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="parkOrNot" name="parkOrNot" type="radio" value="No" checked>
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group ">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <label class="govuk-label  bold-label" for="firstName">
                                Did you have to pay any other driving costs?</label>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="drivingCostsOrNot" name="drivingCostsOrNot" type="radio" value="Yes" checked>
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="drivingCostsOrNot" name="drivingCostsOrNot" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <div data-module="moj-add-another notHidden">
                    <div class="govuk-form-group ">
                        <fieldset class="govuk-fieldset">
                            <!--                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Other driving costs
                                </h1>
                            </legend> -->
                            <!--    <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Other driving costs</h2> -->
                            <form method="post">
                                <div id="otherDrivingCostsAll" style="">
                                    <fieldset class="govuk-fieldset moj-add-another__item">
                                        <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--s">
                                            Other driving costs
                                        </legend>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-!-font-weight-bold" for="person[0][first_name]">
                                                Type of expense
                                            </label>
                                            <input class="govuk-input govuk-!-width-two-thirds" id="person[0][first_name]" name="person[0][first_name]" type="text" data-name="person[%index%][first_name]" data-id="person[%index%][first_name]" value="ULEZ">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-!-font-weight-bold" for="person[0][cost]">
                                                Amount, in pounds
                                            </label>
                                            <div class="govuk-input__wrapper">
                                                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                                <input class="govuk-input govuk-input--width-5" id="person[0][cost]" name="person[0][cost]" type="text" spellcheck="false" data-name="person[0][cost]" data-id="person[0][cost]" value="12.50">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="moj-button-action" style="margin-top:25px">
                                        <button class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                                            Add another expense
                                        </button>
                                    </div>
                            </form>
                    </div>

<div style="border-bottom:3px dashed #b1b4b6; margin:40px 0 25px 0" > </div>
                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" for="more-detail">
                                Add a note
                            </label>
                        </h1>
                        <div id="more-detail-hint" class="govuk-hint">
                        </div>
                        <textarea class="govuk-textarea govuk-!-width-two-thirds" id="more-detail-note" name="more-detail-note" rows="8" aria-describedby="more-detail-hint"></textarea>
                    </div>


                    <form action="../changeAnswersCar" method="get" class="form">
                        <div class="moj-button-action">
                            <div class="govuk-button-group" style="margin-top:25px">
                                <button type="submit" class="govuk-button">Submit </button>
                                <a class="govuk-link" href="#">Cancel</a>
                            </div>
                        </div>
                    </form>
            </form>
        </div>
        </fieldset>
    </div>
    <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button"> Add another driving cost</button> -->
</div>
</form>
</div>
</div>
</main>
</div>
<script type="text/javascript">
MOJFrontend.initAll();
</script>
{% endblock %}