{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="DTMName">
                <!-- <h1 class="govuk-heading-xl">Are you</h1> -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                           Are you claiming for the Trial Support Meeting?
                        </legend>
                            <div id="changedName-hint" class="govuk-hint">The Trial Support Meeting would have introduced you to the prosecution team, explained the trial process, and discussed adjustments to help you give evidence confidently. </div>
                        <p> </p>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="DTMName" name="DTMName" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="DTMName" name="DTMName" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
<!--                             <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="DTMMWDTMNamehere" name="DTMName" type="radio" value="dont know">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                   I don’t know the meeting name
                                </label>
                            </div> -->


                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}