{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="../checkdetails/">
                <h1 class="govuk-heading-l">Paid in UK cheque</h1>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="name-on-the-account">
                        Name
                    </label>
                    <input class="govuk-input " id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false" autocomplete="name">
                </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-1">
                          Address line 1
                        </label>
                        <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-2">
                          Address line 2 (optional)
                        </label>
                        <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-town">
                          Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-county">
                          County (optional)
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                          Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
                      </div>
                    </fieldset>

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}