{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            How many days were you away from work for more than 4 hours?
        </h1>
        <form action="takehome" method="get" class="form">
            <div class="govuk-form-group">
<!--                 <label class="govuk-label govuk-!-width-three-quarters bold-label" for="code">
                    Enter code
                </label>
 -->             
    <span id="email-hint" class="govuk-hint">
              For example: 0,2 or 10
            </span>
               <div class="govuk-input__wrapper">
    <input class="govuk-input govuk-input--width-5" id="away5hours" name="away5hours" type="text" spellcheck="false">
   
  </div>
            </div>
            <button class="govuk-button">Continue</button>
        </form>
      
    </div>
    </main>
</div>
{% endblock %}