{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Take home pay
        </h1>
        <p>The maximum you can claim is £67 per day, even if you earn more than this. </p>
         <p>This is equivlent to someone working 37.5 hours and taking home £335 a week after taxes have been taken out. </p>
        <form action="takeHomeRoute2" method="get" class="form">
           <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         
                            <label class="govuk-label  bold-label" for="firstName">
                               Is your take home pay more than £67 per day?
                            </label>
                        </legend>
                   <!--      <p>For instance train, tube or bus tickets, air, ferry or mileage in a car, motorbike or bicycle. </p> -->
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="takehome" name="takehome" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="takehome" name="takehome" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No, my take home pay is less than £67 per day
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="takehome" name="takehome" type="radio" value="Dont know">
                                <label class="govuk-label govuk-radios__label" for="Dont know">
                                    I don't know
                                </label>
                            </div>
                    </fieldset>
                </div>
            <button class="govuk-button">Continue</button>
        </form>
      
    </div>
    </main>
</div>
{% endblock %}