{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="childcareRoute3">
                <h1 class="govuk-heading-l">Childcare </h1>
                        <p>If you paid an Ofsted registered childcare provider to look after your children while you attended court, you can claim for the full cost of childcare. 
                        If not you can claim up to £67 a day. </p>


                                        <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    How do I know if my childcare is Ofsted registered?
                  </span>
                </summary>
                <div class="govuk-details__text">
    
                    <p>Most providers caring for children under 8 years old for more than 2 hours a day in England must register with Ofsted.</p>
                    <p>Registered childcare providers will usually put their unique reference number (URN) on their invoice. </p>
                    <p>You can also check on the Ofsted website if <a href="https://reports.ofsted.gov.uk/childcare">your childcare is registered.</a></p>
                </div>
              </details>
                                          <div class="govuk-inset-text">
           You must provide a receipt.
        </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
               For the day you are claiming, did you pay someone to look after your children?
</legend>
  <!--                       <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         
                         <label class="govuk-label  bold-label" for="firstName">
                                Did you pay someone to look after your children? 
                            </label>
                        </legend> -->
                   <!--      <p>For instance train, tube or bus tickets, air, ferry or mileage in a car, motorbike or bicycle. </p> -->
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="childcare" name="childcare" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="childcare" name="childcare" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}