{% extends "layoutCPS.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %}
{% include "includes/version1/homeNav.html" %}
{% endblock %}
{% block content %}
<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<style>
.makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}

.filter-form  {
    border: 1px solid lightgrey;
    padding:10px;

}

.options-container {
    border:0 !important;
}

.js-enabled .govuk-option-select.js-collapsible button 
{
    background-color: #fff !important;
}

#finder-frontend .filter {
    background-color:#fff !important;
}

#finder-frontend .govuk-option-select, #finder-frontend .filter {
    margin-bottom:0 !important;
}

#finder-frontend .govuk-form-group {

}


</style>
<h1 class="govuk-heading-xl">Active witness expense claims</h1>

<div class="govuk-grid-row" style="margin-right:-65px; margin-top:-5px">
    <div class="govuk-grid-column-one-quarter" style="">
        <!-- desktop version of the filters -->
        <div class="notOnMobile">
            <div class="filter-form filtering ">
                <div id="finder-frontend" class="inner-block">
                    <div class="filter text-filter">
                        <div class="govuk-form-group" style="margin-bottom:15px">
                            <label class="govuk-label   govuk-label--s legend" for="partialCost" style="">
                                Search
                            </label>
                            <input class="govuk-input" style="margin-bottom: 0px" id="partialCost" name="partialCost" type="text" aria-describedby="FirstName-hint" value="" />
                        </div>
                        <label class="govuk-label   govuk-label--s" for="partialCost">
                            Status
                        </label>
                        <select class="govuk-select" id="sort" name="sort" style="margin-bottom: 10px; width:100%; ">
                              <option value="2 miles">All</option>
                            <option value="2 miles">New</option>
                            <option value="5 miles">In progress</option>
                            <option value="20 miles">Blocked</option>
                             <option value="20 miles">Rejected</option>
                        </select>
                    </div>
                    <div class="filter text-filter">
                        <div class="govuk-form-group" style="margin-bottom:0">
                            <label class="govuk-label   govuk-label--s legend" for="partialCost">
                                Assigned to
                            </label>
                            <select class="govuk-select" id="sort" name="sort" style="margin-bottom: 10px; width:100%">
                                <option value="All" selected>All</option>
                                  <option value="Employer">Not assigned</option>
                                <option value="Job title">David Barton</option>
                                <option value="Description">Fred Basset</option>
                                <option value="Employer">Not assigned</option>

                            </select>
                        </div>
                    </div>

                    <button type="submit" class="govuk-button" style="margin-left:10px; margin-top:15px">Update results</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters" style="width:72.5%">
        <div class=" weirdFix1400">
             <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Case ID</th>
                        <th class="govuk-table__header" scope="col">Name</th>
                           <th class="govuk-table__header" scope="col">Recieved</th>
                        <th class="govuk-table__header" scope="col">Status</th>
                        <th class="govuk-table__header" scope="col">Assigned to</th>
                        <!-- <th class="govuk-table__header" scope="col">Claim amount</th> -->
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">HD90210</td>
                        <td class="govuk-table__cell">Robert Edwards</td>
                         <td class="govuk-table__cell">21 April 2022</td>
                        <td class="govuk-table__cell">New</td>
                        <td class="govuk-table__cell"></td>
                        <!-- <td class="govuk-table__cell">£303.03</td> -->
                        <td class="govuk-table__cell"><a href="caseManagement/claim2">View</a></td>
                    </tr>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">HD01209</td>
                        <td class="govuk-table__cell">James Collyer</td>
                         <td class="govuk-table__cell">20 April 2022</td>
                        <td class="govuk-table__cell">New</td>
                        <td class="govuk-table__cell"></td>
                        <!-- <td class="govuk-table__cell">£2.25</td> -->
                        <td class="govuk-table__cell"><a href="#">View</a></td>
                    </tr>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">ZF92011</td>
                        <td class="govuk-table__cell">Bal Jackson</td>
                         <td class="govuk-table__cell">20 April 2022</td>
                        <td class="govuk-table__cell">In progress</td>
                        <td class="govuk-table__cell">David Barton</td>
                        <!-- <td class="govuk-table__cell">£98.99</td> -->
                        <td class="govuk-table__cell"><a href="#">View</a></td>
                    </tr>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">ZF92011</td>
                        <td class="govuk-table__cell">Mel Hilton</td>
                         <td class="govuk-table__cell">05 April 2022</td>
                        <td class="govuk-table__cell">Pending</td>
                        <td class="govuk-table__cell">Fred Basset</td>
                        <!-- <td class="govuk-table__cell">£598.99</td> -->
                        <td class="govuk-table__cell"><a href="#">View</a></td>
                    </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">AB57824</td>
                        <td class="govuk-table__cell">Colette Phipps</td>
                         <td class="govuk-table__cell">01 April 2022</td>
                        <td class="govuk-table__cell">Pending</td>
                        <td class="govuk-table__cell">Fred Basset</td>
                        <!-- <td class="govuk-table__cell">£499.99</td> -->
                        <td class="govuk-table__cell"><a href="#">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}