{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="otherWitnesses">
                <h1 class="govuk-heading-xl">    <span class="govuk-caption-xl">Car</span>Why are you claiming the higher mileage rate?</h1> 

               <!--  <p> You can claim the higher rate of 45p per mile if you had no choice but to use your own car.</P> -->

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="whyHigher" name="whyHigher" type="radio" value="There was no public transport" data-aria-controls="conditional-contact">
                                            <label class="govuk-label govuk-radios__label" for="contact">
                                             There was no public transport
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="whyHigher" name="whyHigher" type="radio" value="Cheaper or faster to drive than take public transport" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                                Cheaper or faster to drive than take public transport
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="whyHigher" name="whyHigher" type="radio" value="Disability" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                                Disability
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="contact-3" name="whyHigher" type="radio" value="text" data-aria-controls="conditional-contact-3">
                                            <label class="govuk-label govuk-radios__label" for="contact-3">
                                                 No choice to use your own car
                                            </label>
                                        </div>
                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label bold-label" for="contact-by-text">
                                                  Reason you had no choice
                                                </label>
                                                <input class="govuk-input " id="reasonHigherMileage" name="reasonHigherMileage" type="text" autocomplete="tel">
                                            </div>
                                        </div> 
<!--                                         <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="whyHigher" name="whyHigher" type="radio" value="text" data-aria-controls="conditional-contact-3">
                                            <label class="govuk-label govuk-radios__label" for="contact-3">
                                                Other
                                            </label>
                                        </div>
                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label" for="contact-by-text">
                                                    Other reason
                                                </label>
                                                <input class="govuk-input " id="whyHigher" name="whyHigher" type="text">
                                            </div>
                                        </div> -->
                                </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}