{% extends "layoutCPS.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %}
{% include "includes/version1/homeNav.html" %}
{% endblock %}
{% block content %}
<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<style>
.makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}
</style>
<h1 class="govuk-heading-xl">Claims (5)</h1>
<div class="govuk-grid-row" style="margin-right:-65px; margin-top:-5px">
    <div class="govuk-grid-column-one-quarter" style="">
        search and filters might go here
    </div>
    <div class="govuk-grid-column-three-quarters" style="width:72.5%">
        <div class=" weirdFix1400">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">ID</th>
                        <th class="govuk-table__header" scope="col">Name</th>
                        <th class="govuk-table__header" scope="col">Status</th>
                        <th class="govuk-table__header" scope="col">Assigned to</th>
                        <th class="govuk-table__header" scope="col">Claim amount</th>
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">HD90210</td>
                        <td class="govuk-table__cell">Robert Edwards</td>
                        <td class="govuk-table__cell">New</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">£256.98</td>
                        <td class="govuk-table__cell"><a href="#">View</a></td>
                    </tr>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">HD01209</td>
                        <td class="govuk-table__cell">James Collyer</td>
                        <td class="govuk-table__cell">New</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">£2.25</td>
                        <td class="govuk-table__cell"><a href="#">View</a></td>
                    </tr>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">ZF92011</td>
                        <td class="govuk-table__cell">Bal Jackson</td>
                        <td class="govuk-table__cell">In progress</td>
                        <td class="govuk-table__cell">David Barton</td>
                        <td class="govuk-table__cell">£98.99</td>
                        <td class="govuk-table__cell"><a href="#">View</a></td>
                    </tr>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">ZF92011</td>
                        <td class="govuk-table__cell">Mel Hilton</td>
                        <td class="govuk-table__cell">Blocked</td>
                        <td class="govuk-table__cell">Fred Basset</td>
                        <td class="govuk-table__cell">£598.99</td>
                        <td class="govuk-table__cell"><a href="#">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}