{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %}
{% include "includes/version1/homeNav.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "./index2"
}) }}
{% endblock %}
{% block content %}
<script src="/public/javascripts/mojall.js"></script>
<script src="/public/javascripts/multi-file-upload.js"></script>
{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload -%}
<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/public/javascripts/accordion.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>
<script type="text/javascript">
//     function revealNote() { 
// $(revealTheNote).removeClass("rj-dont-display");
//     $(revealTheNote).switchClass( "rj-dont-display", "nothing", 1000, "linear" );
// }


$(document).ready(function() {
    $("#openMe").click(function() {
        $(".revealTheNote").slideDown(0);
        $(".revealTheUpload").slideUp(0)
        $("#openMeUpload").addClass("inactiveLink");
        $("#openMe").removeClass("inactiveLink");

    });
});

$(document).ready(function() {
    $("#openMeUpload").click(function() {
        $(".revealTheUpload").slideDown(0);
        $(".revealTheNote").slideUp(0)
        $("#openMe").addClass("inactiveLink");
        $("#openMeUpload").removeClass("inactiveLink");

    });
});

$(document).ready(function() {
    $("#shutMe").click(function() {
        $(".revealTheUpload").slideUp(0);
        $("#openMeUpload").removeClass("inactiveLink");
        $("#openMe").removeClass("inactiveLink");

    });
});

$(document).ready(function() {
    $("#shutMeNote").click(function() {
        $(".revealTheNote").slideUp(0);
        $("#openMeUpload").removeClass("inactiveLink");
        $("#openMe").removeClass("inactiveLink");

    });
});

$(document).ready(function() {
    $("#submitNote").click(function() {

        var myDate = new Date();

        let daysList = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        let monthsList = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Aug', 'Oct', 'Nov', 'Dec'];


        let date = myDate.getDate();
        let month = monthsList[myDate.getMonth()];
        let year = myDate.getFullYear();
        let day = daysList[myDate.getDay()];

        let today = ` ${day}, ${date} ${month} ${year}`;

        let amOrPm;
        let twelveHours = function() {
            if (myDate.getHours() > 12) {
                amOrPm = 'PM';
                let twentyFourHourTime = myDate.getHours();
                let conversion = twentyFourHourTime - 12;
                return `${conversion}`

            } else {
                amOrPm = 'AM';
                return `${myDate.getHours()}`
            }
        };
        let hours = twelveHours();
        let minutes = myDate.getMinutes();

        let currentTime = `${hours}:${minutes} ${amOrPm}`;


        var textarea = document.getElementById("more-detail")

        var text = textarea.value;
        document.getElementById('userNotes').innerHTML = '<p style="font-size:16px"><span style="font-weight:700">David Barton (you)</span><span style="color:#505a5f  ">&nbsp;&nbsp;&nbsp;' + today + " at " + currentTime + ' </span></p><p id="noteHere"></p><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">';
        var p = document.getElementById("noteHere");

        p.textContent = text;

        $(".revealTheNote").slideUp(0);
        $("#openMeUpload").removeClass("inactiveLink");
        $("#openMe").removeClass("inactiveLink");

    });
});



// $(document).ready(function(){
// var box = $('.revealTheNote');

// $('p#openMe').on('click', function () { 
//   box.toggleClass('hidden');
// });
// });
</script>
<style>
    .govuk-header__logotype {
    width: 500px
}

.makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}

.filter-form {
    border: 1px solid lightgrey;
    padding: 10px;

}

.options-container {
    border: 0 !important;
}

.js-enabled .govuk-option-select.js-collapsible button {
    background-color: #fff !important;
}

#finder-frontend .filter {
    background-color: #fff !important;
}

#finder-frontend .govuk-option-select,
#finder-frontend .filter {
    margin-bottom: 0 !important;
}

#finder-frontend .govuk-form-group {}

.moj-multi-file__uploaded-files .govuk-heading-m,
.moj-multi-file__uploaded-files .govuk-summary-list  {
    margin:0;
}


</style>
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            This claim is in use by {user name}
        </p>
         <p class="govuk-body" style="max-width:1000px">You can view but not change any details.</p>
    </div>
</div>
<span class="govuk-caption-l">ZF92011 </span>
<h1 class="govuk-heading-l" style="">Bal Jackson</h1>
<div class="govuk-grid-row" style="margin-right:-65px; margin-top:-5px">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-tabs" data-module="govuk-tabs">
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#past-day">
                        Overview
                    </a>
                </li>
                <!--                 <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#past-week">
                        Proof
                    </a>
                </li> -->
                <!--                 <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#checks">
                        Checks
                    </a>
                </li> -->
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#all-details">
                        Claim details
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#audit">
                        Notes/amends
                    </a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="past-day">
                <div class="">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col"></th>
                                <th class="govuk-table__header" scope="col"></th>
                                <td class="govuk-table__cell"><a href="#"></a></td>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                           <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Status</td>
                                <td class="govuk-table__cell">Pending</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Case ID</td>
                                <td class="govuk-table__cell">ZF92011</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Name</td>
                                <td class="govuk-table__cell">Bal Jackson</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Email address</td>
                                <td class="govuk-table__cell">bal@cps.gov.uk</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Contact number</td>
                                <td class="govuk-table__cell"></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Postcode</td>
                                <td class="govuk-table__cell">N4 3BJ</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">URN</td>
                                <td class="govuk-table__cell">FF83210333/2</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Court</td>
                                <td class="govuk-table__cell">Croydon Magistrates Court</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col"></th>
                                <th class="govuk-table__header" scope="col">Submitted</th>
                                <th class="govuk-table__header" scope="col">To be paid</th>
                            </tr>
                        </thead>
                        <caption class="govuk-table__caption govuk-table__caption--m">Claim summary</caption>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Food</td>
                                <td class="govuk-table__cell ">£2.25</td>
                                <td class="govuk-table__cell ">£2.25</td>
                                <!-- <td class="govuk-table__cell"><a href="#">Edit</a></td> -->
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">London transport</td>
                                <td class="govuk-table__cell">£9.78</td>
                                <td class="govuk-table__cell">£9.78</td>
                                <!-- <td class="govuk-table__cell"><a href="#">Edit</a></td> -->
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" style="font-weight:700">Total</td>
                                <td class="govuk-table__cell" style="font-weight:700">£12.03</td>
                                <td class="govuk-table__cell" style="font-weight:700">£12.03</td>
                                <!-- <td class="govuk-table__cell" style="font-weight:700"></td> -->
                                <!-- <td class="govuk-table__cell"><a href="#"></a></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--  -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="checks">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <td class="govuk-table__cell"><a href="#"></a></td>
                        </tr>
                    </thead>
                    <caption class="govuk-table__caption govuk-table__caption--m">Checks</caption>
                    <caption class="govuk-table__caption govuk-table__caption--s">Overnight Stay</caption>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Type</td>
                            <td class="govuk-table__cell ">Paid overnight stay</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Reason</td>
                            <td class="govuk-table__cell">it takes you 90 minutes or more to travel to court</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Accommodation claim</td>
                            <td class="govuk-table__cell">£95.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Area of country</td>
                            <td class="govuk-table__cell">London</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Court name</td>
                            <td class="govuk-table__cell ">Westminister Magistrates Court</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Court postcode</td>
                            <td class="govuk-table__cell ">NW1 5BR</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Claimants postcode</td>
                            <td class="govuk-table__cell ">N4 3BJ</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell ">Check</td>
                            <td class="govuk-table__cell"><a href="https://www.google.com/maps/dir/Bracey+St,+Finsbury+Park,+London+N4+3BJ/London+NW1+5BR/@51.5429064,-0.1761175,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x48761ba2eeb7d1cf:0xab0e0856c14c8082!2m2!1d-0.1196079!2d51.5659081!1m5!1m1!1s0x48761ac9e327baf9:0x5c9dee0d1268cba5!2m2!1d-0.1641802!2d51.5207075!3e3" target=”_blank”>Journey on Google maps</a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <td class="govuk-table__cell"><a href="#"></a></td>
                        </tr>
                    </thead>
                    <caption class="govuk-table__caption govuk-table__caption--s">Car</caption>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Type</td>
                            <td class="govuk-table__cell ">Claiming higher mileage</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Reason</td>
                            <td class="govuk-table__cell">There was no public transport</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Number of miles</td>
                            <td class="govuk-table__cell">177</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Cost </td>
                            <td class="govuk-table__cell">£80</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Court name</td>
                            <td class="govuk-table__cell ">Westminister Magistrates Court</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Court postcode</td>
                            <td class="govuk-table__cell ">NW1 5BR</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Claimants postcode</td>
                            <td class="govuk-table__cell ">N4 3BJ</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell ">Check</td>
                            <td class="govuk-table__cell"><a href="https://www.google.com/maps/dir/Bracey+St,+Finsbury+Park,+London+N4+3BJ/London+NW1+5BR/@51.5429064,-0.1761175,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x48761ba2eeb7d1cf:0xab0e0856c14c8082!2m2!1d-0.1196079!2d51.5659081!1m5!1m1!1s0x48761ac9e327baf9:0x5c9dee0d1268cba5!2m2!1d-0.1641802!2d51.5207075!3e3" target=”_blank”>Journey on Google maps</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="all-details">
                <h2 class="govuk-heading-m">Claim details entered by witness </h2>
                <div class="accordion">
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-s">Food</h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col"></th>
                                        <th class="govuk-table__header" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell cps-td-width">How many hours were you away from home or work?</td>
                                        <td class="govuk-table__cell ">less than 5 hours</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-s">Travel </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col"></th>
                                        <th class="govuk-table__header" scope="col"></th>
                                    </tr>
                                </thead>
                                <!-- <caption class="govuk-table__caption govuk-table__caption--m">Travel</caption> -->
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell cps-td-width">Do you want to claim for travel to and from the court?</td>
                                        <td class="govuk-table__cell ">Yes</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">How did you travel to court?</td>
                                        <td class="govuk-table__cell ">London transport </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">What did you spend in total on London Transport travel?</td>
                                        <td class="govuk-table__cell ">£9.78</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col"></th>
                                        <th class="govuk-table__header" scope="col"></th>
                                    </tr>
                                </thead>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-s">Overnight stay </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col"></th>
                                        <th class="govuk-table__header" scope="col"></th>
                                        <td class="govuk-table__cell"><a href="#"></a></td>
                                    </tr>
                                </thead>
                                <!-- <caption class="govuk-table__caption govuk-table__caption--m">Overnight stay</caption> -->
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell cps-td-width">Do you want to claim expenses for an overnight stay?</td>
                                        <td class="govuk-table__cell ">No</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-s">Work </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col"></th>
                                        <th class="govuk-table__header" scope="col"></th>
                                        <td class="govuk-table__cell"><a href="#"></a></td>
                                    </tr>
                                </thead>
                                <!-- <caption class="govuk-table__caption govuk-table__caption--m">Work</caption> -->
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell cps-td-width">Are you in paid work?</td>
                                        <td class="govuk-table__cell ">Yes</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">What is your employment status?</td>
                                        <td class="govuk-table__cell ">Employed, including director of a limited company</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Did you take an unpaid day off work?</td>
                                        <td class="govuk-table__cell ">No</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-s">Childcare </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col"></th>
                                        <th class="govuk-table__header" scope="col"></th>
                                    </tr>
                                </thead>
                                <!-- <caption class="govuk-table__caption govuk-table__caption--m">Childcare</caption> -->
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell cps-td-width">Did you pay someone to look after your children?</td>
                                        <td class="govuk-table__cell ">No</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-s">Carer </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col"></th>
                                        <th class="govuk-table__header" scope="col"></th>
                                    </tr>
                                </thead>
                                <!-- <caption class="govuk-table__caption govuk-table__caption--m">Carer</caption> -->
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell cps-td-width">Did you pay for a carer?</td>
                                        <td class="govuk-table__cell ">No</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-s">Other expenses</h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col"></th>
                                        <th class="govuk-table__header" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell cps-td-width">Do you want to claim for other expenses?</td>
                                        <td class="govuk-table__cell ">No</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-s">Payment</h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col"></th>
                                        <th class="govuk-table__header" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell cps-td-width"">How do you want to be paid?</td>
                                        <td class=" govuk-table__cell ">A UK bank or building society</td>
                                   
                                    </tr>
                                    <tr class=" govuk-table__row">
                                        <td class="govuk-table__cell">Name on the account</td>
                                        <td class="govuk-table__cell ">J Collyer</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Sort code</td>
                                        <td class="govuk-table__cell ">00-00-00</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Account number</td>
                                        <td class="govuk-table__cell ">09867654</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Building society roll number</td>
                                        <td class="govuk-table__cell "></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="audit" style="padding:0">
                {% include "includes/cps/caseManagement/addNoteReadOnly.html" %}
                <div style="padding:0px 20px" id="notesArea" class="notesArea">
                    <h2 class="govuk-heading-m" style="margin-top:-16px">Notes and amends</h2>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <div id="userNotes">
                        <!-- <p id="noteHere"></p> -->
                    </div>
                    <p>David Barton opened the case</p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <p style="font-size:16px"><span style="font-weight:700">Rob Edwards</span><span style="color:#505a5f  ">&nbsp;&nbsp;&nbsp;29 May 2023 at 9.01am </span></p>
                    <p>Rob Edwards opened the case</p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </div>
        </div>
    </div>
<!--     <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group" style="margin-bottom:10px; margin-top:55px ">
            <form action="caseActions4" method="get" class="form" style="">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Actions
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="caseActions-2" name="caseActions" type="radio" value="Send back to user">
                            <label class="govuk-label govuk-radios__label" for="caseActions-2">
                                Mark as witness query
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="caseActions-3" name="caseActions" type="radio" value="Block">
                            <label class="govuk-label govuk-radios__label" for="caseActions-3">
                                Mark as area query
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="caseActions-4" name="caseActions" type="radio" value="Send for approval">
                            <label class="govuk-label govuk-radios__label" for="caseActions-4">
                                Escalate claim
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="caseActions-4" name="caseActions" type="radio" value="Reject">
                            <label class="govuk-label govuk-radios__label" for="caseActions-4">
                                Reject claim
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="caseActions" name="caseActions" type="radio" value="Approve">
                            <label class="govuk-label govuk-radios__label" for="caseActions">
                                Submit claim for payment
                            </label>
                        </div>
                    </div>
                </fieldset>
                <button class="govuk-button govuk-button--secondary" style="margin-top:10px">Update</button>
            </form>
        </div>
    </div> -->
</div>
<script>
if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
    new MOJFrontend.MultiFileUpload({
        container: $(".moj-multi-file-upload"),
        uploadUrl: "/ajax-upload",
        deleteUrl: "/ajax-delete",
    });
}
</script>
{% endblock %}