{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %}
{% include "includes/version1/paymentNav.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "./index2"
}) }}
{% endblock %}
{% block content %}
<script src="/public/javascripts/mojall.js"></script>
<script src="/public/javascripts/multi-file-upload.js"></script>
{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload -%}
<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/public/javascripts/accordion.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>
<style>
    .govuk-header__logotype {
    width: 500px
}

.makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}

.filter-form {
    border: 1px solid lightgrey;
    padding: 10px;

}

.options-container {
    border: 0 !important;
}

.js-enabled .govuk-option-select.js-collapsible button {
    background-color: #fff !important;
}

#finder-frontend .filter {
    background-color: #fff !important;
}

#finder-frontend .govuk-option-select,
#finder-frontend .filter {
    margin-bottom: 0 !important;
}

#finder-frontend .govuk-form-group {}

.moj-multi-file__uploaded-files .govuk-heading-m,
.moj-multi-file__uploaded-files .govuk-summary-list {
    margin: 0;
}
</style>
<!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            This claim is in use by {user name}
        </p>
         <p class="govuk-body" style="max-width:1000px">You can view but not change any details.</p>
    </div>
</div> -->


<!-- <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title"><a href="resetAll" style="color:#fff; text-decoration:none">
                Success </a>
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading" style="max-width:1000px">
           Download successful
        </h3>
    </div>
</div> -->

<h1 class="govuk-heading-xl" style="">Download submitted payments</h1>
  <form action="..//caseManagement/finish" method="get" class="form">
<button type="submit" class="govuk-button" style="margin-left: auto; max-height:38px">Download payments</button>
</form>


<h2 class="govuk-heading-m" style="">Previous downloads</h2>
<div class="govuk-grid-row" style="margin-right:-65px; margin-top:-5px">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Filename</th>
                    <th class="govuk-table__header" scope="col">Creation date</th>
                    <td class="govuk-table__cell"><a href="#"></a></td>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Payments-21-08-23.xls</td>
                    <td class="govuk-table__cell">21 Aug 2023 at 4.43pm</td>
                    <td class="govuk-table__cell"><a href="#">Download</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Payments-20-08-23.xls</td>
                    <td class="govuk-table__cell">20 Aug 2023 at 12.01pm</td>
                    <td class="govuk-table__cell"><a href="#">Download</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}