<div class="notifications-panel-wrapper-STICKY">
    <a href="#" class="notifications-STICKY"><span class="alert-button"></span><span class="text">Case notifications (<span class="notifications-number-STICKY">0</span>)</span></a>
    <div class="notifications-panel-STICKY">
        <div class="updates">
            <span>Last updated:</span> <span id="date-stamp">####</span>
        </div>

        <!-- ALERT 6 - UPDATED - START -->
        <div class="case-alert six">
            <span class="govuk-tag govuk-tag--red">Discarded</span>
            <br>
            <p class="">
                <a class="date-stamp-DOC6" onclick="return openDiscardedModel(), topFunction()">UNUSED_6 DA CHECKLIST MCLOVE</a>
                <br>
                Unused materials - Document Discarded
                <br>
                <span id="date-stamp-DOC12">####</span>
            </p>
        </div>
        <!-- ALERT 6 - UPDATED - END -->

        <!-- ALERT 5 - NEW - START -->
        <div class="case-alert five">
            <span class="govuk-tag govuk-tag--green">New</span>
            <br>
            <p class="openMe">
                <a href="" class="show-case date-stamp-DOC5" data-doc="MG11_Shelagh_MCLOVE_retraction.pdf" data-document="12" onclick="return updateDocument(), topFunction()" data-page="1">MG11 Shelagh MCLOVE retraction</a>
                <br>
                Statements - New document
                <br>
                <span id="date-stamp-DOC11">####</span>
            </p>
        </div>
        <!-- ALERT 5 - NEW - END -->

        <!-- ALERT 4 - UPDATED - START -->
        <div class="case-alert four">
            <span class="govuk-tag govuk-tag--orange">Updated</span>
            <br>
            <p class="openMe">
                <a href="" class="show-case date-stamp-DOC4" data-doc="MG06_10june.pdf" data-document="6" onclick="return updateDocument(), topFunction()" data-page="3">MG06 10 june</a>
                <br>
                Case overview - Updated document
                <br>
                <span id="date-stamp-DOC10">####</span>
            </p>
        </div>
        <!-- ALERT 4 - UPDATED - END -->

        <!-- ALERT 3 - UPDATED - START -->
        <div class="case-alert three">
            <span class="govuk-tag govuk-tag--orange">Updated</span>
            <br>
            <p class="openMe">
                <a href="" class="show-case date-stamp-DOC3" data-doc="MG05MCLOVE.pdf" data-document="4" onclick="return updateDocument(), topFunction()" data-page="4">MG05 MCLOVE</a>
                <br>
                Case overview - Updated document
                <br>
                <span id="date-stamp-DOC9">####</span>
            </p>
        </div>
        <!-- ALERT 3 - UPDATED - END -->

        <!-- ALERT 2 - NEW - START -->
        <div class="case-alert two">
            <span class="govuk-tag govuk-tag--green">New</span>
            <br>
            <p class="openMe">
                <a href="" class="show-case date-stamp-DOC2" data-doc="PRE_CONS_D.pdf" data-document="2" onclick="return topFunction()" data-page="6">PRE CONS D</a>
                <br>
                Defendant - New document
                <br>
                <span id="date-stamp-DOC8">####</span>
            </p>
        </div>
        <!-- ALERT 2 - NEW - END -->

        <!-- ALERT 1 - FAILED - START -->
        <div class="case-alert one">
            <span class="govuk-tag govuk-tag--red">Failed</span>
            <br>
            <p>
                <a href="#group3-doc6" class="date-stamp-DOC1">MG11 Geoff MCLOVE</a>
                <br>
                Statements - Failed to load
                <br>
                <span id="date-stamp-DOC7">####</span>
            </p>
        </div>
        <!-- ALERT 1 - FAILED - END -->

    </div>
</div>

