{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="overnightStayRoute2">
                <h1 class="govuk-heading-xl">Overnight stay </h1>
                <p>You can claim expenses for an overnight stay if:</p>
                  <ul class="govuk-list govuk-list--bullet">
                      <li>you live too far away to make it into court on time in the morning or get home on the same day. </li>
                      <li>you are disabled</li>
                      <li>you have another good reason for staying overnight</li>
                    </ul>
                <p> Everyone who stayed overnight can claim for a fixed allowance to cover food and drink.</p> <p>If you paid for your overnight stay you can claim a fixed amount for your accommodation, meals and refreshments.  This ranges between £91 and £121 per night depending on your accommodation's location. You will need to provide a receipt for your stay. </p>
             <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Amounts you can claim for staying overnight
                  </span>
                </summary>
                <div class="govuk-details__text">
            <h2 class="govuk-heading-s">If the Crown Prosecution Service (CPS) paid for your accommodation </h2>
                         
<p>If your evening meal wasn't included - £26.00 per night </p>
<p>If your evening meal was included - £5.00 per night </p>
             <h2 class="govuk-heading-s">If you paid for your accommodation </h2>
                <p> A paid stay in London, Birmingham, Manchester, Leeds, Liverpool and Newcastle upon Tyne - up to £121.00 per night </p>
                <p> A paid stay elsewhere - up to £91.00 per night </p>
             <h2 class="govuk-heading-s">If you stayed with friends or family</h2>
             <p> £25 per night</p>
      


                </div>
              </details>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         
                            <label class="govuk-label  bold-label" for="firstName">
Do you want to claim for an overnight stay?                             </label>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="overnightStay" name="overnightStay" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="overnightStay" name="overnightStay" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}