{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Public transport within London (Zone 1 -9)</span>
            Your London Transport journey(s)
        </h1>
        <p>Includes: tube, bus, river bus, Docklands Light Railway (DLR), London Trams, Elizabeth Line and overground train.</p>
        <p>You can only claim for standard class tickets. </p>
        <p>You don't need receipts for London Transport claims. </p>
        <form action="multiTravelRouterPubTrans" method="get" class="form">
            <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">

                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
               What is the total cost of your London Transport journey(s), in pounds?
</legend>
      <!--                            <label class="govuk-label govuk-!-width-three-quarters bold-label" for="code">
                     What is the total cost of your London Transport journey(s), in pounds?
                </label> -->

                <!--     <span id="email-hint" class="govuk-hint">
              You will need to upload a receipt for all train journeys.
            </span> -->
            
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="trainCost" name="trainCost" type="text" spellcheck="false">
                </div>
            </div>
            <button class="govuk-button">Continue</button>
        </form>
    </div>
    </main>
</div>
{% endblock %}