{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %}
{% include "includes/version1/homeNav.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<style>
    .govuk-header__logotype {
    width: 500px
}

.makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}


</style>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="car">
                <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Travel
                        </h1>
                    </legend>
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                    London transport
                                </label>
                                <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Includes: tube, bus, Docklands Light Railway (DLR), Elizabeth Line and overground train
                                </div>
                            </div>
                    </fieldset>
 <!--                    <div style="display:flex; align-items: center; ;margin-top:10px; margin-bottom:20px">
                        <label class="govuk-label" for="event-name" style="margin-right:25px">
                            What did you spend in total on London Transport travel?
                        </label>
                        <div class="govuk-input__wrapper">
                            <div class="govuk-input__prefix" aria-hidden="true">£</div>
                            <input class="govuk-input govuk-input--width-5" id="trainCost" name="trainCost" type="text" spellcheck="false" value="9.78">
                        </div>
                    </div> -->

                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header"></th>
                          <th scope="col" class="govuk-table__header"></th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="max-width:150px">What did you spend in total on London Transport travel?</th>
                          <td class="govuk-table__cell">
                              <div class="govuk-input__wrapper">
                                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                  <input class="govuk-input govuk-input--width-5" id="trainCost" name="trainCost" type="text" spellcheck="false" value="9.78">
                              </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>







                            <fieldset class="govuk-fieldset">
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="organisation">
                              Bus/tram/metro outside London
                          </label>
                      </div>
              </fieldset>
                 <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header"></th>
                          <th scope="col" class="govuk-table__header"></th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="max-width:150px">What did you spend in total on bus, tram or metro travel?</th>
                          <td class="govuk-table__cell">
                              <div class="govuk-input__wrapper">
                                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                  <input class="govuk-input govuk-input--width-5" id="trainCost" name="trainCost" type="text" spellcheck="false" value="34.00">
                              </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>


              <fieldset class="govuk-fieldset">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="organisation">
                             Train
                          </label>
                      </div>
              </fieldset>
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header"></th>
                          <th scope="col" class="govuk-table__header"></th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="">Enter the total cost of your train journey(s)</th>
                          <td class="govuk-table__cell">
                              <div class="govuk-input__wrapper">
                                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                  <input class="govuk-input govuk-input--width-5" id="trainCost" name="trainCost" type="text" spellcheck="false" value="55.00">
                              </div>
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="max-width:150px;">Do you have all your train receipts?</th>
                          <td class="govuk-table__cell">
                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="allTrain" name="allTrain" type="radio" value="yes">
                                    <label class="govuk-label govuk-radios__label" for="allTrain">
                                      Yes
                                    </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="allTrain-2" name="allTrain" type="radio" value="no" checked>
                                    <label class="govuk-label govuk-radios__label" for="allTrain-2">
                                      No, I have some of my receipts
                                    </label>
                                  </div>
                                        <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="allTrain-3" name="allTrain" type="radio" value="no">
                                    <label class="govuk-label govuk-radios__label" for="allTrain-3">
                                      No, I don't have any of my receipts
                                    </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </td>
                          <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="">Reason for not having receipts</th>
                          <td class="govuk-table__cell">
                                 <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="3" aria-describedby="more-detail-hint">lost them</textarea>

                          </td>
                        </tr>
                        </tr>

                      </tbody>
                    </table>





              <fieldset class="govuk-fieldset">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="organisation">
                              Coach
                          </label>
                      </div>
              </fieldset>
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header"></th>
                          <th scope="col" class="govuk-table__header"></th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="">Enter the total cost of your coach journey(s)</th>
                          <td class="govuk-table__cell">
                              <div class="govuk-input__wrapper">
                                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                  <input class="govuk-input govuk-input--width-5" id="trainCost" name="trainCost" type="text" spellcheck="false" value="98.00">
                              </div>
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="max-width:150px;">Do you have all your coach receipts?</th>
                          <td class="govuk-table__cell">
                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                                    <label class="govuk-label govuk-radios__label" for="changedName">
                                      Yes
                                    </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no" checked>
                                    <label class="govuk-label govuk-radios__label" for="changedName-2">
                                      No, I have some of my receipts
                                    </label>
                                  </div>
                                        <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changedName-3" name="changedName" type="radio" value="no">
                                    <label class="govuk-label govuk-radios__label" for="changedName-3">
                                      No, I don't have any of my receipts
                                    </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </td>
                        </tr>
                          <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="">Reason for not having receipts</th>
                          <td class="govuk-table__cell">
                                 <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="3" aria-describedby="more-detail-hint">lost it</textarea>

                          </td>
                        </tr>
                        </tr>

                      </tbody>
                    </table>


              <fieldset class="govuk-fieldset">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="organisation">
                              Car
                          </label>
                      </div>
              </fieldset>




              <fieldset class="govuk-fieldset">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="organisation">
                             Motorbike or scooter
                          </label>
                      </div>
              </fieldset>


              <fieldset class="govuk-fieldset">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="organisation">
                             Bicycle
                          </label>
                      </div>
              </fieldset>
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header"></th>
                          <th scope="col" class="govuk-table__header"></th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="max-width:150px">How many miles did you travel by bicycle in total?</th>
                          <td class="govuk-table__cell">
                              <div class="govuk-input__wrapper">
                                  <input class="govuk-input govuk-input--width-5" id="trainCost" name="trainCost" type="text" spellcheck="false" value="23">
                                  <div class="govuk-input__suffix" aria-hidden="true">miles</div>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>


              <fieldset class="govuk-fieldset">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="organisation">
                             Taxi
                          </label>
                      </div>
              </fieldset>

                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header"></th>
                          <th scope="col" class="govuk-table__header"></th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="max-width:150px;">Why did you take a taxi?</th>
                          <td class="govuk-table__cell">
                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="taxiReason" name="taxiReason" type="radio" value="yes">
                                    <label class="govuk-label govuk-radios__label" for="taxiReason">
                                      There were no other transport options
                                    </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="taxiReason-2" name="taxiReason" type="radio" value="no" checked>
                                    <label class="govuk-label govuk-radios__label" for="taxiReason-2">
                                      Disabled
                                    </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="taxiReason-3" name="taxiReason" type="radio" value="no">
                                    <label class="govuk-label govuk-radios__label" for="taxiReason-3">
                                      Emergency
                                    </label>
                                  </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="taxiReason-4" name="taxiReason" type="radio" value="no" checked>
                                    <label class="govuk-label govuk-radios__label" for="taxiReason-4">
                                      Other
                                    </label>
                                  </div>
                                </div>
                                </div>
                              </fieldset>
                            </div>
                          </td>
                        </tr>

                          <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="">Other reason</th>
                          <td class="govuk-table__cell">
                                 <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="3" aria-describedby="more-detail-hint" >it was raining</textarea>
                          </td>
                        </tr>
                                                <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="">How much did you spend in total on taxi(s)?</th>
                          <td class="govuk-table__cell">
                              <div class="govuk-input__wrapper">
                                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                  <input class="govuk-input govuk-input--width-5" id="trainCost" name="trainCost" type="text" spellcheck="false" value="10.00">
                              </div>
                          </td>
                        </tr>
                                                <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="max-width:150px;">Do you have all your taxi receipts?</th>
                          <td class="govuk-table__cell">
                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="taxi" name="taxi" type="radio" value="yes">
                                    <label class="govuk-label govuk-radios__label" for="taxi">
                                      Yes
                                    </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="taxi-2" name="taxi" type="radio" value="no" checked>
                                    <label class="govuk-label govuk-radios__label" for="taxi-2">
                                      No, I have some of my receipts
                                    </label>
                                  </div>
                                        <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="taxi-3" name="taxi" type="radio" value="no">
                                    <label class="govuk-label govuk-radios__label" for="taxi-3">
                                      No, I don't have any of my receipts
                                    </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </td>
                        </tr>
                          <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__cell" style="">Reason for not having receipts</th>
                          <td class="govuk-table__cell">
                                 <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="3" aria-describedby="more-detail-hint">cabby wouldn't give me one</textarea>

                          </td>
                        </tr>


                      </tbody>
                    </table>






<!-- 
                <div class="govuk-form-group">
                    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
                            {{ govukCheckboxes({
                              idPrefix: "transportChoice",
                              name: "transportChoice",
                              fieldset: {
                                legend: {
                                  text: "How did you travel to court?",
                                  isPageHeading: true,
                                  classes: "govuk-fieldset__legend--l"
                                }
                              },
                              hint: {
                                text: "Select all that apply."
                              },
                              items: [
                                {
                                  value: "London transport",
                                  text: "London transport",
                                  checked: "True",
                                  hint: { text: "Includes: tube, bus, Docklands Light Railway (DLR), Elizabeth Line and overground train"}

                                },
                                {
                                  value: "Bus/Tram/Metro outside London",
                                  checked: "True",
                                  text: "Bus/tram/metro outside London"
                                },
                                {
                                  value: "Train",
                                  checked: "True",
                                  text: "Train"
                                },
                                {
                                  value: "Coach",
                                  text: "Coach"
                                },
                                {
                                  value: "Car",
                                  checked: "True",
                                  text: "Car"
                                },
                                {
                                  value: "Motorbike/scooter",
                                  text: "Motorbike/scooter"
                                },
                                {
                                  value: "Bicycle",
                                  text: "Bicycle"
                                },
                                {
                                  value: "Taxi",
                                  text: "Taxi"
                                }
                                
                                 
                              ]
                            }) }}
                </div> -->


              <div class="govuk-button-group" style="margin-top:25px">
                <button type="submit" class="govuk-button">Continue </button>
                 <a class="govuk-link" href="#">Cancel</a>
             </div>
                
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}