{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="receipts/receiptsEndDecide">
                <h1 class="govuk-heading-xl">Do you have proof for these claims?</h1> 
             <!--    <p>You need evidence for: </p> -->
                 <ul class="govuk-list govuk-list--bullet">
                 {% if data.trainCost %}

                      <li> £{{ data['trainCost'] }} of train tickets </li>
                      {% else %}
                    {% endif %}

                      {% if data.parkCost %}
                        <li>£{{ data['parkCost'] }} of parking</li>
                      {% else %}
                    {% endif %}

                     {% if data.taxiMilesClaimed %}
                        <li>£{{ data['taxiMilesClaimed'] }} for your taxi</li>
                      {% else %}
                    {% endif %}
<!-- end of conditional statements -->
                    </ul>

                    

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="receiptsOrNot" name="receiptsOrNot" type="radio" value="Yes" data-aria-controls="conditional-contact">
                                            <label class="govuk-label govuk-radios__label" for="contact">
                                            Yes
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="receiptsOrNot" name="receiptsOrNot" type="radio" value="No, I have some of my receipt(s)" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                               No, I have some
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="receiptsOrNot" name="receiptsOrNot" type="radio" value="No, I dont have any of my receipt(s)" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                                 No, I don't have any
                                            </label>
                                        </div>
<!--                                         <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="whyHigher" name="whyHigher" type="radio" value="text" data-aria-controls="conditional-contact-3">
                                            <label class="govuk-label govuk-radios__label" for="contact-3">
                                                Other
                                            </label>
                                        </div>
                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label" for="contact-by-text">
                                                    Other reason
                                                </label>
                                                <input class="govuk-input " id="whyHigher" name="whyHigher" type="text">
                                            </div>
                                        </div> -->
                                </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}