{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %}
{% include "includes/version1/homeNav.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<style>
    .govuk-header__logotype {
    width: 500px
}

.makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}
</style>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="whyHigher">
  
 

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">

                                                     <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading"> <span class="govuk-caption-l">Car</span>
              Are you claiming the higher rate?

      </h1>
    </legend>
     
                  
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="higherMile" name="higherMile" type="radio" value="Yes" checked>
                                <label class="govuk-label govuk-radios__label" for="TRN-yes" >
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="higherMile" name="higherMile" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                                <div class="govuk-button-group">
                <button type="submit" class="govuk-button">Continue </button>
                 <a class="govuk-link" href="#">Cancel</a>
             </div>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}