{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="feedback2">
                <h1 class="govuk-heading-xl">Help us improve our service</h1>
                <!-- <p>Tell us the name of the person the cheque should be made out to. -->

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                           How would you describe the expenses form you have completed today?
                          </h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                              Very easy
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                              Easy
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                              Neither easy or difficult
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                              Difficult
                            </label>
                          </div>
                           <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="very-difficult">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                              Very difficult
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="govuk-form-group">
                      <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--m" for="more-detail">
                          How could we improve the process of claiming for your expenses (optional)
                        </label>
                      </h1>
                      <div id="more-detail-hint" class="govuk-hint">
                        Do not include personal or financial information, like your National Insurance number or credit card details.
                      </div>
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="8" aria-describedby="more-detail-hint"></textarea>
                    </div>

<!--                     <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                      Can we contact you at {{ data['email'] }} to discuss your experience in more detail?
                          </h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="contact">
                              Yes
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact2" name="contact" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="contact2">
                              No
                            </label>
                          </div>

                        </div>
                      </fieldset>
                    </div> -->

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}