{% extends "layoutCPS.html" %}

{% block beforeContent %}
 {% include "includes/search-banner-modal.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back to URN search",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- <link href="/public/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/public/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" /> -->
<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/public/javascripts/accordion.js"></script>
<!-- <script src="/public/javascripts/cookie.js"></script> -->
<script>
    if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>
<script>
    function openCaseFiles() {
    $(listOfExhibits).addClass("rj-dont-display");
    $(caseFilesCol).removeClass("rj-dont-display");
     $(caseFilesNav).addClass("mainNavSelected");
     $(exhibitNav).removeClass("mainNavSelected");

    $(caseFilesNav).removeClass("navNotSelected");
    $(exhibitNav).addClass("navNotSelected");

    $(caseFilesNavH2).addClass("looks-like-a-link-underline-h2");
    $(caseFilesNavH2).removeClass("looks-like-a-link-underline");

    $(exhibitNavH2).addClass("looks-like-a-link-underline");
      $(exhibitNavH2).removeClass("looks-like-a-link-underline-h2");
    
}
    function openExhibit() {
         $(listOfExhibits).removeClass("rj-dont-display");
    $(caseFilesCol).addClass("rj-dont-display");
   
     $(exhibitNav).addClass("mainNavSelected");
    $(caseFilesNav).removeClass("mainNavSelected");

    $(caseFilesNav).addClass("navNotSelected");
    $(exhibitNav).removeClass("navNotSelected");

     $(caseFilesNavH2).removeClass("looks-like-a-link-underline-h2");
    $(caseFilesNavH2).addClass("looks-like-a-link-underline");

    $(exhibitNavH2).removeClass("looks-like-a-link-underline");
      $(exhibitNavH2).addClass("looks-like-a-link-underline-h2");
    
}

   function closeModal() {
    $(searchModal).addClass("rj-dont-display");
}

   function openModal() {
    $(searchModal).removeClass("rj-dont-display");
}

//    function closeModal() {
//     $(searchModal).removeClass("modal-open");
// }

//    function openModal() {
//     $(searchModal).addClass("modal-open");
// }


</script>
<style>
    .accordion-controls {
    margin-top: 20px;
}
</style>





<div class="govuk-grid-row" style="">
    <div class="govuk-grid-column-one-third">
        <!-- <h1 class="govuk-heading-m" style="margin-bottom:0"> Wolfeschlegelsteinhausenbergerdorff Picasso, Pablo Diego José Francisco de Paula Juan Nepomuceno María de los Remedios Cipriano de la Santísima Trinidad Ruiz y -->
        <h1 class="govuk-heading-m wrapLongFilenamesCPS" style="margin-bottom:0"> McLove, Eoin
            <span class="govuk-caption-m">45AA209820/1</span>
        </h1>
    </div>
    <div class="govuk-grid-column-two-thirds" style="">
        <form method="get" action="#">
            <div class="govuk-form-group" style="margin-bottom: 0px;">
                <!--       <label class="govuk-label   govuk-label--s" for="partialCost">
                    Search for a case URN
                </label> -->
                <!--       <span id="reference-hint" class="govuk-hint">
                            Enter URN
                        </span> -->
                <div style="display:flex">
                    <input class="govuk-input govuk-!-width-one-half" style="margin-left: auto; border-right:0" id="searchURN" name="searchURN" type="text" aria-describedby="FirstName-hint" value="" placeholder="Search all 45AA209820, McLove documents" /> <!-- <button type="submit" class="govuk-button caseSearchButtonCPS" style="">Search</button> -->
                    <div class="bba"><button class="search" type="submit" onCLick="openModal()"> </button></div>
                </div>
            </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="rj-headings-borderCPS"></div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third" style="">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <nav role="navigation" style="margin-left: 8px;">
                    <!--  <nav role="navigation" style="height: 1000px;border: 3px solid #f3f2f1; "> -->
                    <ul class="robSideNav">
                        <li id="caseFilesNav" class="govuk-heading-m mainNavSelected">
                            <h2 id="caseFilesNavH2" class="govuk-heading-m looks-like-a-link-underline-h2" onclick="openCaseFiles()">Case files</h2>
                        </li>
                        <li id="exhibitNav" class="govuk-heading-m navNotSelected" style="">
                            <h2 id="exhibitNavH2" class="govuk-heading-m looks-like-a-link-underline" onclick="openExhibit()">Exhibits</h2>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--  <div class="col-lg-2" style="border-right: 4px solid #bfc1c3; min-height:1000px"> -->
            <div class="govuk-grid-column-two-thirds makeScrollCPS">
                <div class="caseFiles" id="caseFilesCol" style="">
                    <!--   <div class="caseFiles" style="height: 1000px;border: 3px solid #f3f2f1; "> -->
                    <div class="blueBoxCPS">
                        <H2 class="govuk-heading-m" style="color:#fff; padding-top:1rem; ">Proposed Charges</h2>
                        <ul class="govuk-list govuk-list--bullet govuk-body-s" style="color:#fff; margin-bottom:0">
                            <li>
                                <span style="font-weight:700">Section 39 Common assault 01/06/2020.</span> Contrary to the Criminal Justice Act 1988
                            </li>
                    <!--         <li style="padding-top: 15px; margin-bottom: 0;">
                                <span style="font-weight:700">Section 5 Drive OPL 01/06/2020</span> Contrary to Road Traffic Act
                            </li> -->
                        </ul>
                    </div>
                    <div class="cpsDocs chargingDocs">
                        <H2 class="govuk-heading-m" style="">Summary documents</h2>
                        <div class="documentFlex" style="">
                            <div class="caseFileName" style="">
                                <p class="govuk-body-s" style="font-weight:700"></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s" style="font-weight:700; margin-bottom:10px">Date added</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName " style="">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="MCLOVEMG3.pdf">MCLOVE MG3</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">2 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="MG05MCLOVE.pdf">MG05 MCLOVE</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">2 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="MG06_10june.pdf">MG06 10 june</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">10 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="MG06_3June.pdf">MG06 3 June</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">3 June 2020</p>
                            </div>
                        </div>
                        <!--         <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s"><a href="">1</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">3 Mar 2020</p>
                            </div>
                        </div> -->
                        <!--           <div class="documentFlex" style="border-bottom:0">
                            <div class="caseFileName">
                                <p class="govuk-body-s"><a href="">This has a really really really really long and over the top filename to see how it looks when it gets really silly final final version</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">3 Mar 2020</p>
                            </div>
                        </div> -->
                        <!--   <div class="accordion"> -->
                        <!--   <div class="accordion-section">
                                <div class="accordion-section-header">
                                    <h2 class="govuk-heading-m">Defendent<br />documents</h2>
                                </div>
                                <div class="accordion-section-body"> -->
                        <h2 class="govuk-heading-m topM25">Offence specific</h2>
                        <div class="documentFlex topP0" style="">
                            <div class="caseFileName" style="">
                                <p class="govuk-body-s" style="font-weight:700"></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s" style="font-weight:700; margin-bottom:10px; padding-top:0">Date added</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName " style="">
                                <p class="govuk-body-s wrapLongFilenamesCPS">No documents</p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s"></p>
                            </div>
                        </div>
                        <!--      <div class="documentFlex" style="">
                                        <div class="caseFileName">
                                            <p class="govuk-body-s"><a href="">MG16</a></p>
                                        </div>
                                        <div class="caseFileDate">
                                            <p class="govuk-body-s">2 June 2020</p>
                                        </div>
                                    </div> -->
                        <!--         </div>
                            </div> -->
                        <!--  <div class="accordion-section">
                                <div class="accordion-section-header">
                                    <h2 class="govuk-heading-m">Statements </h2>
                                </div>
                                <div class="accordion-section-body"> -->
                        <!-- <table class="govuk-table ">
                                        <thead>
                                            <tr class="govuk-table__row">
                                                <th scope="col" class="govuk-table__header " style="font-weight:700"></th>
                                                <th scope="col" class="govuk-table__header govuk-body-s" style="font-weight:700">Date added</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell govuk-body-s" scope="row"><a href="">MG11 Shelagh MCLOVE retraction</a></td>
                                                <td class="govuk-table__cell govuk-body-s" scope="row">10 June 2020</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell govuk-body-s" scope="row"><a href="">Shelagh McLove VPS mg11</a></td>
                                                <td class="govuk-table__cell govuk-body-s" scope="row">06 June 2020</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell govuk-body-s" scope="row"><a href="">stmt BLAYNEE 2034 1 JUNE mg11</a></td>
                                                <td class="govuk-table__cell govuk-body-s" scope="row" style="">01 June 2020</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell govuk-body-s" scope="row"><a href="">stmt JONES 1989 1 JUNE mg11</a></td>
                                                <td class="govuk-table__cell govuk-body-s" scope="row" style="">01 June 2020</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell govuk-body-s" scope="row"><a href="">stmt Lucy Doyle MG11</a></td>
                                                <td class="govuk-table__cell govuk-body-s" scope="row" style="">01 June 2020</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell govuk-body-s" scope="row"><a href="">stmt Shelagh McLove MG11</a></td>
                                                <td class="govuk-table__cell govuk-body-s" scope="row" style="">01 June 2020</td>
                                            </tr>
                                        </tbody>
                                    </table> -->
                        <h2 class="govuk-heading-m topM25">Statements </h2>
                        <div class="documentFlex topP0" style="">
                            <div class="caseFileName" style="">
                                <p class="govuk-body-s" style="font-weight:700"></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s" style="font-weight:700; margin-bottom:10px; ">Date added</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName " style="">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="MG11_Shelagh_MCLOVE_retraction.pdf">MG11 Shelagh MCLOVE retraction</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">10 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="Shelagh_McLove_VPS_mg11.pdf">Shelagh McLove VPS mg11</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s wrapLongFilenamesCPS">6 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="stmt_BLAYNEE_2034_1_JUNE_mg11.pdf">stmt BLAYNEE 2034 1 JUNE mg11</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">1 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="stmt_JONES_1989_1_JUNE_mg11.pdf">stmt JONES 1989 1 JUNE mg11</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">1 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="stmt_Lucy_Doyle_MG11.pdf">stmt Lucy Doyle MG11</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">1 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="stmt_Shelagh_McLove_MG11.pdf">stmt Shelagh McLove MG11</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">1 June 2020</p>
                            </div>
                        </div>
                        <!--       </div>
                            </div> -->
                        <!--   <div class="accordion-section">
                                <div class="accordion-section-header">
                                    <h2 class="govuk-heading-m">Defendent<br />documents</h2>
                                </div>
                                <div class="accordion-section-body"> -->
                        <h2 class="govuk-heading-m topM25">Defendant</h2>
                        <div class="documentFlex topP0" style="">
                            <div class="caseFileName" style="">
                                <p class="govuk-body-s" style="font-weight:700"></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-swrapLongFilenamesCPS" style="font-weight:700; margin-bottom:10px; padding-top:0">Date added</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName " style="">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="PRE_CONS_D.pdf">PRE CONS D</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s wrapLongFilenamesCPS">2 June 2020</p>
                            </div>
                        </div>
                        <!--      <div class="documentFlex" style="">
                                        <div class="caseFileName">
                                            <p class="govuk-body-s"><a href="">MG16</a></p>
                                        </div>
                                        <div class="caseFileDate">
                                            <p class="govuk-body-s">2 June 2020</p>
                                        </div>
                                    </div> -->
                        <!--         </div>
                            </div> -->
                        <!-- end of accordion -->
                        <!--  <div class="accordion-section">
                                <div class="accordion-section-header">
                                    <h2 class="govuk-heading-m">Forensics </h2>
                                </div>
                                <div class="accordion-section-body"> -->
                        <h2 class="govuk-heading-m topM25">Forensics </h2>
                        <div class="documentFlex topP0" style="">
                            <div class="caseFileName" style="">
                                <p class="govuk-body-s" style="font-weight:700"></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s wrapLongFilenamesCPS" style="font-weight:700; margin-bottom:10px">Date added</p>
                            </div>
                        </div>
                        <!--         <div class="documentFlex" style="">
                                        <div class="caseFileName " style="">
                                            <p class="govuk-body-s "><a href="">t.b.c</a></p>
                                        </div>
                                        <div class="caseFileDate">
                                            <p class="govuk-body-s">10 June 2020</p>
                                        </div>
                                    </div> -->
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS">No documents</p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s"></p>
                            </div>
                        </div>
                        <!--          </div>
                            </div> -->
                        <!-- end of accordion -->
                        <!--     <div class="accordion-section">
                                <div class="accordion-section-header">
                                    <h2 class="govuk-heading-m">Court preperation </h2>
                                </div>
                                <div class="accordion-section-body"> -->
                        <h2 class="govuk-heading-m topM25">Court preperation </h2>
                        <div class="documentFlex topP0" style="">
                            <div class="caseFileName" style="">
                                <p class="govuk-body-s" style="font-weight:700"></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s wrapLongFilenamesCPS" style="font-weight:700; margin-bottom:10px">Date added</p>
                            </div>
                        </div>
                        <!--  <div class="documentFlex" style="">
                                        <div class="caseFileName " style="">
                                            <p class="govuk-body-s "><a href="">MG10 - witness availability</a></p>
                                        </div>
                                        <div class="caseFileDate">
                                            <p class="govuk-body-s">6 June 2020</p>
                                        </div>
                                    </div> -->
                        <!--    <div class="documentFlex" style="">
                                        <div class="caseFileName">
                                            <p class="govuk-body-s"><a href="">MG19 - Compensation</a></p>
                                        </div>
                                        <div class="caseFileDate">
                                            <p class="govuk-body-s">6 June 2020</p>
                                        </div>
                                    </div> -->
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS">No documents</p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s"></p>
                            </div>
                        </div>
                        <!--            </div>
                            </div> -->
                        <!-- end of accordion -->
                        <!--     <div class="accordion-section">
                                <div class="accordion-section-header">
                                    <h2 class="govuk-heading-m">Unused materials </h2>
                                </div>
                                <div class="accordion-section-body"> -->
                        <h2 class="govuk-heading-m topM25">Unused materials </h2>
                        <div class="documentFlex topP0" style="">
                            <div class="caseFileName" style="">
                                <p class="govuk-body-s" style="font-weight:700"></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s" style="font-weight:700; margin-bottom:10px">Date added</p>
                            </div>
                        </div>
                        <!--       <div class="documentFlex" style="">
                                        <div class="caseFileName " style="">
                                            <p class="govuk-body-s "><a href="">MG06C</a></p>
                                        </div>
                                        <div class="caseFileDate">
                                            <p class="govuk-body-s">6 June 2020</p>
                                        </div>
                                    </div>
                                    <div class="documentFlex" style="">
                                        <div class="caseFileName " style="">
                                            <p class="govuk-body-s "><a href="">MG06D</a></p>
                                        </div>
                                        <div class="caseFileDate">
                                            <p class="govuk-body-s">6 June 2020</p>
                                        </div>
                                    </div>
                                    <div class="documentFlex" style="">
                                        <div class="caseFileName " style="">
                                            <p class="govuk-body-s "><a href="">MG06E</a></p>
                                        </div>
                                        <div class="caseFileDate">
                                            <p class="govuk-body-s">6 June 2020</p>
                                        </div>
                                    </div> -->
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="UNUSED_1_STORM_LOG_1881_01.6.20_EDITED_2020-11-23_MCLOVE.pdf">UNUSED 1 - STORM LOG 1881 01.6.20 - EDITED 2020-11-23 MCLOVE</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">1 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="MG20_5_JUNE.pdf" data-doc="MG20_5_JUNE.pdf">MG20_5_JUNE</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">6 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="MG20_10_JUNE.pdf" data-doc="MG20_10_JUNE.pdf">MG20_10_JUNE</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">11 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS" style=" "><a href="" data-doc="SDC_items_to_be_Disclosed_MCLOVE.pdf">SDC_items_to_be_Disclosed_MCLOVE</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">5 June 2020</p>
                            </div>
                        </div>
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="SDC_items_to_be_Disclosed_MCLOVE.pdf">UNUSED_6_DA_CHECKLIST_MCLOVE</a></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s">5 June 2020</p>
                            </div>
                        </div>
                        <!--           </div>
                            </div> -->
                        <!-- end of accordion -->
                        <!--  <div class="accordion-section">
                                <div class="accordion-section-header">
                                    <h2 class="govuk-heading-m">Material to be<br /> classified </h2>
                                </div>
                                <div class="accordion-section-body"> -->
                        <h2 class="govuk-heading-m topM25">Material to be<br />classified </h2>
                        <div class="documentFlex topP0" style="">
                            <div class="caseFileName" style="">
                                <p class="govuk-body-s" style="font-weight:700"></p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s" style="font-weight:700; margin-bottom:10px">Date added</p>
                            </div>
                        </div>
                        <!--        <div class="documentFlex" style="">
                                        <div class="caseFileName " style="">
                                            <p class="govuk-body-s "><a href="">MG11 Shelagh MCLOVE retraction</a></p>
                                        </div>
                                        <div class="caseFileDate">
                                            <p class="govuk-body-s">10 June 2020</p>
                                        </div>
                                    </div> -->
                        <div class="documentFlex" style="">
                            <div class="caseFileName">
                                <p class="govuk-body-s">No documents</p>
                            </div>
                            <div class="caseFileDate">
                                <p class="govuk-body-s"></p>
                            </div>
                        </div>
                    </div>
                    <!--       </div>
                        </div> -->
                    <!-- end of all accordion -->
                    <!--   </div> -->
                </div>
                <!-- end of charging docs column -->
                <div id="listOfExhibits" class="listOfExhibits rj-dont-display">
                    <h2 class="govuk-heading-m" style="">Exhibited material</h2>
                    <div class="documentFlex" style="">
                        <div class="caseFileName" style="">
                            <p class="govuk-body-s" style="font-weight:700"></p>
                        </div>
                        <div class="caseFileType" style="">
                            <p class="govuk-body-s" style="font-weight:700">Type</p>
                        </div>
                        <div class="caseFileDate">
                            <p class="govuk-body-s" style="font-weight:700; margin-bottom:10px">Date added</p>
                        </div>
                    </div>
                    <div class="documentFlex" style="">
                        <div class="caseFileName " style="">
                            <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="MG12.pdf">MCLOVE MG12</a></p>
                        </div>
                        <div class="caseFileType">
                            <p class="govuk-body-s">pdf</p>
                        </div>
                        <div class="caseFileDate">
                            <p class="govuk-body-s">12 June 2020</p>
                        </div>
                    </div>
                    <div class="documentFlex" style="">
                        <div class="caseFileName " style="">
                            <p class="govuk-body-s wrapLongFilenamesCPS"><a href="" data-doc="MG00.pdf">MCLOVE MG00</a></p>
                        </div>
                        <div class="caseFileType">
                            <p class="govuk-body-s">pdf</p>
                        </div>
                        <div class="caseFileDate">
                            <p class="govuk-body-s">12 June 2020</p>
                        </div>
                    </div>
           
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="file1 weirdFix1400">

            <div class="govuk-tabs" data-module="govuk-tabs">

                <ul class="govuk-tabs__list">
                      {% include "includes/search-banner-tab.html" %}
                </ul>
                <h2 class="govuk-heading-m" style="margin:60px 0 0 0; text-align:center;">View your documents </h2>
                 <p style="margin:10px 0 0 0; text-align:center;">Choose a file from the left hand sidebar to start reviewing documents</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
$(document).ready(function() {

    const $menuLinks = $(".caseFileName a");
    const $tabList = $(".govuk-tabs .govuk-tabs__list");

    $menuLinks.each(function(_, link) {
        $(link).click(handleMenuLinkClick)
    })

    function handleMenuLinkClick(event) {
        event.preventDefault();
        const label = $(this).text();
        highlightMenuLink(label, true);
        ensureTabExists(label);
        showTab(label, true);
    }

    function highlightMenuLink(label, isHighlighted) {
        const $link = $(`.caseFileName a:contains("${label}")`)
        if (isHighlighted) {
            $link.parent("p").addClass("documentSelected");
        } else {
            $link.parent("p").removeClass("documentSelected");
        }
    }

    function ensureTabExists(label) {
        const document = $(`.caseFileName a:contains("${label}")`).attr("data-doc")
        const existingTab = $(`li[data-tab-id='${label}']`);
        if (existingTab.length) return;

        const newTab = $(`
        <li class="govuk-tabs__list-item" data-tab-id="${label}">

            <svg class="closeButtonOnCPS">
                <circle cx="12" cy="12" r="13" stroke="white" stroke-width="1" fill="white" />
                <path stroke="white" stroke-width="3" fill="none" d="M6.25,6.25,17.75,17.75" />
                <path stroke="white" stroke-width="3" fill="none" d="M6.25,17.75,17.75,6.25" />
            </svg>

            <a class="govuk-tabs__tab" href="">${label}</a>
        </li>`)
            .appendTo($tabList);

        const newContent = $(`
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" data-tab-id="${label}-content">        
            <embed class="embedSize" src="/public/files/${document}#toolbar=0" >
        </div>`)
            .insertAfter($tabList);

        newTab.find("li").off("click");
        newTab.find("a.govuk-tabs__tab").click(function() {
            event.preventDefault();
            showTab(label);
        })

        newTab.find(".closeButtonOnCPS").click(function() {
            destroyTab(label);
            highlightMenuLink(label, false);
        })
    }

    function destroyTab(label) {
        const $tabs = $(`li[data-tab-id`);
        const $thisTab = $(`li[data-tab-id='${label}']`);
        const thisTabIndex = $tabs.index($thisTab);
        const tabIndexToLeaveOpen = thisTabIndex ?
            thisTabIndex - 1 // if not first tab, go to the left
            :
            0; // otherwise if first tab, then go to the tab that is now first
        $(`li[data-tab-id='${label}']`).remove();
        $(`div[data-tab-id='${label}-content']`).remove();

        const labelOfTabToOpen = $($(`li[data-tab-id`)[tabIndexToLeaveOpen]).text().trim();

        showTab(labelOfTabToOpen);
    }


    function showTab(label) {
        $tabList.find("li").removeAttr('id', 'selectedTab');
        $tabList.find("li").removeClass("govuk-tabs__list-item--selected");
        

        $(`li[data-tab-id='${label}']`).addClass("govuk-tabs__list-item--selected");
         $(`li[data-tab-id='${label}']`).attr('id', 'selectedTab');

        $(".govuk-tabs__panel").addClass("govuk-tabs__panel--hidden");
        $(`div[data-tab-id='${label}-content']`).removeClass("govuk-tabs__panel--hidden");

        const selectedTab = $("#selectedTab");
        if (selectedTab.length) {
            selectedTab[0].scrollIntoView();
        }
    }


})
</script>
{% endblock %}