{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Train</span>
           Do you have all your train receipts?
        </h1>

<form action="trainCost2" method="get" class="form">
            <div class="govuk-form-group" style="">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact" name="haveReceipts" type="radio" value="yes" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="contact">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact-2" name="haveReceipts" type="radio" value="No, I have some of my receipt(s)" data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                No, I have some of my receipts
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                            <div class="govuk-form-group">
                                <label class="govuk-label bold-label" for="contact-by-phone">
                                    Reason for missing receipts
                                </label>
                                <input class="govuk-input " id="reasonSomeReceipts" name="reasonSomeReceipts" type="text" autocomplete="tel">
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact-3" name="haveReceipts" type="radio" value="No, I dont have any of my receipts" data-aria-controls="conditional-contact-3">
                            <label class="govuk-label govuk-radios__label" for="contact-3">
                                 No, I don't have any of my receipts
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label bold-label" for="contact-by-text">
                                  Reason for not having receipts
                                </label>
                                <input class="govuk-input " id="reasonNoReceipts" name="reasonNoReceipts" type="text" autocomplete="tel">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button">Continue</button>
        </form>
    </div>
    </main>
</div>
{% endblock %}