{% extends "layoutWitexAdmin.html" %}
{% block header %}
{% include "includes/cps/v12/banner.html" %}
{% include "includes/cps/nav/mainNav.html" %}
{% include "includes/cps/nav/teamNav.html" %}

{% endblock %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back to team",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/public/javascripts/accordion.js"></script>
<script>
    if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>
<style>
    .makeBold {
    font-weight: 700;
}

.makeBannerMiddle {
    display: none;
}

.caseReviewHeader {
    display: none
}

.filter-form  {
    border: 1px solid #b1b4b6;
    padding:10px;

}

.options-container {
    border:0 !important;
}

.js-enabled .govuk-option-select.js-collapsible button 
{
    background-color: #fff !important;
}

#finder-frontend .filter {
    background-color:#fff !important;
}

#finder-frontend .govuk-option-select, #finder-frontend .filter {
    margin-bottom:0 !important;
}

#finder-frontend .govuk-form-group {

}

.govuk-width-container {
    max-width: 1020px;
}

.govuk-tabs__list-item {
    font-size:19px;
}

.cpsAdminMenuWrapper {
max-width:1020px;
margin:0 auto;
}
</style>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l" style="" id="company-Name">Rob Edwards</h1>
                <p class="govuk-body">Choose what you allow this team member to do.</p>
               

<form action="team" method="get" class="form">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <!--h2 class="govuk-fieldset__heading">
              
            </h2-->
            </legend>
                       <div class="govuk-checkboxes ">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="permissionchange-1" name="permissionchange" type="checkbox" value="true" checked="true">
                    <label class="govuk-label govuk-checkboxes__label" for="permissionchange-1">
                        View information
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="permissionchange-2" name="permissionchange" type="checkbox" value="false" checked="true">
                    <label class="govuk-label govuk-checkboxes__label" for="permissionchange-2">
                        Process claims
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="permissionchange-3" name="permissionchange" type="checkbox" value="false" checked="true"  >
                    <label class="govuk-label govuk-checkboxes__label" for="permissionchange-3">
Make payments
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
                    <div class="govuk-button-group" style="margin-top:25px">
                        <button type="submit" class="govuk-button">Update </button>
                        <a class="govuk-link" href="#">Cancel</a>
                    </div>
</form>
</div>
</div>
</div>
{% endblock %}