{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="taxi/taxiMiles">
                <h1 class="govuk-heading-xl">    <span class="govuk-caption-xl">Taxi</span>Why did you take a taxi?</h1> 

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="whyTaxi" name="whyTaxi" type="radio" value="There is no public transport" data-aria-controls="conditional-contact">
                                            <label class="govuk-label govuk-radios__label" for="contact">
                                             There were no other transport options
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="whyTaxi" name="whyTaxi" type="radio" value="Saving time and money" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                            Disabled                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="whyTaxi" name="whyTaxi" type="radio" value="Disabled or infirm" data-aria-controls="conditional-contact-2">
                                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                                Emergency
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="whyTaxi" name="whyTaxi" type="radio" value="text" data-aria-controls="conditional-contact-3">
                                            <label class="govuk-label govuk-radios__label" for="contact-3">
                                                Other
                                            </label>
                                        </div>
                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label" for="contact-by-text">
                                                    Other reason
                                                </label>
                                                <input class="govuk-input " id="whyHigher" name="whyHigher" type="text">
                                            </div>
                                        </div>
                                </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}