{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="claim2">

                  <div class="govuk-form-group">
                      <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="more-detail">
                          Add a note
                        </label>
                      </h1>
           <!--            <div id="more-detail-hint" class="govuk-hint">
                        Do not include personal or financial information, like your National Insurance number or credit card details.
                      </div> -->
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="8" aria-describedby="more-detail-hint"></textarea>
                    </div>
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Save and return
                </button>
                 <a class="govuk-link" href="claim2">Cancel</a>
             </div>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}