{% extends "layout.html" %}
{% block pageTitle %}

{% endblock %}
{% block content %}

<!-- <script src="/socket.io/socket.io.js"></script>
<script>
var socket = io();
</script> -->
<!-- <style>
.caseReviewHeader {
    display: none;
}
.govuk-footer__copyright-logo {
    display: none;
}

@media (min-width: 48.0625em) {
    .govuk-header__logo {
        width: 50% !important;
    }
}

@media (max-width: 641px) {
    .govuk-header__logotype-text {
        font-size: 22px;
    }
}
</style> -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">CPS </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 30px;">Prototype versions and links</h2>

                                            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Claim interface Pro</h2>
                <p style="margin-top:10px; font-weight:700">Claim interface professional witness</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v31-admin/caseManagement/index2">Claim management</a>

        </div>

            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses Multi Day - BEST COPY VERSION</h2>
                <p style="margin-top:10px; font-weight:700">This version is the definitive version for content</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v24-claim/guidance">Multi Day (DAY)</a>
            </div>

            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Claim on behalf of v4</h2>
                <p style="margin-top:10px; font-weight:700">Final claim on behalf of</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v32-claim/guidance">Claim on behalf of</a>
            </div>

            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses Professional Journey</h2>
                <p style="margin-top:10px; font-weight:700">Professional Journey</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v30-claim/guidance">Professional Journey</a>
            </div>

                 <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses Multi Day - NOT USED</h2>
                <p style="margin-top:10px; font-weight:700">Showing day 1, day 2 etc</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v24b-claim/guidance">Multi Day (DAY)</a>
            </div>




                            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Claim on behalf of v3</h2>
                <p style="margin-top:10px; font-weight:700">Proof gate and claim on behalf of</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v29-claim/guidance">Claim on behalf of</a>
            </div>

                    <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Proof gate at beginning</h2>
                <p style="margin-top:10px; font-weight:700">Proof gate</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v28-claim/guidance">Proof gate v1</a>
            </div>

            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses AD/Not a witness v2</h2>
                <p style="margin-top:10px; font-weight:700">AD/Not a witness</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v27-claim/guidance">AD/Not a witness v2</a>
            </div>

               <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses AD/Not a witness</h2>
                <p style="margin-top:10px; font-weight:700">AD/Not a witness</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v26-claim/guidance">AD/Not a witness v1</a>
            </div>


            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses Multi Day</h2>
                <p style="margin-top:10px; font-weight:700">Tidy up fonts etc</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v25-claim/guidance">Multi Day v3</a>
            </div>

            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses Multi Day</h2>
                <p style="margin-top:10px; font-weight:700">Tidy up fonts etc</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v24-claim/guidance">Multi Day v2</a>
            </div>

            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses Multi Day</h2>
                <p style="margin-top:10px; font-weight:700">Tidy up fonts etc</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v23-claim/guidance">Multi Day v1</a>
                    <p style="margin-top:15px; margin-left:20px"><a href="/witex-v23b-claim/guidance">Multi Day v1 - simpler content</a>
            </div>

                        <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses Multi Day</h2>
                <p style="margin-top:10px; font-weight:700">Tidy up fonts etc</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v22-claim/guidance">Various amends inc air & sea + international bank</a>
            </div>

                <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses Tidy</h2>
                <p style="margin-top:10px; font-weight:700">Tidy up fonts etc</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v20/guidance">Tidy up fonts and sizes</a>
            </div>

            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Claim interface Beta Nov 27</h2>
                <p style="margin-top:10px; font-weight:700">Claim interface v4</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v21/caseManagement/claim3n3b">Claim details - card </a>
                    <p style="margin-top:15px; margin-left:20px"><a href="/witex-v21/caseManagement/claim3n3">Claim details - accordion </a>
                        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v21/caseManagement/index2">Claim management</a>
                            <p style="margin-top:15px; margin-left:20px"><a href="/witex-v21/caseManagement/claim3n">Claim </a>
                                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v21/caseManagement/claim3n">Claim v2 cards </a>
                                    <p style="margin-top:15px; margin-left:20px"><a href="/witex-v21/caseManagement/admin/team">Team</a>
                                        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v21/caseManagement/admin/mi">Reports</a>
                                            <p style="margin-top:15px; margin-left:20px"><a href="/witex-v21/caseManagement/admin/notifications">Notifications</a>
            </div>

                                    <div class="holdingBlock">
                            <h2 class="govuk-heading-s" style="margin-bottom:0">Claim interface Beta Nov 23</h2>
                <p style="margin-top:10px; font-weight:700">Claim interface v4</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v19/caseManagement/index2">Claim management</a>
                     <p style="margin-top:15px; margin-left:20px"><a href="/witex-v19/caseManagement/admin/team">Team</a>
                         <p style="margin-top:15px; margin-left:20px"><a href="/witex-v19/caseManagement/admin/mi">Reports</a>
                            <p style="margin-top:15px; margin-left:20px"><a href="/witex-v19/caseManagement/admin/notifications">Notifications</a>
        </div>

                <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Claim interface Beta</h2>
                <p style="margin-top:10px; font-weight:700">Claim interface v4</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v18/caseManagement/index2">Claim management</a>
        </div>

        <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses Beta</h2>
                <p style="margin-top:10px; font-weight:700">Post Private Beta launch</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v17/guidance">Private beta version</a>
            </div>

        <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Claim interface Alpha</h2>
                <p style="margin-top:10px; font-weight:700">Claim interface v3</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v16/caseManagement/index2">Claim management</a>
        </div>

        <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Claim interface </h2>
                <p style="margin-top:10px; font-weight:700">Claim interface v2</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v15/caseManagement/index2">Claim management</a>
        </div>


        <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Claim interface </h2>
                <p style="margin-top:10px; font-weight:700">Claim interface</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v14/caseManagement/index2">Claim management</a>
        </div>

        <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses Alpha</h2>
                <p style="margin-top:10px; font-weight:700">The MVP</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v10a/guidance">Alpha version</a>
            </div>

                    <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Errors</h2>

                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v10a/error">Page not found</a>
                      <p style="margin-top:15px; margin-left:20px"><a href="/witex-v10a/error/isProblem">Service not available</a>
                        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v10a/error/timeout">Time out notice</a>
                            <p style="margin-top:15px; margin-left:20px"><a href="/witex-v10a/error/out">Signed out auto</a>
                                 <p style="margin-top:15px; margin-left:20px"><a href="/witex-v10a/error/out2">Chose to sign out</a>
            </div>

     <div class="holdingBlock">
            <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses 9</h2>
               <p style="margin-top:10px; font-weight:700">Multiple days v1</p>

         <p style="margin-top:15px"><a href="/witex-v11/guidance">Multi day/multi page </a>
            <p>Update to reflect multiple days journey. This version asks users for the number of days in court and then builds pages to relect that.</p><p> Use 3 days/nights as the amount.  </p>

              <p style="margin-top:10px; font-weight:700">Multiple days v2</p>

              <p style="margin-top:15px"><a href="/witex-v12/guidance">Multi day/single page </a>
            <p>Update to reflect multiple days journey. This version asks users for the number of days in court and then builds a longer page to relect that.</p><p> Use 3 days/nights as the amount.  </p>

              <p style="margin-top:10px; font-weight:700">Multiple days v3</p>

                         <p style="margin-top:15px"><a href="/witex-v13/guidance">Add another</a>
            <p>Update to reflect multiple days journey. This version asks users to 'add another' rather than asking days etc up front.</p><p> Use 3 days/nights as the amount if it asks.  </p>
    </div>

            <div class="holdingBlock">
                <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses 8</h2>
                <p style="margin-top:10px; font-weight:700">The MVP</p>
                <p style="margin-top:15px; margin-left:20px"><a href="/witex-v10/guidance">Linear journey - receipts reason as you go </a>
                    <p style="margin-top:35px; margin-left:20px"><a href="/witex-v10/travel/coach">Travel - Coach </a></p>
                    <p style="margin-top:15px; margin-left:20px"><a href="/witex-v10/travel/motorbike">Travel - Motorbike/scooter </a></p>
                    <p style="margin-top:15px; margin-left:20px"><a href="/witex-v10/travel/londonTransport">Travel - London Transport </a></p>
                    <p style="margin-top:15px; margin-left:20px"><a href="/witex-v10/travel/notLondon">Travel - Outside London transport </a></p>
            </div>

            <div class="holdingBlock">
            <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses 7</h2>
               <p style="margin-top:10px; font-weight:700">New MVP</p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v9/guidance">Linear journey - have all receipts at end </a>
         <p style="margin-top:15px; margin-left:20px"><a href="/witex-v9b/guidance">Linear journey - receipts reason as you go </a></p>
    </div>

            <div class="holdingBlock">
            <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses 6</h2>
               <p style="margin-top:10px; font-weight:700">New MVP</p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v8/start?showFood=2">Linear journey - have all receipts at end </a>
         <p style="margin-top:15px; margin-left:20px"><a href="/witex-v8b/start?showFood=2">T.B.C - Linear journey - receipts reason as you go </a></p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v8/guidance">Guidance content</a></p>
    </div>


            <div class="holdingBlock">
            <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses 5</h2>
               <p style="margin-top:10px; font-weight:700">New content, travel and food sections</p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v7/start?showFood=2">Linear journey - have all receipts at end </a>
         <p style="margin-top:15px; margin-left:20px"><a href="/witex-v7b/start?showFood=2">Linear journey - receipts reason as you go </a></p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v7/guidance">Guidance content</a></p>
    </div>

    <div class="holdingBlock">
            <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses 4</h2>
               <p style="margin-top:10px; font-weight:700">New content, travel and food sections</p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v6/start">Linear journey </a></p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v6/guidance">Guidance content</a></p>
           <p style="margin-top:15px; margin-left:20px"><a href="/witex-v6/start?showFood=1">Food - add hours </a></p>
           <p style="margin-top:15px; margin-left:20px"><a href="/witex-v6/start?showFood=2">Food - radio hours </a></p>
            <p style="margin-top:15px; margin-left:20px"><a href="/witex-v6/start?showFood=3">Food - start/end time </a></p>
             <p style="margin-top:15px; margin-left:20px"><a href="/witex-v6b/start">Food all 3 </a></p>
             <p style="margin-top:15px; margin-left:20px"><a href="/witex-v6/travel">Travel just public transport</a></p>
               <p style="margin-top:15px; margin-left:20px"><a href="/witex-v5/travel">Travel all versions</a></p>
    </div>
     
   <div class="holdingBlock">
            <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses 3</h2>
               <p style="margin-top:10px; font-weight:700">Linear version, new content, new employment sections</p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v5/start">Linear journey</a></p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v5/guidance">Guidance content</a></p>
    </div>

   <div class="holdingBlock">
            <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses 2</h2>
               <p style="margin-top:10px; font-weight:700">Linear version, new content</p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v4/start">Linear journey</a></p>

 

 
        </div>


   <div class="holdingBlock">
            <h2 class="govuk-heading-s" style="margin-bottom:0">Witness Expenses 1</h2>
               <p style="margin-top:10px; font-weight:700">3 versions</p>

        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v3/start">Simple task list</a></p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v2/start">Linear journey</a></p>
        <p style="margin-top:15px; margin-left:20px"><a href="/witex-v1/start">Personalised task list</a></p>
 

 
        </div>



</div>
</details>
</div>
</div>
{% endblock %}