{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="didUserPay2">
                <h1 class="govuk-heading-l">Did you stay with friends and family?</h1>
                 <!--      <p>If you paid for your overnight stay, you can claim a fixed amount for your accommodation, meals and refreshments.</p><p> This ranges between £91 and £121 per night depending on your accomodation's location. You will need to provide a receipt for your stay. </p> -->
                                 {% if data.childOrNot == true %}
                <p>If you and the child witness stayed with friends and family, you can claim a combined amount of £50 a night. You do not need to provide a receipt. </p>
                {% else %}
                      <p>If you stayed with friends and family, you can claim a fixed amount of £25 a night. You do not need to provide a receipt. </p>
                          {% endif %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                     <!--    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         
                            <label class="govuk-label  bold-label" for="firstName">
                                    Do you want to claim for food and drink?</label>
                        </legend> -->
                  
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="overnightUserPaid" name="overnightUserPaid" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="overnightUserPaid" name="overnightUserPaid" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="TRN-no">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}