{% extends "layout.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- <script src="/public/javascripts/accordion.js"></script> -->
<!--script>

$(document).on('click', 'input[type="radio"]', function (e) {
  if ($(e.target).attr('id') === 'radio-3' || $(e.target).attr('id') === 'radio-4' || $(e.target).attr('id') === 'radio-5') 
  { $('#other-organisation-options').removeClass('js-hidden') ; } 
       else {$('#other-organisation-options').addClass('js-hidden');};
});

</script-->

<script>
$(document).ready(function() {
    
    $('input[type=radio][name=case-status]').change(function() {
        var status = $('input[name=case-status]:checked').val();
        switch (true) {
            case (status == 'all'):
              $(caseOne).removeClass("rj-dont-display");
              $(caseTwo).removeClass("rj-dont-display");
              console.log(status)
               
                break;
            case (status == 'charged'):
              $(caseTwo).removeClass("rj-dont-display");
                $(caseOne).addClass("rj-dont-display");
            console.log(status)

                break
            case (status == 'not-yet-charged'):
             $(caseTwo).addClass("rj-dont-display");
                $(caseOne).removeClass("rj-dont-display");
               console.log(status)
                
                break
            default:
                console.log('gyahhhhhhhh, bork bork bork');
                  console.log(status)
                break;
        }
    });
});
</script>

<style>
.govuk-footer__copyright-logo {
    display: none;
}

@media (min-width: 48.0625em) {
    .govuk-header__logo {
        width: 50% !important;
    }
}

@media (max-width: 641px) {
    .govuk-header__logotype-text {
        font-size: 22px;
    }
}
</style>
<style>
.accordion-controls {
    display: none;
}
</style>

<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<!-- Here is the code to show conditional stuff in liquid-->
<!-- {% if data.FAALoggedIn %}
{% include "includes/RAALoggedIn.html" %}
{% else %}
{% include "includes/RAAUnloggedIn.html" %}
{% endif %} -->
<!-- end of conditional statement -->



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="margin-bottom:25px">
        <h1 class="govuk-heading-xl" style="">Find a case</h1>
        <form method="get" action="#">
            <div class="govuk-form-group" style="margin-bottom: 0px;">
                <label class="govuk-label   govuk-label--s" for="partialCost">
                    Search for a case URN
                </label>
                <!--       <span id="reference-hint" class="govuk-hint">
                            Enter URN
                        </span> -->
                <input class="govuk-input govuk-!-width-one-half" id="searchURN" name="searchURN" type="text" aria-describedby="FirstName-hint" value="45AA209820" /> <button type="submit" class="govuk-button" style="">Search</button>
            </div>
            </fieldset>
            <!--  <button type="submit" class="govuk-button" style="">Search</button> -->
        </form>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <!-- desktop version of the filters -->
        <div class="notOnMobile">
            <div class="filter-form filtering " style="border: 1px solid #dee0e2;">
                <div id="finder-frontend" class="inner-block">
                    <div style="border-bottom: 1px solid #dee0e2;">
                        <H3 class="govuk-heading-m" style="margin: 10px 0 10px 10px;">Filter </H3>
                    </div>
                    <!--           <div class="filter text-filter" style="margin-top:10px">
                        <div class="govuk-form-group" style="margin-bottom:15px">
                            <label class="govuk-label   govuk-label--s legend" for="partialCost">
                                Area
                            </label>
                            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
                            {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small",
                            idPrefix: "area",
                            name: "area",
                            fieldset: {
                            legend: {
                            text:"",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                            }
                            },
                            hint: {
                            text: ""
                            },
                            items: [
                            {
                            value: "Mersey-Cheshire",
                            text: "Mersey-Cheshire (1)"
                            },
                            {
                            value: "North West",
                            text: "North West (2)"
                            }
                            ]
                            }) }}
                        </div>
                    </div> -->
                    <div class="filter text-filter">
                        <div class="govuk-form-group" style="margin-bottom:15px">
                            <label class="govuk-label   govuk-label--s legend" for="partialCost" style="margin-bottom:15px">
                                Case status
                            </label>
                            {% from "govuk/components/radios/macro.njk" import govukRadios %}
                            {{ govukRadios({
                            classes: "govuk-radios--small",
                            idPrefix: "caseStatus",
                            name: "case-status",
                            fieldset: {
                            legend: {
                            text: "",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                            }
                            },
                            items: [
                            {
                            value: "all",
                            checked: true,
                            text: "All (2)"
                            },
                            {
                            value: "not-yet-charged",
                            text: "Not yet charged (1)"
                            },
                                 {
                            value: "charged",
                            text: "Charged (1)"
                            }
                            ]
                            }) }}
                        </div>
                    </div>
                    <!--                     <div class="filter text-filter">
                        <div class="govuk-form-group">
                            <label class="govuk-label   govuk-label--s legend" for="partialCost">
                                Investigative agency
                            </label>
                            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
                            {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small",
                            idPrefix: "investigativeAgency",
                            name: "investigativeAgency",
                            fieldset: {
                            legend: {
                            text:"",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                            }
                            },
                            hint: {
                            text: ""
                            },
                            items: [
                            {
                            value: "merseyside",
                            text: "Merseyside (1)"
                            },
                            {
                            value: "greater-manchester",
                            text: "Greater Manchester (1)"
                            }
                            ]
                            }) }}
                        </div>
                    </div> -->
                    <!--     <button type="submit" class="govuk-button" style="margin-left:10px">Update results</button> -->
                    <!--  <a class="" href="apprenticeshipsearch">Start again</a> -->
                    </form>
                </div>
            </div>
        </div>
        <!-- End of desktop version of the filters -->
        <!-- mobile version of the filters -->
        <!-- <div class="notOnDesktop">
    <div class="accordion" style="margin-bottom:25px">
        <div class="accordion-section">
            <div class="accordion-section-header">
                <h2 class="govuk-heading-m">Filter </h2>
            </div>
            <div class="accordion-section-body">
                <div class="filter-form filtering ">
                    <div id="finder-frontend" class="">
                        <form method="get" action="searchResults">
                            <div class="govuk-form-group" style="margin-top:15px">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label   govuk-label--s" for="partialCost">
                                    Your location
                                </label>
                                <span id="reference-hint" class="govuk-hint">
                                    Enter postcode, town or city or <a href="">use current location</a>
                                </span>
                                <input class="govuk-input" id="partialCost" name="partialCost" type="text" aria-describedby="FirstName-hint" value="" />
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label   govuk-label--s" for="partialCost">
                                    Within
                                </label>
                                <select class="govuk-select" id="sort" name="sort" style="margin-bottom: 0px; ">
                                    <option value="2 miles">2 miles</option>
                                    <option value="5 miles">5 miles</option>
                                    <option value="15 miles">15 miles</option>
                                    <option value="20 miles">20 miles</option>
                                    <option value="30 miles" selected>30 miles</option>
                                    <option value="40 miles">40 miles</option>
                                    <option value="England">England</option>
                                </select></div>
                            <div class="govuk-form-group">
                                <label class="govuk-label   govuk-label--s" for="partialCost">
                                    Industry
                                </label>
                                <select class="govuk-select" id="sort" name="sort" style="margin-bottom: 5px; width:100%">
                                    <option value="All" selected>All</option>
                                    <option value="Job title">Accountancy</option>
                                    <option value="Description">Agriculture & Horticulture</option>
                                    <option value="Employer">Animal care</option>
                                    <option value="Ref. number">Arts</option>
                                    <option value="Ref. number">Automotive</option>
                                    <option value="Ref. number" selected>Business & administration</option>
                                    <option value="Ref. number">Catering & hospitality</option>
                                    <option value="Ref. number">Childcare</option>
                                    <option value="Ref. number">Cleaning & enviromental</option>
                                    <option value="Ref. number">Constructionn</option>
                                    <option value="Ref. number">Contact center</option>
                                    <option value="Ref. number">Creative & digital media</option>
                                    <option value="Ref. number">Customer service</option>
                                    <option value="Ref. number">Dental</option>
                                    <option value="Ref. number">Education & training</option>
                                    <option value="Ref. number">Employability</option>
                                    <option value="Ref. number">Engineering & manufacturing</option>
                                    <option value="Ref. number">Environmental sciences</option>
                                    <option value="Ref. number">Facilities management</option>
                                    <option value="Ref. number">Fashion & textiles</option>
                                    <option value="Ref. number">Financial services</option>
                                    <option value="Ref. number">Firefighter</option>
                                    <option value="Ref. number">Food manufacturing</option>
                                    <option value="Ref. number">Hairdressing & beauty</option>
                                    <option value="Ref. number">Health & social care</option>
                                    <option value="Ref. number">Horse care</option>
                                    <option value="Ref. number">Human resources</option>
                                    <option value="Ref. number">Insurance</option>
                                    <option value="Ref. number">IT</option>
                                    <option value="Ref. number">Law</option>
                                    <option value="Ref. number">Leisure</option>
                                    <option value="Ref. number">Management & team leading</option>
                                    <option value="Ref. number">Martime & marine operation</option>
                                    <option value="Ref. number">Marketing</option>
                                    <option value="Ref. number">Media & publishing</option>
                                    <option value="Ref. number">Pharmaceutical</option>
                                    <option value="Ref. number">Playwork</option>
                                    <option value="Ref. number">Property services</option>
                                    <option value="Ref. number">Public services & emergency services</option>
                                    <option value="Ref. number">Social media & digital marketing</option>
                                    <option value="Ref. number">Telecommunications</option>
                                    <option value="Ref. number">Transport logistics</option>
                                    <option value="Ref. number">Travel & tourism</option>
                                    <option value="Ref. number">Veterinary nursing</option>
                                    <option value="Ref. number">Warehousing</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label   govuk-label--s" for="partialCost">
                                    Apprenticeship level
                                </label>
                                <select class="govuk-select" id="sort" name="sort" style="margin-bottom: 0px; ">
                                    <option value="All levels" selected>All levels</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Advanced">Advanced</option>
                                    <option value="Higher">Higher</option>
                                    <option value="Degree">Degree</option>
                                </select></div>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                    <label class="govuk-label   govuk-label--s" for="partialCost">
                                        Only show
                                    </label>
                                    <div class="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                                Disability confident
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <button type="submit" class="govuk-button" style="">Update results</button>
                            <a class="" href="apprenticeshipsearch">Start again</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p style="margin:5px 0 5px 0">We've found <span style="font-weight:700">2</span> cases that match 45AA209820</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="column details" style=" float:left">
            <div id="caseOne">
                <div class="twoFlexContainer">
                    <div class="twoFlexItem" style="padding-left:0">
                        <h2 class="govuk-heading-m results-header" style="margin-bottom:5px"><a href="../casefile">45AA209820/1 </a>
                            <span id="reference-hint" class="govuk-hint" style="margin-bottom:5px; margin-top:5px">
                                McLove, Eoin </span>
                        </h2>
                    </div>
                    <div class="twoFlexItem">
                    </div>
                </div>
                <div>
                    <div class="" style="margin-top:5px">
                        <div class="flex-support-meta">
                            <div class=" " style="margin-right:48px; width: 135px">
                                <p style="margin-bottom:0">Date of offense:</p>
                            </div>
                            <div class="WideMobile175" style=" ">
                                <p style="margin-bottom:0">1 June 2020</p>
                            </div>
                        </div>
                        <div class="flex-support-meta">
                            <div class=" " style="margin-right:15px;  width: 260px">
                                <p style="margin-bottom:0">Proposed charges:</p>
                            </div>
                            <div class="WideMobile175" style="  ">
                                <p style="margin-bottom:0"><span style="font-weight:700">Section 39 Common assault</span> 01/06/2020 Contrary to the Criminal Justice Act 1988</p>
                            <!--     <p style="margin-bottom:0"><span style="font-weight:700">Section 5 Drive OPL</span> 01/06/2020</p> -->
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
            <div id="caseTwo">
                <div class="twoFlexContainer">
                    <div class="twoFlexItem" style="padding-left:0">
                        <h2 class="govuk-heading-m results-header" style="margin-bottom:5px"><a href="../casefile">45AA209820/2 </a>
                            <span id="reference-hint" class="govuk-hint" style="margin-bottom:5px; margin-top:5px">
                                McLove, Eoin </span>
                        </h2>
                    </div>
                    <div class="twoFlexItem">
                    </div>
                </div>
                <div class="flex-support-meta">
                    <div class=" " style="margin-right:46px; width: 135px">
                        <p style="margin-bottom:0">Court hearing:</p>
                    </div>
                    <div class="WideMobile175" style=" ">
                        <p style="margin-bottom:0">5 July 2020</p>
                    </div>
                </div>
                <div class="flex-support-meta">
                    <div class=" " style="margin-right:100px;  width: 125px">
                        <p style="margin-bottom:0">Charges:</p>
                    </div>
                    <div class="WideMobile175" style="  ">
                        <p style="margin-bottom:0"><span style="font-weight:700">Section 39 Common assault</span> 01/06/2020 Contrary to the Criminal Justice Act 1988</p>
                        <!--     <p style="margin-bottom:0"><span style="font-weight:700">Section 5 Drive OPL</span> 01/06/2020</p> -->
                    </div>
                </div>
                 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
           
            <div style="clear:both"></div>
        </div>
        <!--div class="shortlist app"><i class="fa fa-star-o "></i><span>Save</span></div-->
    </div>
</div>
</div>
</main>
{% endblock %}