{% extends "layoutCPS-NEW-CASEFILE.html" %}
{% block header %}
{% include "../includes/banner-V6.html" %}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()",
attributes: {
style: "margin-top:15px !important"
}
}) }}
{% endblock %}
{% block content %}
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('select.autocomplete-element').forEach(function (selectEl) {
      // Guard against double-init (e.g. if content is toggled)
      if (selectEl.dataset.aaInitialised === 'true') return;

      accessibleAutocomplete.enhanceSelectElement({
        selectElement: selectEl,
        autoselect: false,
        defaultValue: '',
        minLength: 2,
        placeholder: '',
        showAllValues: false,
        confirmOnBlur: false,
        // make sure the generated input has a unique id
        id: selectEl.id + '-aa',
        name: selectEl.name   // preserves form submission name
      });

      selectEl.dataset.aaInitialised = 'true';
    });
  });
</script>
<script>
    $(document).ready(function() {
    $('#global-navigation').show();
    $('.my-cases').attr('aria-current', 'page');
    // $('.sub-overview').attr('aria-current', 'page');

});
</script>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" action="DTMMCourt">
                <!-- <h1 class="govuk-heading-xl">Are you</h1> -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading" style="padding-top:40px">
                                Search for a case
                            </h1>
                            <div id="event-name-hint" class="govuk-hint">
    Select one option
  </div>
                        </legend>
                        <!--                         <div id="contact-hint" class="govuk-hint">
                            Select one option
                        </div> -->
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                <label class="govuk-label govuk-radios__label " for="contact">
                                    URN
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                                <div class="govuk-form-group">
                                    <label class="govuk-label " for="contact-by-email">
                                        URN
                                    </label>
                                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                                <label class="govuk-label govuk-radios__label" for="contact-2">
                                    Defendant
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="contact-by-phone">
                                        Defendant last name
                                    </label>
                                    <input class="govuk-input govuk-!-width-one-half" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="cms-area">
                                        CMS area
                                    </label>
                                    <div class=" autocomplete-wrapper govuk-!-width-one-half">
                                        <select class="autocomplete-element " id="school-name" name="school-name">
                                            <option value="" disabled selected>Select an area</option>
                                            {% import 'includes/area-list.html' as areaData %}
                                            {% for area in areaData.areas %}
                                            <option name="school-name" value="{{area.name}}">{{area.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-5" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-5">
                                <label class="govuk-label govuk-radios__label" for="contact-5">
                                    CMS area
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-5">
                                 <div class="govuk-form-group">
                                    <label class="govuk-label" for="cms-area">
                                        CMS area
                                    </label>
                                    <div class=" autocomplete-wrapper govuk-!-width-one-half">
                                        <select class="autocomplete-element " id="school-name" name="school-name">
                                            <option value="" disabled selected>Select an area</option>
                                            {% import 'includes/area-list.html' as areaData %}
                                            {% for area in areaData.areas %}
                                            <option name="school-name" value="{{area.name}}">{{area.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="CMS-area">
                                        Unit 
                                    </label>
                                    <input class="govuk-input govuk-!-width-one-half" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
                                </div>
                            </div>
                            <!--                             <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
                                <label class="govuk-label govuk-radios__label" for="contact-3">
                                    Prosecutor
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="contact-by-text">
                                        Prosecutor name
                                    </label>
                                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-4" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-4">
                                <label class="govuk-label govuk-radios__label" for="contact-4">
                                    Paralegal officer
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-4">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="Paralegal-officer">
                                        Paralegal officer name
                                    </label>
                                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
                                </div>
                            </div> -->
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Search </button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}