{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<style>
    .govuk-summary-list__key {
    width: 40%;
}
    </style>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your answers</h1>
        <h2 class="govuk-heading-m">Travel</h2>
        <dl class="govuk-summary-list">
            <!-- <div class="govuk-summary-list__row"></div> -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you want to claim for travel to and from the court?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
                     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How did you travel to court?    
                </dt>
                <dd class="govuk-summary-list__value">
                    Car
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
        </dl>
         <h2 class="govuk-heading-m">Travel (Car)</h2>
        <dl class="govuk-summary-list">
            <!-- <div class="govuk-summary-list__row"></div> -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Are you claiming the higher rate?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Why are you claiming the higher mileage rate?   
                </dt>
                <dd class="govuk-summary-list__value">
                    There was no public transport
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>

                     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Why are you claiming the higher mileage rate?   
                </dt>
                <dd class="govuk-summary-list__value">
                    There was no public transport
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
                     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   How many miles are you claiming for?  
                </dt>
                <dd class="govuk-summary-list__value">
                    177
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
                     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Did you pay for parking?   
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
                     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total cost of parking   
                </dt>
                <dd class="govuk-summary-list__value">
                    £10
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
                     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have all your parking receipts?   
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
                     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Did you have to pay any other driving costs?   
                </dt>
                <dd class="govuk-summary-list__value">
                    No
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
        </dl>





        <!-- <h2 class="govuk-heading-m">Amount payable</h2>
        <p>We will now review your claim - the amount you receive may change when we have completed our checks. </p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Food and drink
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                    £2.25
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Travel
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                    £30.50
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Accommodation
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                    £30.50
                </dd>
            </div>
             <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width:40%">
                    Overnight food and drink
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                    £26.00
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions" style="font-weight:700">
                    £32.75
                </dd>
            </div>
        </dl> -->
        <form action="../claim3#all-details" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Submit
                </button>
                <a class="govuk-link" href="#">Cancel</a>
        </form>
    </div>
</div>
</div>
</main>
{% endblock %}