{% extends "layout.html" %}
{% block header %}
{% include "includes/cps/v11/banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "includes/cps/universal-header-tweak.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Motorbike or scooter</span>
            How many additional witnesses are you claiming for?
        </h1>
                   <p></p>
 
        <form action="miles" method="get" class="miles">
            <div class="govuk-form-group">
<!--                 <label class="govuk-label  bold-label" for="code">
                    How many hours were you away from home?
                </label>
                <span id="email-hint" class="govuk-hint">
                    This includes travelling to and from court
                </span> -->
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="otherWitTotal" name="otherWitTotal" type="text" spellcheck="false">
                </div>
            </div>


            <button class="govuk-button">Continue</button>
        </form>
    </div>
    </main>
</div>
{% endblock %}